// editor styles

.block-editor-block-list__block {
    .zolo-navigation-menu {
        .block-list-appender.block-list-appender {
            position: relative;
            margin: 0;
            height: auto;
            width: auto;

            button {
                color: var(--zoloblocks-brand-color) !important;
                border: 2px solid var(--zoloblocks-brand-color) !important;
                border-radius: 6px !important;
                box-shadow: none !important;
            }
        }
    }
    .submenu-type-megamenu {
        .zolo-megamenu-content {
            .block-list-appender.block-list-appender {
                width: 100%;
                margin: 10px;
                box-sizing: border-box;
                .block-editor-button-block-appender {
                    height: auto;
                }
            }
        }
        .zolo-navigation-item-appender-button {
            width: 100%;
            height: 50px;
            box-sizing: border-box;
            background: transparent;
        }
    }
}

.zolo-navigation-variation-picker {
    .components-placeholder {
        border: 1px solid #bebebe;
        box-shadow: none;
        padding: 40px;
        align-items: center;
    }

    .components-placeholder__label {
        font-size: 24px;
        text-transform: capitalize;
        font-weight: 600;

        svg {
            width: 40px;
            height: 40px;
        }
    }

    .block-editor-block-variation-picker__variations {
        gap: 20px;
        li {
            border: 1px solid #e5e5e5;
            padding: 20px;
            border-radius: 6px;
            min-width: 200px;
            min-height: 100px;
            transition: all 0.3s ease;
            position: relative;
            flex-direction: column-reverse;

            &:hover,
            &.is-selected {
                border-color: var(--zoloblocks-brand-color);
                outline: 1px solid var(--zoloblocks-brand-color);
            }

            .block-editor-block-variation-picker__variation {
                position: absolute;
                width: 100%;
                height: 100%;
                z-index: 99;
            }
        }
    }

    .components-placeholder__instructions {
        font-size: 14px;
    }

    .components-placeholder__fieldset {
        margin-top: 20px;
        width: auto;
        justify-content: center;
    }

    .block-editor-block-variation-picker__variation-label {
        font-size: 14px;
        font-weight: 600;
        position: absolute;
        display: block;
        width: 100%;
        text-align: center;
        text-wrap: nowrap;
    }
}
