.wp-block-zolo-post-meta {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 14px;

    .zolo-meta-info,
    .zolo-meta-info a {
        display: flex;
        align-items: center;
        gap: 6px;
        font-size: 16px;
        color: #7c7b7f;
        font-weight: 400;
        text-decoration: none;
        line-height: 1;
        outline: none;
        transition: all 0.3s ease-in-out;
    }

    .zolo-meta-info a:hover {
        color: #45454c;
    }

    .zolo-meta-info.terms .zolo-text {
        display: flex;
        gap: 5px;
        flex-wrap: wrap;
    }

    .zolo-icon {
        svg {
            width: 20px;
            height: 20px;
            display: block;
            color: currentColor;
        }
    }

    .zolo-separator {
        color: #005cff;
    }

    &.separator-dot {
        .zolo-separator {
            width: 5px;
            height: 5px;
            border-radius: 50%;
            background-color: #005cff;
        }
    }

    &.separator-line {
        .zolo-separator {
            width: 14px;
            height: 2px;
            background-color: #005cff;
        }
    }
}
