.wp-block-zolo-star-rating {
    .start-rating-wrapper {
        display: flex;
        .star-rating-inner {
            display: flex;
            justify-content: center;
            align-items: center;
            &.top {
                flex-direction: column;
            }
            &.bottom {
                flex-direction: column-reverse;
            }
            &.left {
                flex-direction: row;
            }
            &.right {
                flex-direction: row-reverse;
            }
        }
    }

    .start-rating-title {
        margin: 0 !important;
    }

    .star-rating-inner {
        gap: 10px;
    }
}
