.wp-block-zolo-star-rating {
    --zolo-star-rating-gap: 3px;
    --zolo-start-rating-color: #f0ad4e;
    --zolo-star-rating-size: 18px;
    --zolo-rating-title-margin: 0;
    --zolo-star-rating-inner-gap: 10px;
    
    .start-rating-wrapper {
        display: flex;
    }
    .star-rating-inner {
        display: flex;
        justify-content: center;
        align-items: center;
        &.top {
            flex-direction: column;
        }
        &.bottom {
            flex-direction: column-reverse;
        }
        &.left {
            flex-direction: row;
        }
        &.right {
            flex-direction: row-reverse;
        }
    }

    .zolo-star-rating {
        display: inline-flex;
        gap: var(--zolo-star-rating-gap);
        svg {
            width: var(--zolo-star-rating-size);
            height: var(--zolo-star-rating-size);
            fill: var(--zolo-start-rating-color);
        }
    }

    .start-rating-title {
        margin: var(--zolo-rating-title-margin) !important;
    }

    .star-rating-inner {
        gap: var(--zolo-star-rating-inner-gap);
    }
}
