.wp-block-zolo-list {
    display: grid;
    grid-gap: 1px;

    .zolo-list-item {
        text-decoration: none;
    }
    .zolo-list-icon {
        display: inline-block;
        padding: 10px;
        color: #1641f7;
        background-color: #dae1ff;
        border-radius: 3px;
        transition: all 0.2s ease;
    }

    .zolo-list-item:hover .zolo-list-icon {
        background-color: #b9c4f3;
    }

    .zolo-list-title {
        font-size: 18px;
        font-weight: 500;
        color: #4e5061;
        margin-top: 10px;
        display: block;
        transition: all 0.2s ease;
    }

    // .zolo-list-item:hover .zolo-list-title {
    //     color: #09090b;
    // }

    .zolo-list-desc {
        color: #636483;
        font-size: 14px;
        margin: 10px 0 0;
    }

    /* Demo css style 1  */

    &.zolo-list-style-1 {
        grid-gap: 10px;
    }

    &.zolo-list-style-1 .zolo-list-title {
        margin: 0;
    }

    /* Demo css style 1,2,3,4  */

    &.zolo-list-style-1 .zolo-list-desc,
    &.zolo-list-style-1 .zolo-list-icon {
        display: none;
    }

    /* Demo css style 2,3  */
    &.zolo-list-style-3 .zolo-list-item,
    &.zolo-list-style-4 .zolo-list-item {
        display: inline-flex;
        align-items: flex-start;
        gap: 15px;
    }

    &.zolo-list-style-3 .zolo-list-title,
    &.zolo-list-style-4 .zolo-list-title {
        margin: 0;
        line-height: 1;
    }
    &.zolo-list-style-4 .zolo-list-hover-icon {
        transform: translateX(-10px);
    }
    &.zolo-list-style-4 .zolo-list-item:hover {
        transform: translateY(-5px);
        background-color: #fff;
        box-shadow: 0 5px 30px 0 rgba(123, 136, 168, 0.2);
    }

    .zolo-list-item,
    .zolo-list-item,
    .zolo-list-item {
        padding: 20px;
        border-radius: 6px;
        background-color: transparent;
        // transition: all 0.3s ease;
    }
    //zolo list hover
    .zolo-list-icon svg,
    .zolo-list-hover-icon svg {
        display: block;
        width: 16px;
        height: 16px;
    }
    .zolo-list-hover-icon {
        color: #1641f7;
        opacity: 0;
        visibility: hidden;
        transition: all 0.3s ease;
    }

    .zolo-list-item:hover .zolo-list-hover-icon {
        transform: translateX(0);
        visibility: visible;
        opacity: 1;
    }

    // .zolo-list-item:hover,
    // .zolo-list-item:hover,
    // .zolo-list-item:hover {
    //     background-color: #fff;
    //     box-shadow: 0 5px 30px 0 rgb(123 136 168 / 20%);
    // }
    // .zolo-list-item:hover {
    //     transform: scale(1.05);
    // }

    // .zolo-list-item:hover {
    //     transform: scale(1.05) rotate(-3deg);
    // }

    // .zolo-list-item:hover {
    //     transform: translateY(-5px);
    // }

    // @media (min-width: 768px) {
    //     .zolo-list-wrap {
    //         grid-template-columns: repeat(2, 1fr);
    //     }
    // }

    // @media (min-width: 1024px) {
    //     .zolo-list-wrap {
    //         grid-template-columns: repeat(4, 1fr);
    //     }
    // }
}
