.zolo-menu-grid-wrap {
    --zolo-item-gap: 20px;
    --zolo-item-height: 250px;
    --zolo-img-placeholder-margin: 20px;
    --zolor-title-text-color: #3c4356;
    --zolo-title-margin: 0 0 0px;

    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: var(--zolo-item-gap);
    box-sizing: border-box;
    // overflow: hidden;
    a {
        text-decoration: none !important;
    }

    .zolo-menu-item {
        position: relative;
        height: var(--zolo-item-height);
        background-color: #f1f1f1;
        box-sizing: border-box;
        overflow: hidden;
    }

    .zolo-menu-image {
        display: flex;
        align-items: center;
        justify-content: center;
        height: 100%;
        .components-placeholder {
            margin: var(--zolo-img-placeholder-margin);
        }
    }

    .zolo-menu-image img {
        display: block;
        width: auto;
        height: auto;
        box-sizing: border-box;
    }

    .zolo-menu-content {
        position: absolute;
        background-color: #fff;
        top: 0;
        left: 0;
        height: 100%;
        width: 100%;
        box-sizing: border-box;
    }

    .zolo-menu-title {
        font-size: 32px;
        margin: var(--zolo-title-margin);
        text-transform: capitalize;
        transition: all 0.3s ease;
    }

    .zolo-menu-title-link {
        font-size: 18px;
        font-weight: 300;
        color: var(--zolo-img-placeholder-margin);
        display: block;
        transition: all 0.3s ease;
    }

    .zolo-menu-title-link.has-link:hover {
        color: var(--zoloblocks-brand-color-hover);
    }

    .zolo-menu-inner-content {
        text-align: center;
    }

    .zolo-menu-content {
        top: 0;
        height: 100%;
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        opacity: 0;
        visibility: hidden;
        transition: all 0.3s ease;
    }

    .has-photo.zolo-menu-item:hover .zolo-menu-content {
        opacity: 1;
        visibility: visible;
    }
    &.zolo-menu-style-1 .zolo-menu-title {
        transform: translateX(-40px);
    }

    &.zolo-menu-style-1 .zolo-menu-title-link {
        transform: translateX(40px);
    }

    &.zolo-menu-style-2 .zolo-menu-title {
        transform: translateY(-20px);
    }
    &.zolo-menu-style-2 .zolo-menu-title-link {
        transform: translateY(20px);
    }

    &.zolo-menu-style-1 .zolo-menu-item:hover .zolo-menu-title,
    &.zolo-menu-style-1 .zolo-menu-item:hover .zolo-menu-title-link {
        transform: translateX(0);
    }

    &.zolo-menu-style-2 .zolo-menu-item:hover .zolo-menu-title,
    &.zolo-menu-style-2 .zolo-menu-item:hover .zolo-menu-title-link {
        transform: translateY(0);
    }

    &.zolo-menu-style-1 .zolo-menu-icon,
    &.zolo-menu-style-2 .zolo-menu-icon,
    &.zolo-menu-style-3 .zolo-menu-icon{
        display: none;
    }

    &.zolo-menu-style-2 .zolo-menu-content {
        align-items: start;
        justify-content: end;
    }

    // Style 3 pro css
    &.zolo-menu-style-3 {
        .zolo-menu-item {
            &:hover {
                .zolo-menu-content {
                    height: 100%;
                }
                .zolo-menu-title,
                .zolo-menu-title-link {
                    transform: translateY(0);
                    opacity: 1;

                }
                .zolo-menu-title {
                    transition-delay: .2s;
                }
                .zolo-menu-title-link {
                    transition-delay: .3s;
                }
                .zolo-menu-image {
                    img {
                        transform: translateY(-20px);
                    }
                }
            }
        }
        .zolo-menu-content {
            top: unset;
            bottom: 0;
            height: 0;
        }
        // .zolo-menu-inner-content {
        //     overflow: hidden;
        // }
       .zolo-menu-title,
       .zolo-menu-title-link {
           opacity: 0;
           transform: translateY(16px);
           transition: transform 350ms cubic-bezier(0.165, 0.84, 0.44, 1), opacity 350ms cubic-bezier(0.165, 0.84, 0.44, 1);
        }
        .zolo-menu-image {
            img {
                transition: all .3s ease;
            }
        }
    }
}

/* Demo style 1 & style 2 css  */
