.wp-block-zolo-fancy-list {
    box-sizing: border-box;
    .zolo-fancy-list-container {
        display: grid;
        // grid-template-columns: repeat(2, 1fr);
        align-items: center;
        // gap: 15px;
        .wp-block-zolo-fancy-list-child{
            text-decoration: none;
        }
    }
}
