.wp-block-zolo-fancy-list {
    display: flex;
    align-items: center;
    gap: 15px;
    background-color: #f2f2f3;
    justify-content: space-between;
    padding: 30px;
    box-sizing: border-box;
    overflow: hidden;
    border-radius: var(--zolo-item-border-radius);

    .zb-fancy-list-content {
        display: flex;
        align-items: center;
        gap: 10px;
        flex: 1;
    }

    .zb-fancy-list-inner-content {
        flex: 1;
    }

    .zb-fancy-list-title {
        margin: 0;
        font-size: 20px;
        color: #06031d;
    }

    .zb-fancy-list-text {
        font-size: 14px;
        color: #595760;
        font-weight: 400;
    }

    .zb-fancy-icon,
    .zb-fancy-list-number {
        width: 40px;
        height: 40px;
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: #ffff;
        border-radius: var(--zoloblocks-button-border-radius);
    }

    .zb-fancy-list-number {
        box-sizing: border-box;
        border-radius: var(--zoloblocks-button-border-radius);
    }

    .zb-fancy-list-image {
        width: 50px;
        height: 50px;
        border-radius: var(--zolo-item-border-radius);
        overflow: hidden;
        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
            display: block;
        }
    }

    &.style-5 {
        flex-direction: row-reverse;
        .zb-fancy-list-item,
        .zb-fancy-list-content {
            flex-direction: row-reverse;
            text-align: right;
        }
    }
}
