/*!********************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/css-loader/dist/cjs.js??ruleSet[1].rules[3].use[1]!./node_modules/postcss-loader/dist/cjs.js??ruleSet[1].rules[3].use[2]!./node_modules/sass-loader/dist/cjs.js??ruleSet[1].rules[3].use[3]!./src/controls/scss/controls.scss ***!
  \********************************************************************************************************************************************************************************************************************************************************/
.zb-res-range-control-wrapper .components-range-control {
  flex-grow: 1;
}
.zb-res-range-control-wrapper .components-range-control .components-input-control {
  margin-left: 8px !important;
  width: 70px !important;
}
.zb-res-range-control-wrapper .components-range-control .components-input-control input {
  height: 26px !important;
  line-height: 26px;
  max-width: 100%;
  min-height: 26px !important;
  padding: 0 10px !important;
  text-align: center !important;
  width: auto !important;
}
.zb-res-range-control-wrapper .components-range-control .components-input-control .components-input-control__backdrop {
  border-color: #e8e8e8 !important;
}

.zb-res-device-btns .res-btn-label {
  display: inline-block;
  color: #5f5f5f !important;
  font-size: 12px !important;
  font-weight: 500 !important;
  line-height: 16px !important;
  min-height: auto;
  text-transform: capitalize !important;
  margin-right: 8px;
}
.zb-res-device-btns .res-btn {
  background-color: #e8e8e8;
  border-radius: 3px;
  color: #5f5f5f;
  cursor: pointer;
  font-size: 11px;
  height: 18px;
  line-height: 18px;
  margin: 0 8px 5px 0;
  position: relative;
  text-align: center;
  width: 18px;
}
.zb-res-device-btns .res-btn.active {
  color: red !important;
}

.zb-res-device-btn-wrapper .zb-component-wrapper {
  display: flex;
}
.zb-res-device-btn-wrapper .zb-component-wrapper .zb-reset-button {
  background: transparent;
  border: none;
  box-shadow: none;
  cursor: pointer;
  height: 26px;
  margin-left: 2px;
  outline: none;
  padding: 0;
  width: 20px;
}
.zb-res-device-btn-wrapper .zb-component-wrapper .zb-reset-button .dashicon {
  align-items: center;
  color: #62626f;
  display: flex;
  font-size: 14px;
  justify-content: center;
  transform: scaleX(-1) rotate(90deg);
  width: 20px;
}

.zb-unit-control-btn-group {
  display: block;
  margin: 0 0 -20px;
  text-align: right;
}
.zb-unit-control-btn-group .zb-unit-control-btn {
  display: inline-block;
  font-size: 10px;
  box-shadow: none !important;
  border: none !important;
  text-transform: uppercase;
  height: 20px !important;
  padding: 0 0 0 6px;
  background-color: transparent;
}
.zb-unit-control-btn-group .zb-unit-control-btn:hover {
  background-color: initial;
  box-shadow: none !important;
  background-color: transparent !important;
}
.zb-unit-control-btn-group .zb-unit-control-btn.zb-unit-active {
  color: red !important;
  font-weight: 700;
}

.zb-res-alignment-control-wrapper .components-button-group {
  flex-grow: 1;
  display: flex;
}
.zb-res-alignment-control-wrapper .components-button-group .components-button {
  display: flex;
  flex: 1;
  justify-content: center;
  align-items: center;
  padding-bottom: 6px;
  padding-top: 6px;
  color: #5f5f5f;
}
.zb-res-alignment-control-wrapper .components-button-group .components-button.is-primary {
  background: #cebeff;
  box-shadow: inset 0 0 0 1px #b299ff !important;
  color: red;
}
.zb-res-alignment-control-wrapper .components-button-group .components-button:first-child {
  border-bottom-left-radius: 5px;
  border-top-left-radius: 5px;
}
.zb-res-alignment-control-wrapper .components-button-group .components-button:last-child {
  border-bottom-right-radius: 5px;
  border-top-right-radius: 5px;
}

.zb-reset-button .dashicon {
  color: #62626f;
  font-size: 14px;
}

.zb-color-control-wrapper .color-label .components-base-control__label {
  flex: 10;
  margin-right: 0 !important;
}
.zb-color-control-wrapper .color-label .components-dropdown {
  flex: 1;
}
.zb-color-control-wrapper .color-label > div {
  align-items: center;
  display: flex;
  justify-content: space-between;
}
.zb-color-control-wrapper .color-ball {
  background-image: linear-gradient(45deg, #ddd 25%, transparent 0), linear-gradient(-45deg, #ddd 25%, transparent 0), linear-gradient(45deg, transparent 75%, #ddd 0), linear-gradient(-45deg, transparent 75%, #ddd 0);
  background-position: 0 0, 0 5px, 5px -5px, -5px 0;
  background-size: 10px 10px;
  border-radius: 50%;
}
.zb-color-control-wrapper .color-ball > div {
  border-radius: 20px !important;
  height: 25px !important;
  width: 25px !important;
}

.zb-dimension-container .input-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.zb-dimension-container .input-container .input-wrap {
  display: flex;
  flex-direction: column;
  width: 25%;
}
.zb-dimension-container .input-container .input-wrap input {
  border-color: #ebebeb !important;
  color: #1e1e1e;
  height: 30px !important;
}
.zb-dimension-container .input-container .input-wrap input {
  border: 1px solid #ddd;
  border-left-width: 0;
  border-radius: 0;
  height: 30px;
  margin: 0;
  min-height: 30px;
  padding: 0;
  text-align: center;
  width: 100%;
  color: #1e1e1e;
}
.zb-dimension-container .input-container .input-wrap input:focus {
  box-shadow: none;
}
.zb-dimension-container .input-container .input-wrap:first-child input {
  border-radius: 4px 0 0 4px;
  border-width: 1;
}
.zb-dimension-container .input-container .input-wrap:first-child:last-child input {
  border-radius: 0 4px 4px 0;
}
.zb-dimension-container .input-container .input-wrap .input-label {
  font-size: 12px;
  text-align: center;
}
.zb-dimension-container .input-container .zb-linked-btn {
  box-shadow: none !important;
  background: transparent !important;
  color: red !important;
}
.zb-dimension-container .input-container .zb-linked-btn.dashicons {
  font-family: "dashicons";
}

.zb-typography-component-panel .components-base-control .components-input-control__backdrop {
  border-color: #ddd;
  border-radius: 3px;
  box-shadow: none;
}
.zb-typography-component-panel .components-base-control .components-select-control__input {
  font-size: 12px;
  height: 35px;
  color: #64646a;
}

.zb-typography-component-panel {
  min-width: 240px;
  background-color: #fff;
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 10px;
}
.zb-typography-component-panel .components-base-control__field {
  margin: 0;
}
.zb-typography-component-panel label {
  font-weight: 500;
  font-size: 11px;
  color: #2e3238;
}
.zb-typography-component-panel .css-qbdosj-Input {
  margin: 0;
  padding: 0 12px;
  outline: none;
}
.zb-typography-component-panel .zb-reset-button {
  display: inline-flex;
  align-items: center;
  justify-content: flex-end;
  width: 100%;
  background-color: transparent;
  border: 0;
  padding: 0;
}
.zb-typography-component-panel .zb-reset-button .dashicon {
  color: #3d3d40;
  font-size: 10px;
  height: 30px;
  width: 30px;
  line-height: 30px;
  border: 1px solid #ddd;
  cursor: pointer;
  border-radius: 3px;
}
.zb-typography-component-panel .zb-res-device-btn-wrapper {
  position: relative;
}
.zb-typography-component-panel .zb-res-device-btn-wrapper .zb-res-device-btns {
  position: absolute;
  left: 70px;
}
.zb-typography-component-panel .zb-res-device-btn-wrapper.zb-letter-spacing .zb-res-device-btns {
  left: 95px;
}
.zb-typography-component-panel .zb-range-controller-container {
  align-items: flex-start;
  display: flex;
}
.zb-typography-component-panel .zb-range-controller-container .components-range-control {
  flex: 1;
}
.zb-typography-component-panel .zb-range-reset-button {
  background: transparent;
  border: none;
  box-shadow: none;
  cursor: pointer;
  height: 26px;
  margin-left: 2px;
  margin-top: 20px;
  outline: none;
  padding: 0;
  width: 20px;
}
.zb-typography-component-panel .zb-range-reset-button .dashicon {
  align-items: center;
  color: #62626f;
  display: flex;
  font-size: 14px;
  justify-content: center;
  transform: scaleX(-1) rotate(90deg);
  width: 20px;
}

/* width */
.components-popover__content {
  /* Track */
  /* Handle */
}
.components-popover__content::-webkit-scrollbar {
  width: 3px;
}
.components-popover__content::-webkit-scrollbar-track {
  background: #fff;
}
.components-popover__content::-webkit-scrollbar-thumb {
  background: #e2e2e2;
}

.zb-image-avatar-control {
  background-repeat: no-repeat;
  background-size: cover;
  height: 200px;
  margin-bottom: 8px;
  padding: 2px;
  width: 100%;
}

.zb-typography-control-wrapper .components-base-control__field {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.zb-boxshadow-control-wrap .components-base-control__field {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.zb-boxshadow-content-wrap {
  background-color: #f7f7f7;
}
.zb-boxshadow-content-wrap .components-base-control__field .components-button-group {
  display: flex;
}
.zb-boxshadow-content-wrap .components-base-control__field .components-button-group .components-button {
  align-items: center;
  display: flex;
  flex: 1;
  justify-content: center;
  padding-bottom: 6px;
  padding-top: 6px;
}
.zb-boxshadow-content-wrap .zb-control-container {
  display: flex;
  align-items: flex-start;
}
.zb-boxshadow-content-wrap .zb-control-container .components-range-control {
  flex: 1;
  margin-bottom: 8px;
}
.zb-boxshadow-content-wrap .zb-control-container .zb-reset-button {
  background: transparent;
  border: none;
  box-shadow: none;
  cursor: pointer;
  height: 26px;
  margin-left: 2px;
  margin-top: 20px;
  outline: none;
  padding: 0;
  width: 20px;
}
.zb-boxshadow-content-wrap .components-base-control__label {
  font-size: 13px;
  text-transform: capitalize !important;
  color: #5f5f5f;
}

.zolo-tab-panel .components-tab-panel__tabs {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid #ddd;
  margin-bottom: 16px;
  border-radius: 3px;
}
.zolo-tab-panel .zolo-tab {
  width: 100%;
  text-align: center;
  align-items: center;
  justify-content: center;
  padding: 8px;
  height: auto;
  line-height: 1;
}
.zolo-tab-panel .zolo-tab.normal {
  border-right: 1px solid #ddd;
}
.zolo-tab-panel .zolo-tab.active-tab {
  background: #ddd;
}
.zolo-tab-panel .components-tab-panel__tabs-item:focus:not(:disabled) {
  box-shadow: none;
}

.eb-parent-tab-panel .block-editor-link-control {
  min-width: auto;
}
.eb-parent-tab-panel .block-editor-link-control__search-item.is-current,
.eb-parent-tab-panel .block-editor-link-control__tools {
  padding: 16px 0;
}
.eb-parent-tab-panel .components-button.has-icon {
  width: 20px;
  min-width: auto;
  padding: 0px;
}
.eb-parent-tab-panel .zb-bg-control-img-btn {
  width: 100% !important;
  display: flex;
  align-items: center !important;
  justify-content: center !important;
  min-height: 160px;
  border: 1px solid #ddd;
  border-radius: 3px;
  flex-direction: column;
}
.eb-parent-tab-panel .zb-bg-control-img-btn:hover {
  cursor: crosshair;
}
.eb-parent-tab-panel .zb-bg-control-img-btn .dashicon {
  margin-bottom: 5px;
}

/*# sourceMappingURL=style.css.map*/