.zb-device-label-area {
	display: flex;
	padding: 10px 0px;
	gap: 5px;
}
.zolo-panel-control {
	.zb-res-device-btn-wrapper {
		.zb-component-wrapper {
			align-items: center;
			gap: 5px;
		}
	} 

	.zb-res-alignment-control-wrapper {
		.zb-align-control-btn-group {
			padding: 4px;
			border-radius: 6px;
			border: 1px solid #ddd;
		}
		.components-button-group {
			.components-button {
				color: #000;
				span {
					font-size: 16px;
					width: 16px;
					height: 16px;
				}
				&.is-primary {
					background: #000;
					box-shadow: none !important;
					color: #fff;
					border-radius: 6px !important;
				}
				&:hover {
					box-shadow: none !important;
				}
			}
		} 

		.zb-res-device-btns {
			display: flex;
			align-items: center;
			gap: 8px;
			.res-btn.active {
				color: #001FEB !important;
			}
			.res-btn {
				width: 25px;
				height: 25px;
				line-height: 25px;
				margin: 0;
				background-color: #EBEBF5;
			}
			.res-btn-label {
				margin: 0;
			}
		}

		.zb-reset-button {
			height: 40px;
			width: 40px;
			padding: 10px;
			border-radius: 4px;
			background-color: #EBEBF5;
		}
	}
}

