.zolo-box-shadow {
    position: relative;
    margin-bottom: 24px;
	.color-ball-btn {
		background: none;
		border: none;
		box-shadow: none;
		cursor: pointer;
		margin: 0;
		padding: 0;
		height: auto;
		.component-color-indicator.color-ball {
			background-image: linear-gradient(45deg, #ddd 25%, transparent 0),
				linear-gradient(-45deg, #ddd 25%, transparent 0),
				linear-gradient(45deg, transparent 75%, #ddd 0),
				linear-gradient(-45deg, transparent 75%, #ddd 0);
			background-position: 0 0, 0 5px, 5px -5px, -5px 0;
			background-size: 10px 10px;
			border-radius: 50%;
			border: none !important;
		}
		.component-color-indicator {
			height: 26px !important;
			width: 26px !important;
		}
	}

	.zb-units-wrapper {
		top: -3px;
	}

	.shadow-color-picker-btn {
		display: flex;
		align-items: center;
		order: 3;
	}

	.shadow-style-btn-group {
		display: flex;
		align-items: stretch;
		border: 1px solid #ddd;
		margin: 8px 0;
		border-radius: 6px;
		.shadow-style-btn {
			width: 100%;
			justify-content: center;
			margin: 4px;
			border-radius: 6px;
			&.active {
				background: #000;
				color: #fff;
			}
		}
	}

	.zolo-box-shadow-options {
		display: flex;
		align-items: stretch;
		justify-content: space-between;
		gap: 5px;
		.single-shadow-input {
			display: flex;
			flex-direction: column;
			justify-content: space-between;
			gap: 5px;
			align-items: center;
			.components-number-control {
				margin: 0;
			}
		}
	}
}
