.zolo-codemirror-wrap {
	.ͼ1.cm-focused {
		outline-style: solid;
		outline-color: #001feb;
	}

	.zolo-help-text {
		margin-top: calc(8px);
		font-size: 12px;
		font-style: normal;
		color: rgb(117, 117, 117);
	}
}