.zolo-panel-control {
	.components-button {
		color      : #050505;
		font-weight: 400;
		font-size  : 13px;
		box-shadow : none;
	}
	.components-truncate.components-text {
		font-size: 13px !important;
		text-transform: capitalize !important;
	}
	.zolo-tab-controls {
		.components-base-control {
			input,
			select {
				height       : 40px !important;
				border       : 1px solid #ddd;
				outline      : none !important;
				border-radius: 6px;
				padding      : 0 12px;
				&:focus {
					border-color: #001FEB;
					box-shadow  : none !important;
				}
			}
		}
		.components-input-control__backdrop {
			border    : none !important;
			box-shadow: none !important;
		}
	}

}

.components-form-toggle.is-checked {
	.components-form-toggle__track {
		background-color: #001FEB;
	}
} 

.components-form-toggle .components-form-toggle__input:focus+.components-form-toggle__track {
	box-shadow: none;
}

.components-form-toggle .components-form-toggle__track {
	background-color: #D8D8E5;
	border          : none;
}

.components-form-toggle .components-form-toggle__thumb {
	background-color: #fff;
	border          : 5px solid #fff;
}

.components-flex.components-h-stack {
	height: auto !important;
}