.zolo-panel-control {
	.zolo-tab-group {
		display: flex;
	}
	.zolo-tab {
		flex-direction: column;
		gap: 10px;
		height: auto;
		width: 100%;
		svg {
			width: 24px;
		}
		.zolo-tab-label {
			margin: 0;
			padding: 0;
		}
	}
}
