.zolo-iconic-btn-group {
	margin-bottom: 18px;
	.zb-iconic-btn-group {
		display: flex;
		width: 100%;
		border: 1px solid #ddd;
		border-radius: 6px;
		.components-button {
			border-radius: 6px !important;
		}
	}

	.iconic-btn svg {
		width: 20px !important;
		height: 20px !important;
	}

	.iconic-btn-label {
		margin-bottom: 8px;
		display: block;
	}

	.iconic-btn {
		width: 100%;
		justify-content: center;
	}

	.iconic-btn.active {
		background: #000;
		color: #fff;
	}

	.iconic-btn.active svg path {
		fill: #fff !important;
	}
}
