#zoloIcon {
    height: 130px;
    background-color: #f2f2f2;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 6px;
    margin-bottom: 12px;
    cursor: pointer;
    border: 1px solid #e7e6e9;

	.dashicon,
	i {
		font-size: 30px;
		width: 30px;
		height: 30px;

		&:hover {
			cursor: pointer;
			color: #230aed;
		}
	}
}

.zolo-iconpicker-popup {
	width: 350px;
	top: 10px !important;
	.components-search-control__input {
		background-color: transparent !important;
		border: 1px solid #e9e9e9 !important;
		border-radius: 6px !important;
		box-shadow: none !important;
		outline: none ;
		color: #000 !important;
		&:focus {
			border-color: #230aed !important;
		}
	}

	.components-popover__content {
		width: 100%;
		padding: 15px;
		box-shadow: none;
		border: 1px solid #e9e9e9;
		border-radius: 6px;
		box-shadow: 0 5px 15px rgba(0, 0, 0, 0.08);
	}
}

.zolo-parent-tab-panel {
	.components-tab-panel__tabs {
		display: flex;
		gap: 15px;
	}

	.components-tab-panel__tabs-item {
		 font-weight: 400 !important; 
		 padding: 0 !important; 
	}

	.zolo-icon-tab {
		height: auto;
		color: #000;
		margin-bottom: 15px;
		margin-top: 5px;
		padding-bottom: 5px !important;
	}

	.zolo-icon-tab,
	.zolo-tab {
		&.active-tab {
			border-bottom: 2px solid #230aed;
			color: #230aed;
		}
	}
}

.zolo-icon-area {
	display: flex;
    flex-wrap: wrap;
    gap: 5px;
    overflow-y: scroll;
    overflow-x: hidden;
    align-items: flex-start;
    justify-content: flex-start;
    max-height: 225px;

	&::-webkit-scrollbar {
		width: 5px;
	}
	
	&::-webkit-scrollbar-track {
		background: #f6f6f6; 
		border-radius: 6px;
	}
	
	&::-webkit-scrollbar-thumb {
		background: #cbcbcb; 
		border-radius: 6px;
	}


	.zolo-icon-box {
		text-align: center;
		width: calc(33.33% - 7px);
		position: relative;
		transition: 0.3s;
		order: 2;
		border: 1px solid #e9e9e9;
		border-radius: 6px;
		cursor: pointer;
		&.active {
			background-color: #bcd4f0;
			order: 1;
		}

		&:hover {
			background-color: #f6f6f6;
			
		}

		.zolo-icon-content {
			height: 80px;
			display: flex;
			align-items: center;
			justify-content: center;
			flex-direction: column;
			gap: 10px;
			padding: 10px;
		}

		.dashicon,
		i {
			font-size: 20px;
			display: block;
		}

		.components-panel__row {
			font-size: 10px;
			line-height: 1;
			min-height: auto !important;
			display: block;
			text-transform: capitalize;
		}
	}
}

.zolo-social-profile {
	#zoloIcon {
		margin-bottom: 0px;
		display: flex;
		align-items: center;
		justify-content: center;
		min-height: 100%;
		min-width: 30px;

		.dashicon,
		i {
			font-size: 18px;
		}
	}
}
