.zolo-panel-control {
    .components-panel__row {
        margin: 0;
    }
}

.zb-image-avatar-control {
    background-repeat: no-repeat;
    background-size: cover;
    height: 130px;
    margin-bottom: 16px;
    padding: 2px;
    width: 100%;
    border-radius: 6px;
    background-position: center;
}

.zb-bg-control-img-btn,
.zolo-image-upload-btn {
    height: 130px;
    width: 100%;
    border-radius: 6px;
    background-color: #eee;
}

.zolo-image-upload-btn {
    padding: 0;
    display: flex;
    flex-direction: column;
    gap: 8px;
    justify-content: center;
}