.zolo-panel-control {
  .zb-label-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 14px;
  }
}

.zb-res-alignment-control-wrapper {
  .zolo-iconic-btn-group {
    margin-bottom: 0;
  }
}