.zb-reset-button {
	height: 26px;
	width: 26px;
	border-radius: 4px;
	background-color: #E0E0E0;
	border-radius: 50%;
	border: 0;
	cursor: pointer;
	.dashicon {
		color: #1d1d1f;
		font-size: 10px;
		width: 10px;
		height: 10px;
		display: block;
		margin: auto;
	}
}