.zb-device-label-area {
    display: flex;
    gap: 5px;
    align-items: center;
}

.zb-device {
	&-switcher {
		color: gray;
		display: flex;
		align-items: center;
		justify-content: center;
		position: relative;
		z-index: 2;
		cursor: pointer;
		height: 0;
		transform: scale(0);
		opacity: 0;
		transition: 0.15s;

		i {
		    font-size: 14px;
			width: 14px;
			height: 14px;
		}

		&.active {
			height: 26px;
			width: 26px;
			transform: scale(1);
			opacity: 1;
			color: var(--zb-admin-color-primary, #0066ff);
			background: #e0e0e0;
			border-radius: 50%;
		}
	}

	&-switchers {
		position: relative;
		width: 26px;
		height: 26px;
		&-open {
			.zb-device-switchers-wrap {
				background: #E1E0E0;
				border-radius: 2px;
			}
			.zb-device-switcher {
				height: 24px;
				transform: scale(1);
				opacity: 1;
			}
		}
	}
}