.zolo-tab-panel {
	.components-tab-panel__tabs {
		display: flex;
		justify-content: center;
		align-items: center;
		gap: 20px;
		margin-bottom: 16px;
		position: relative;
		&::before {
			position: absolute;
			content: "";
			bottom: 0;
			left: -16px;
			right: 0px;
			width: 113%;
			height: 1px;
			background-color: #ddd;
		}
	}

	.zolo-tab {
		width: 100%;
		text-align: center;
		align-items: center;
		justify-content: center;
		background-color: #eee;
		color: #000;
		height: 40px;
		line-height: 1;
		border-top-left-radius: 6px;
		border-top-right-radius: 6px;
	}

	.zolo-tab.active-tab {
		color: #001feb;
		background-color: transparent;
		border: 1px solid #ddd;
		border-bottom-color: #fff;
	}

	.components-tab-panel__tabs-item:focus:not(:disabled) {
		box-shadow: none;
	}
}
