.zb-typography-control-wrapper {
	.components-base-control__field {
		display: flex;
		align-items: center;
		justify-content: space-between;
	}
}

.zb-typography-component-panel {
	#react-select-2-listbox {
		z-index: 99;
	}
	#react-select-2-input {
		width: 150px !important;
		padding: 0 !important;
		border: 0 !important;
	}
}
