.zolo__icons-grid {
    display: flex;
    gap: 15px;
    flex-wrap: wrap;
    justify-content: flex-start;

    .single__icon {
        width: 61px;
        height: 50px;
        border: 1px solid #ccc;
        border-radius: 2px;
        display: flex;
        align-items: center;
        justify-content: center;
        cursor: pointer;
        margin: 0;
        padding: 0 !important;
        svg {
            width: 20px;
            height: 20px;
        }
    }
}

.zolo__single-preview-icon {
    height: 25px;
    width: 25px;
}

.zolo__modal.components-modal__frame {
    width: 900px;
    height: 550px;
    overflow-x: hidden;
    overflow-y: scroll;

    .components-modal__header {
        border-bottom: 1px solid #e0e0e0;
        padding: 25px;
        height: 60px;
    }

    .components-modal__content {
        padding: 0;
    }

    .components-modal__content {
        margin-top: 60px;
    }

    .modal__content {
        width: calc(100% - 180px);
        box-sizing: border-box;
        padding: 25px;
        box-sizing: border-box;
    }

    .category__button {
        display: block;
        padding: 10px 25px;
        width: 100%;
        font-size: 14px;
        text-align: left;
        border-radius: 0 !important;
        &:focus {
            outline: none !important;
            box-shadow: none !important;
        }
    }

    .category__button + .category__button {
        border-top: 1px solid #eeeeee;
    }

    .category__button.active {
        background: #f8f8f8;
        border-radius: 0 !important;
        color: #055179;
        font-weight: 500;
    }

    .search__input {
        border: 1px solid #ccc;
        border-radius: 3px;
        margin-bottom: 15px;
        display: flex;
        align-items: center;
        input {
            border: none;
            width: calc(100% - 40px);
            padding: 5px 15px;
            &:focus {
                outline: none !important;
                box-shadow: none !important;
            }
        }

        svg {
            width: 18px;
            height: 18px;
            margin: 0 10px;
        }
    }
}

.zolo-icon-preview {
    margin-bottom: 16px;
    label {
        display: block;
        margin: 0 0 8px;
    }
}

.zolo-picker__button {
    width: 100%;
    height: 180px;
    border: 1px solid #e0e0e0;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    position: relative;
    font-size: 13px;
    font-weight: 600;
    &:focus {
        outline: none !important;
        box-shadow: none !important;
    }
}

.zolo-picker__button.active:after {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: auto;
    content: 'Change Icon';
    padding: 8px;
    background: #e0e0e0;
    font-size: 14px;
    text-transform: capitalize;
    line-height: 1;
    font-weight: 400;
    transition: 0.3s;
    transform: translateY(30px);
    opacity: 0;
    visibility: hidden;
}

.zolo-picker__button:hover:after {
    visibility: visible;
    opacity: 1;
    transform: translateY(0);
}

.zolo-modal__wrapper {
    display: flex;
    align-items: flex-start;
    gap: 0;
    position: relative;
}

.zolo-categories__sidebar {
    width: 180px;
    min-width: 180px;
    height: 550px;
    position: sticky;
    border-right: 1px solid #e0e0e0;
    top: 0;
}

// Display Icon
.zolo__display-icon {
    display: inline;
    svg {
        display: block;
        width: 16px;
        height: 16px;
    }
}
