/* label */

.zolo-picker-label {
    display: block;
    margin-bottom: 8px;
}

// container
.components-modal__frame.zolo-icons-modal {
    width: 1000px;
    background: #f9f9f9;
}

.zolo-icons-modal .components-modal__content {
    padding: 0;
}

/* icon preview and picker button */
.zolo-icons-preview {
    display: block;
    width: 100%;
    height: 180px;
    background: #fff;
    border: 1px solid #ccc;
    border-radius: 3px;
    cursor: pointer;
}

.zolo-icons-preview svg {
    height: 50px;
}

.zolo-popover-header {
    padding: 15px 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #f0f0f0;
}

/* close button */
.zolo-close-panel {
    width: 30px;
    height: 30px;
    background: #fff;
    border: 1px solid #ccc;
    border-radius: 50%;
    color: #ccc;
    transition: 0.2s;
    cursor: pointer;
}

.zolo-close-panel:hover {
    border-color: #a31616;
    color: #a31616;
}

/* search bar */
.zolo-popover-body {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    gap: 0;
    background: #f9f9f9;
    border-top: 1px solid #e6e6e6;
}

.zolo-icons-categories {
    width: 180px;
    min-width: 180px;
    display: flex;
    flex-direction: column;
}

.zolo-icons-category {
    width: 100%;
    background: none;
    border: none;
    display: block;
    padding: 10px 15px;
    text-align: left;
    font-size: 14px;
    font-weight: 500;
    cursor: pointer;
    transition: 0.2s;
}

.zolo-icons-category.active {
    background: #fff;
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.1);
}

.zolo-icons-list-wrapper {
    border-left: 1px solid #e6e6e6;
    padding: 15px 30px 0 15px;
    height: 450px;
    width: 100%;
    overflow-x: hidden;
    overflow-y: scroll;
}

.zolo-icon-search {
    width: 100%;
    border: 1px solid #ccc;
    background: #fff;
    padding: 0;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    margin-bottom: 16px;
}

.zolo-icons-modal .components-base-control__field {
    width: 100%;
}

.zolo-icons-modal .components-base-control {
    width: 100%;
    margin: 0;
}

.zolo-icons-modal .components-base-control__field {
    margin: 0;
}

.zolo-icons-modal .components-text-control__input {
    border-bottom: 0;
    border-left: 0;
    border-top: 0;
    border-right-color: #ccc;
    box-sizing: border-box;
    box-shadow: none;
    padding: 12px !important;
    &:focus {
        outline: none;
        border-right-color: #ccc;
        box-shadow: none;
    }
}

.search-icon-btn {
    background: none;
    border: none;
    width: 40px;
    min-height: 30px;
    color: #cccccc;
}

.zolo-icons-grid {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    gap: 10px;
}

.zolo-icon {
    background: #fff;
    border: 1px solid #ccc;
    padding: 10px;
    font-size: 20px;
    border-radius: 3px;
    color: #232323;
    cursor: pointer;
    transition: 0.3s;
}

.zolo-icon:hover {
    border-color: #342df2;
    color: #ffffff;
    background: #342df2;
}
