:root {
	--primary-color: #000;
	--secondary-color: #fff;
	--hover-color: #395ddf;
}
.wp-block-zolo-advanced-button {
	position: relative;
	z-index: 1;
}
.zolo-advanced-button {
	white-space: nowrap;
	transition: 0.2s ease-in;
	box-sizing: border-box;
	cursor: pointer;
	text-align: center;
	padding: 12px 40px;
	border-radius: 4px;
	background-color: var(--primary-color);
	position: relative;
	&:hover {
		background-color: var(--hover-color);
	}
	.zolo-button-content {
		color: var(--secondary-color);
	}
	.zolo-button-icon {
		fill: var(--secondary-color);
	}

	/*
	* Button Style: 01
	*/
	&.button-1 {
		background-color: var(--primary-color);
		border: 1px solid var(--primary-color);
		box-shadow: var(--secondary-color) 4px 4px 0 0,
			var(--primary-color) 4px 4px 0 1px;
		&:hover {
			background-color: var(--hover-color);
			box-shadow: var(--secondary-color) 4px 4px 0 0,
				var(--hover-color) 4px 4px 0 1px;
		}
	}

	/*
		* Button Style: 02
		*/
	&.button-2 {
		background-color: transparent;
		border: 1px solid #266db6;
		position: relative;
		touch-action: manipulation;
		&::before {
			background-color: #d5edf6;
			content: "";
			height: calc(100% + 3px);
			position: absolute;
			right: -7px;
			top: -9px;
			transition: background-color 300ms ease-in;
			width: 100%;
			z-index: -1;
		}
		&:hover {
			&::before {
				background-color: #6dcff6;
			}
		}
		.zolo-button-content {
			color: var(--primary-color);
		}
		.zolo-button-icon {
			fill: var(--primary-color);
		}
	}

	/*
		* Button Style: 03
		*/
	&.button-3 {
		outline: 0;
		border: 1px solid var(--primary-color);
		position: relative;
		background-color: transparent;
		&::after {
			content: "";
			background-color: #ffe54c;
			width: 100%;
			z-index: -1;
			position: absolute;
			height: 100%;
			top: 7px;
			left: 7px;
			transition: 0.2s;
		}
		&:hover {
			&::after {
				top: 0;
				left: 0;
			}
		}
		.zolo-button-content {
			color: var(--primary-color);
		}
		.zolo-button-icon {
			fill: var(--primary-color);
		}
	}

	/*
	* Button Style: 04
	*/
	&.button-4 {
		background: linear-gradient(45deg, transparent 5%, #ff013c 5%);
		box-shadow: 6px 0px 0px #00e6f6;
		outline: transparent;
		position: relative;
		&::after {
			--slice-0: inset(50% 50% 50% 50%);
			--slice-1: inset(80% -6px 0 0);
			--slice-2: inset(50% -6px 30% 0);
			--slice-3: inset(10% -6px 85% 0);
			--slice-4: inset(40% -6px 43% 0);
			--slice-5: inset(80% -6px 5% 0);
			content: "ALTERNATE TEXT";
			display: block;
			position: absolute;
			top: 0;
			left: 0;
			right: 0;
			bottom: 0;
			background: linear-gradient(
				45deg,
				transparent 3%,
				#00e6f6 3%,
				#00e6f6 5%,
				#ff013c 5%
			);
			text-shadow: -3px -3px 0px #f8f005, 3px 3px 0px #00e6f6;
			clip-path: var(--slice-0);
		}
		&:hover {
			&::after {
				animation: 1s glitch;
				animation-timing-function: steps(2, end);
			}
		}
	}

	/*
	* Button Style: 05
	*/
	&.button-5 {
		background-color: #3dd1e7;
		transform: rotate(-2deg);
		&::after {
			content: "";
			position: absolute;
			border: 1px solid var(--primary-color);
			bottom: 4px;
			left: 4px;
			width: calc(100% - 1px);
			height: calc(100% - 1px);
		}
		&:hover {
			&::after {
				bottom: 2px;
				left: 2px;
			}
		}
		.zolo-button-content {
			color: var(--primary-color);
		}
	}

	/*
	* Button Style: 06
	*/
	&.button-6 {
		background-color: var(--secondary-color);
		border-radius: 15px 225px 255px 15px 15px 255px 225px 15px;
		border-style: solid;
		border-width: 2px;
		box-shadow: rgba(0, 0, 0, 0.2) 15px 28px 25px -18px;
		border-bottom-left-radius: 15px 255px;
		border-bottom-right-radius: 225px 15px;
		border-top-left-radius: 255px 15px;
		border-top-right-radius: 15px 225px;
		touch-action: manipulation;
		&:hover {
			box-shadow: rgba(0, 0, 0, 0.3) 2px 8px 8px -5px;
			transform: translate3d(0, 2px, 0);
		}
		.zolo-button-content {
			color: var(--primary-color);
		}
		.zolo-button-icon {
			fill: var(--primary-color);
		}
	}

	/*
	* Button Style: 07
	*/
	&.button-7 {
		background-color: #fee6e3;
		border: 2px solid #111;
		border-radius: 8px;
		&::after {
			background-color: #111;
			border-radius: 8px;
			content: "";
			height: 100%;
			left: 0;
			width: 100%;
			position: absolute;
			top: 0;
			transform: translate(8px, 8px);
			transition: transform 0.2s ease-out;
			z-index: -1;
		}
		&:hover {
			&::after {
				transform: translate(0, 0);
			}
		}
		.zolo-button-content {
			color: var(--primary-color);
		}
	}

	.zolo-button {
		display: inline-flex;
		align-items: center;
		justify-content: center;
		text-align: center;
		&.top {
			flex-direction: column-reverse;
		}
		&.bottom {
			flex-direction: column;
		}
		&.left {
			flex-direction: row-reverse;
		}
		&.right {
			flex-direction: row;
		}
	}
	// button icon
	.zolo-button-icon {
		width: 20px;
		display: block;
	}
}

// tablet view
@media (max-width: 1024px) {
	.zolo-advanced-button {
		// code here
	}
}

// mobile view
@media (max-width: 767px) {
	.zolo-advanced-button {
		// code here
	}
}

// Animation
@keyframes glitch {
	0% {
		clip-path: var(--slice-1);
		transform: translate(-20px, -10px);
	}
	10% {
		clip-path: var(--slice-3);
		transform: translate(10px, 10px);
	}
	20% {
		clip-path: var(--slice-1);
		transform: translate(-10px, 10px);
	}
	30% {
		clip-path: var(--slice-3);
		transform: translate(0px, 5px);
	}
	40% {
		clip-path: var(--slice-2);
		transform: translate(-5px, 0px);
	}
	50% {
		clip-path: var(--slice-3);
		transform: translate(5px, 0px);
	}
	60% {
		clip-path: var(--slice-4);
		transform: translate(5px, 10px);
	}
	70% {
		clip-path: var(--slice-2);
		transform: translate(-10px, 10px);
	}
	80% {
		clip-path: var(--slice-5);
		transform: translate(20px, -10px);
	}
	90% {
		clip-path: var(--slice-1);
		transform: translate(-10px, 0px);
	}
	100% {
		clip-path: var(--slice-1);
		transform: translate(0);
	}
}
