.wp-block-zolo-counter {
    --zolo-item-padding: 40px;
    --zolo-item-gap: 15px;
    --zolo-count-marign: 0 0 10px;
    --zolo-count-text-color: #20232a;
    --zolo-icon-size: 30px;
    --zolo-icon-color: #20232a;
    --zolo-title-text-color: #20232a;
    --zolo-title-margin: 0;
    --zolo-icon-margin: 0;
    --zolo-icon-svg-margin: 0 0 0;

    .zolo-counter-item {
        padding: var(--zolo-item-padding);
        box-sizing: border-box;
        overflow: hidden;
        background-color: var(--zoloblocks-item-bg-color);
        border-width: var(--zolo-item-border-width);
        border-style: var(--zolo-item-border-style);
        border-color: var(--zoloblocks-item-border-color);
        border-radius: var(--zolo-item-border-radius);
        text-align: center;
    }

    .zolo-counter-count {
        font-size: 30px;
        font-weight: 800;
        line-height: 1;
        color: var(--zolo-count-text-color);
        margin: var(--zolo-count-marign);
        display: inline-block;
    }

    .zolo__display-icon {
        margin-bottom: 15px;
        display: inline-block;
    }

    .zolo-counter-icon {
        img {
            max-width: 100%;
            box-sizing: border-box;
        }
        svg {
            fill: var(--zolo-icon-color);
            box-sizing: content-box;
            width: var(--zolo-icon-size);
            height:  var(--zolo-icon-size);
        }
    }

    .zolo-counter-title {
        font-size: 16px;
        color: var(--zolo-title-text-color);
        font-weight: 600;
        margin: var(--zolo-title-margin);
    }

    .zolo-counter-wrap {
        &.style-1,
        &.style-2 {
            .zolo-counter-item {
                display: flex;
                align-items: flex-start;
                gap: var(--zolo-item-gap);
                text-align: left;
            }
            .zolo-counter-icon {
                margin: var(--zolo-icon-margin);
                svg {
                    margin-bottom: var(--zolo-icon-svg-margin);
                }
            }
        }
        &.style-2 {
            .zolo-counter-item {
                flex-direction: row-reverse;
                text-align: right;
            }
        }
    }
}
