.wp-block-zolo-counter {
    .zolo-counter-item {
        padding: 40px;
        box-sizing: border-box;
        overflow: hidden;
        background-color: var(--zoloblocks-item-bg-color);
        border: 1px solid var(--zoloblocks-item-border-color);
        border-radius: var(--zolo-item-border-radius);
        text-align: center;
    }

    .zolo-counter-count {
        font-size: 30px;
        font-weight: 800;
        line-height: 1;
        color: #20232a;
        margin: 0 0 10px;
        display: inline-block;
    }

    .zolo-counter-icon {
        .zolo__display-icon {
            margin-bottom: 15px;
        }

        img {
            max-width: 100%;
            box-sizing: border-box;
        }

        .zolo__display-icon {
            display: inline-block;
        }

        svg {
            fill: #20232a;
            box-sizing: content-box;
            width: 30px;
            height: 30px;
        }
    }

    .zolo-counter-title {
        font-size: 16px;
        color: #484a54;
        font-weight: 600;
        margin: 0;
    }

    .zolo-counter-wrap {
        &.style-1,
        &.style-2 {
            .zolo-counter-item {
                display: flex;
                align-items: flex-start;
                gap: 15px;
                text-align: left;
            }
            .zolo-counter-icon {
                margin: 0;
                svg {
                    margin-bottom: 0;
                }
            }
        }
        &.style-2 {
            .zolo-counter-item {
                flex-direction: row-reverse;
                text-align: right;
            }
        }
    }
}
