$color_1: #22242b;
$color_2: #383945;
$background-color_1: #f8f8f8;
$background-color_2: #f2f2f2;

.banner {
    padding: 30px 0;
    background-color: $background-color_1;
    h2 {
        font-size: 30px;
        margin: 0 0 15px;
    }
    p {
        max-width: 600px;
        margin: 0;
        font-size: 14px;
    }
}
.zb-audio-player-wrap {
    position: relative;
    audio {
        width: 100%;
    }
}
.zb-audio-player-image {
    position: relative;
    width: 100%;
    img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        display: block;
    }
}
.zb-audio-play-inner-content {
    padding: 20px 20px 6px 20px;
}
.zb-audio-play-title {
    margin: 0 0 7px;
    font-weight: 700;
    font-size: 22px;
    color: $color_1;
    text-transform: capitalize;
}
.zb-audio-play-author {
    font-size: 14px;
    color: $color_2;
    font-weight: 500;
    text-transform: capitalize;
}
audio {
    &::-webkit-media-controls-play-button {
        background-color: $background-color_2;
    }
    &::-webkit-media-controls-panel {
        background-color: $background-color_2;
    }
}
.zb-audio-player-style-1 {
    audio {
        padding: 15px 0;
        border-radius: 4px;
        background-color: $background-color_2;
    }
    .zb-audio-play-inner-content {
        display: none;
    }
    .zb-audio-player-image {
        display: none;
    }
}
.zb-audio-player-style-2 {
    border-radius: 4px;
    overflow: hidden;
    background-color: $background-color_2;
    .zb-audio-play-inner-content {
        display: none;
    }
    .zb-audio-player-image {
        height: 300px;
    }
}
.zb-audio-player-style-3 {
    border-radius: 4px;
    overflow: hidden;
    background-color: $background-color_2;
    display: flex;
    flex-direction: column-reverse;
    .zb-audio-play-inner-content {
        display: none;
    }
    .zb-audio-player-image {
        height: 300px;
    }
}
.zb-audio-player-style-4 {
    border-radius: 4px;
    overflow: hidden;
    background-color: $background-color_2;
    .zb-audio-player-image {
        height: 300px;
    }
}
.zb-audio-player-style-5 {
    border-radius: 4px;
    overflow: hidden;
    background-color: $background-color_2;
    display: flex;
    flex-direction: column-reverse;
    .zb-audio-player-image {
        height: 300px;
    }
}
.zb-audio-player-style-6 {
    border-radius: 4px;
    overflow: hidden;
    background-color: $background-color_2;
    display: flex;
    align-items: center;
    height: 300px;
    .zb-audio-play-content {
        width: 100%;
    }
    .zb-audio-player-image {
        display: none;
    }
}
.zb-audio-player-style-7 {
    border-radius: 4px;
    overflow: hidden;
    background-color: $background-color_2;
    display: flex;
    align-items: center;
    height: 300px;
    flex-direction: row-reverse;
    .zb-audio-play-content {
        width: 100%;
    }
    .zb-audio-player-image {
        display: none;
    }
}
.zb-audio-player-style-8 {
    .zb-audio-player-image {
        height: 300px;
    }
    overflow: hidden;
    border-radius: 10px;
    .zb-audio-play-content {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }
    audio {
        width: auto;
        padding: 40px;
    }
    .zb-audio-play-inner-content {
        padding: 40px;
    }
}
@media (min-width: 768px) {
    footer {
        padding: 50px;
    }
    .banner {
        padding: 50px;
        h2 {
            font-size: 40px;
            margin: 0 0 30px;
        }
        p {
            font-size: 16px;
        }
    }
    .zb-audio-player-style-6 {
        .zb-audio-player-image {
            display: block;
        }
    }
    .zb-audio-player-style-7 {
        .zb-audio-player-image {
            display: block;
        }
    }
}
@media (min-width: 1024px) {
    footer {
        padding: 100px;
    }
    .banner {
        padding: 100px;
    }
}
