.wp-block-zolo-review-carousel{
    &.Tablet,
    &.Mobile{
        .swiper-wrapper {
            display: flex;
            width: auto;
            overflow: scroll;
            z-index: 11;
            position: relative;
            transform: unset !important;
        }
        .swiper-slide {
            width: 100% !important;
        }
    }

}

