.wp-block-zolo-review-child {
    // image
    --img-height: 70px;
    --img-width: 70px;

    // overflow: hidden;
    box-sizing: border-box;

    a {
        transition: 0.2s;
    }

    .zolo-item {
        background-color: var(--zoloblocks-item-bg-color);
        border: 1px solid var(--zoloblocks-item-border-color);
        padding: 20px;
        border-radius: var(--zolo-item-border-radius);
        // box-shadow: var(--zoloblocks-item-box-shadow);
    }

    &.default {
        .zolo-item {
            overflow: visible;
        }
    }

    .zolo-item,
    .zolo-image-wrap,
    .zolo-info-wrap {
        position: relative;
    }

    .zolo-image-wrap {
        width: var(--img-width);
        height: var(--img-height);
        display: inline-block;
    }

    .zolo-img {
        height: 100%;
        width: 100%;
        object-fit: cover;
        display: block;
        box-sizing: border-box;
    }

    .zolo-name {
        display: block;
        font-size: 24px;
        font-weight: 700;
        text-decoration: none;
        color: #202129;
        &.has-link:hover {
            color: var(--zoloblocks-brand-color-hover);
        }
    }

    .zolo-designation {
        font-size: 14px;
        font-weight: 300;
    }
    .zolo-desc {
        font-size: 16px;
    }
    .zolo-desc,
    .zolo-designation {
        color: #6f6f71;
    }
    // rating
    .zolo-star-rating {
        display: inline-flex;
        gap: 3px;
        svg {
            width: 16px;
            fill: #ff9a00;
        }
    }

    /*
	* Default Style
	*/
    &.default {
        overflow: visible;
        .zolo-review-img-meta-wrap {
            margin-top: -70px;
        }
        .zolo-image-wrap {
            margin-bottom: 14px;
        }
        .zolo-img {
            display: inline-block;
            border-radius: var(--zolo-item-border-radius);
        }
        .zolo-review-icon {
            margin-bottom: 30px;
        }
        .zolo-name {
            margin: 0 0 4px;
        }
        .zolo-designation {
            margin: 0 0 10px;
        }
    }
    /*
	* Style 1
	*/

    &.style-1 {
        .zolo-review-icon {
            margin-bottom: 12px;
        }
        .zolo-name {
            margin: 0;
            font-size: 20px;
        }
        .zolo-designation {
            font-size: 12px;
        }
        .zolo-review-img-meta-wrap {
            display: inline-flex;
            align-items: center;
            gap: 12px;
        }
    }

    &.style-1,
    &.style-2 {
        .zolo-item {
            display: inline-flex;
            flex-direction: column-reverse;
            justify-content: space-between;
            gap: 30px;
        }
        .zolo-img {
            border-radius: 50%;
        }
    }

    &.style-2 {
        .zolo-item {
            text-align: center;
            flex-direction: column;
        }
        .zolo-review-icon {
            margin-top: 12px;
        }
    }
}
