.wp-block-zolo-advanced-image {
	.zolo-image-block-wrap {
		display: flex;
	}

	.zolo-image-block-inner {
		position: relative;
	}

	.zolo-img-wrap {
		position: relative;
		transition: transform 0.35s ease-in-out;
	}

	.zolo-image-block-wrap .zolo-img {
		vertical-align: middle;
		transition: 0.35s ease-in-out;
		max-width: 100%;
	}

	.zolo-image-block-wrap .zolo-content-wrap,
	.zolo-image-block-wrap .zolo-arrow-icon {
		display: none;
	}

	.zolo-arrow-icon svg {
		width: 50px;
		height: 50px;
		display: block;
		color: #fff;
	}

	.zolo-separator {
		margin: 10px 0;
		span {
			width: 180px;
            border-top-width: 2px;
            border-top-style: solid;
            border-top-color: #fff;
			display: inline-block;
		}
	}

	/* overlay css here  */

	.zolo-img-wrap::before,
	.zolo-img-wrap::after {
		content: '';
		position: absolute;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
	}

	.zolo-img-wrap::after {
		margin: 30px;
		transition: all 0.35s ease-in-out;
	}

	.zolo-img-wrap::before {
		background: linear-gradient(45deg, black, transparent);
		z-index: 1;
		opacity: 0;
		transition:
			opacity 0.35s ease-in-out,
			background 0.35s ease-in-out,
			backdrop-filter 0.35s ease-in-out,
			height 0.35s ease-in-out,
			width 0.35s ease-in-out,
			transform 0.35s ease-in-out;
	}

	.zolo-adi-overlay .zolo-arrow-icon {
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
		z-index: 1;
	}

	/* overlay effect (fade)   */

	.zolo-adi-fade .zolo-image-block-inner:hover .zolo-img-wrap::before,
	.zolo-adi-blur .zolo-image-block-inner:hover .zolo-img-wrap::before,
	.zolo-adi-slide-bottom .zolo-image-block-inner:hover .zolo-img-wrap::before,
	.zolo-adi-zoom .zolo-image-block-inner:hover .zolo-img-wrap::before {
		opacity: 1;
	}

	/* overlay effect (blur)   */
	.zolo-adi-blur .zolo-img-wrap::before {
		background: linear-gradient(45deg, rgba(242, 239, 239, 0.084), transparent);
		backdrop-filter: blur(8px);
	}

	.zolo-adi-slide-bottom .zolo-image-block-inner:hover .zolo-img-wrap {
		transform: translateY(-10px);
	}

	.zolo-adi-slide-bottom .zolo-img-wrap::before {
		height: 0;
		top: unset;
		bottom: 0;
	}

	.zolo-adi-slide-bottom .zolo-image-block-inner:hover .zolo-img-wrap::before {
		height: 100%;
	}

	/* overlay effect (zoom)  */
	.zolo-adi-zoom .zolo-image-block-inner:hover .zolo-img-wrap {
		transform: scale(1.05);
	}

	.zolo-adi-zoom .zolo-img-wrap::before {
		transform: scale(0);
		// border-radius: 50%;
	}

	.zolo-adi-zoom .zolo-image-block-inner:hover .zolo-img-wrap::before {
		transform: scale(1);
	}

	.zolo-adi-overlay .zolo-content-wrap {
		position: absolute;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		z-index: 1;
		display: flex;
		flex-direction: column;
		justify-content: center;
		text-align: center;
		padding: 50px;
		box-sizing: border-box;
	}

	.zolo-adi-overlay .zolo-title {
		margin: 0;
		color: #fff;
		font-size: 32px;
		transition-delay: .5s;
	}

	.zolo-adi-overlay .zolo-caption {
		margin: 15px 0 0;
		color: #d2d4e3;
		transition-delay: 2s;
	}

	.zolo-separator {
		transition-delay: 1.5s;
	}

	/* image content style 1 */

	.zolo-adi-overlay .hover_visible.zolo-separator,
	.zolo-adi-overlay .hover_visible.zolo-title,
	.zolo-adi-overlay .hover_visible.zolo-caption {
		opacity: 0;
	}

	.zolo-adi-overlay .zolo-title,
	.zolo-adi-overlay .zolo-caption,
	.zolo-adi-overlay .zolo-separator {
		transform: translateY(20px);
		transition: transform 0.35s cubic-bezier(.31, .67, .36, 1), opacity 0.35s cubic-bezier(.31, .67, .36, 1);
		;
	}

	.zolo-adi-overlay .zolo-image-block-inner:hover .zolo-title,
	.zolo-adi-overlay .zolo-image-block-inner:hover .zolo-caption,
	.zolo-adi-overlay .zolo-image-block-inner:hover .zolo-separator {
		transform: translateY(0);
	}

	.zolo-adi-overlay .zolo-image-block-inner:hover .hover_visible.zolo-caption,
	.zolo-adi-overlay .zolo-image-block-inner:hover .hover_visible.zolo-separator,
	.zolo-adi-overlay .zolo-image-block-inner:hover .hover_visible.zolo-title {
		opacity: 1;
	}

	/* image content style 2 */
	.zolo-adi-style-3 .zolo-content-wrap,
	.zolo-adi-style-3 .zolo-separator {
		display: none;
	}

	.zolo-adi-style-3 .zolo-arrow-icon {
		display: block;
	}

	.zolo-adi-style-3 .zolo-arrow-icon svg {
		transform: translateX(-10px);
		opacity: 0;
		transition:
			transform 0.35s ease-in-out,
			opacity 0.35s ease-in-out;
	}

	.zolo-adi-style-3 .zolo-image-block-inner:hover .zolo-arrow-icon svg {
		transform: translateX(0);
		opacity: 1;
	}
}
