.wp-block-zolo-advanced-image {
    .zolo-image-block-wrap {
        display: flex;
        .zolo-img {
            vertical-align: middle;
            transition: all 0.35s ease-in-out;
            max-width: 100%;
        }
        .zolo-content-wrap,
        .zolo-arrow-icon {
            display: none;
        }
    }

    .zolo-image-block-inner {
        position: relative;
    }

    .zolo-img-wrap {
        position: relative;
        transition: transform 0.35s ease-in-out;
    }

    /* hover effect (slide-bottom)   */
    .zolo-adi-slide-bottom {
        .zolo-image-block-inner {
            &:hover {
                .zolo-img-wrap {
                    transform: translateY(-20px);
                }
            }
        }
    }

    /* hover effect (slide-left)   */
    .zolo-adi-slide-left {
        .zolo-image-block-inner {
            &:hover {
                .zolo-img-wrap {
                    transform: translateX(20px);
                }
            }
        }
    }

    /* hover effect (slide-right)   */
    .zolo-adi-slide-right {
        .zolo-image-block-inner {
            &:hover {
                .zolo-img-wrap {
                    transform: translateX(-20px);
                }
            }
        }
    }

    /* hover effect (slide-top)   */
    .zolo-adi-slide-top {
        .zolo-image-block-inner {
            &:hover {
                .zolo-img-wrap {
                    transform: translateY(20px);
                }
            }
        }
    }

    /* hover effect (zoom)  */
    .zolo-adi-zoom {
        .zolo-image-block-inner {
            &:hover {
                .zolo-img-wrap {
                    transform: scale(1.05);
                }
            }
        }
    }

    /* hover effect (zoom)  */
    .zolo-adi-gray {
        .zolo-img-wrap {
            filter: grayscale(0%);
            transition: 0.35s ease-in-out;
        }
        .zolo-image-block-inner {
            &:hover {
                .zolo-img-wrap {
                    filter: grayscale(100%);
                }
            }
        }
    }

    /* hover effect (blur)   */
    .zolo-adi-blur {
        .zolo-image-block-inner {
            &:hover {
                .zolo-img {
                    filter: blur(3px);
                }
            }
        }
    }

    /* content & overlay css here   */

    .zolo-adi-overlay {
        .zolo-img-wrap {
            /* overlay css here  */
            &::before,
            &::after {
                content: '';
                position: absolute;
                top: 0;
                left: 0;
                right: 0;
                bottom: 0;
            }

            &::after {
                margin: 30px;
                z-index: 1;
                transition: all 0.35s ease-in-out;
            }

            &::before {
                z-index: 1;
                opacity: 0.2;
                background: linear-gradient(45deg, black, transparent);
                transition:
                    opacity 0.35s ease-in-out,
                    background 0.35s ease-in-out,
                    backdrop-filter 0.35s ease-in-out,
                    height 0.35s ease-in-out,
                    width 0.35s ease-in-out,
                    transform 0.35s ease-in-out;
            }
        }

        .zolo-content-wrap {
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            z-index: 1;
            display: flex;
            flex-direction: column;
            justify-content: center;
            text-align: center;
            padding: 50px;
            box-sizing: border-box;
        }

        .zolo-title {
            margin: 0;
            color: #fff;
            font-size: 36px;
            transition-delay: 0.5s;
        }
        .zolo-caption {
            margin: 15px 0 0;
            color: #d2d4e3;
            transition-delay: 2s;
        }

        .zolo-separator {
            margin: 10px 0;
            transition-delay: 1.5s;
            span {
                width: 180px;
                border-top-width: 2px;
                border-top-style: solid;
                border-top-color: #fff;
                display: inline-block;
            }
        }

        .hover_visible {
            &.zolo-separator,
            &.zolo-title,
            &.zolo-caption {
                opacity: 0;
            }
        }
        .zolo-title,
        .zolo-caption,
        .zolo-separator {
            transform: translateY(20px);
            transition:
                transform 0.35s cubic-bezier(0.31, 0.67, 0.36, 1),
                opacity 0.35s cubic-bezier(0.31, 0.67, 0.36, 1);
        }
        .zolo-image-block-inner {
            &:hover {
                .zolo-img-wrap::before {
                    opacity: 1;
                }
                .zolo-title,
                .zolo-caption,
                .zolo-separator {
                    transform: translateY(0);
                }
                .hover_visible {
                    &.zolo-caption,
                    &.zolo-separator,
                    &.zolo-title {
                        opacity: 1;
                    }
                }
            }
        }
    }

    /* image content style 3 */

    // .zolo-arrow-icon {
    // 	svg {
    // 		width: 50px;
    // 		height: 50px;
    // 		display: block;
    // 		color: #fff;
    // 	}
    // }

    // .zolo-arrow-icon {
    // 	position: absolute;
    // 	top: 50%;
    // 	left: 50%;
    // 	transform: translate(-50%, -50%);
    // 	z-index: 1;
    // }
    // .zolo-adi-style-3 .zolo-content-wrap,
    // .zolo-adi-style-3 .zolo-separator {
    // 	display: none;
    // }

    // .zolo-adi-style-3 .zolo-arrow-icon {
    // 	display: block;
    // }

    // .zolo-adi-style-3 .zolo-arrow-icon svg {
    // 	transform: translateX(-10px);
    // 	opacity: 0;
    // 	transition:
    // 		transform 0.35s ease-in-out,
    // 		opacity 0.35s ease-in-out;
    // }

    // .zolo-adi-style-3 .zolo-image-block-inner:hover .zolo-arrow-icon svg {
    // 	transform: translateX(0);
    // 	opacity: 1;
    // }
}
