.zolo-coupon-code-wrap {
    display: flex;
    align-items: center;
}

.zolo-coupon-code-wrap .zolo-coupon-code-final,
.zolo-coupon-code-wrap .zolo-coupon-msg-text {
    height: 50px;
    padding: 0 20px;
    font-size: 14px;
    font-weight: 600;
    display: flex;
    align-items: center;
}

.zolo-coupon-code-wrap .zolo-coupon-code-final {
    border: 1px dotted #2567ff;
    border-right: 0;
    border-top-left-radius: 6px;
    border-bottom-left-radius: 6px;
}

.zolo-coupon-code-wrap .zolo-coupon-msg-text {
    border: 1px dotted #2567ff;
    background-color: #2567ff;
    border-top-right-radius: 6px;
    border-bottom-right-radius: 6px;
    cursor: pointer;
    color: #fff;
    gap: 7px;
    text-transform: capitalize;
}
