.zolo-tag-cloud-wrap {
	display: flex;
	flex-wrap: wrap;
	gap: 15px;

	.zolo-item {
		position: relative;
		background: #2b2d42;
		border-radius: 6px;
		align-items: center;
		padding: 8px 16px;
		display: flex;
		justify-content: space-between;
		gap: 15px;
		transition: all .3s ease;
		text-decoration: none;
	}

	.zolo-name {
		font-size: 14px;
		font-weight: 600;
		color: #fff;
		letter-spacing: .5px;
		transition: all .3s ease;
		line-height: 1
	}

	.zolo-count {
		display: inline-flex;
		font-size: 13px;
		padding: 3px 5px;
		color: #fff;
		background: rgba(255, 255, 255, .3);
		border-radius: 2px;
		line-height: 1;
		margin-left: 5px;
		transition: all .3s ease
	}

	.zolo-item:nth-last-child(1) {
		margin-right: 0
	}
}

