.wp-block-zolo-icon {
    --zolo-icon-size: 48px;
    display: flex;
    align-items: center;
    justify-content: center;

    .zolo__display-icon {
        svg {
            width: var(--zolo-icon-size);
            height: var(--zolo-icon-size);
            display: block;
        }
    }

    &.zolo-icon-medium {
        --zolo-icon-size: 64px;
    }

    &.zolo-icon-large {
        --zolo-icon-size: 96px;
    }
}
