.wp-block-zolo-team-child {
    box-sizing: border-box;
    .zolo-image-wrap {
        position: relative;
        overflow: hidden;
        img {
            max-width: 100%;
            width: 100%;
            height: 100%;
            vertical-align: middle;
            box-sizing: border-box;
            object-fit: cover;
            border-radius: var(--zolo-item-border-radius);
        }
    }

    // name
    .zolo-name {
        font-size: clamp(1.25rem, 2.5vw, 1.5rem);
        text-transform: capitalize;
        text-decoration: none;
        font-weight: 600;
        color: #2e2e35;
        display: block;
        transition: color 0.3s ease;
        &:hover {
            color: var(--zoloblocks-brand-color-hover);
        }
    }

    // designation
    .zolo-designation {
        font-size: clamp(0.75rem, 1.5vw, 0.875rem);
        font-weight: 300;
        color: #4b445a;
        margin-top: 5px;
    }

    // description - short bio
    .zolo-desc {
        font-size: clamp(0.75rem, 1.5vw, 0.875rem);
        color: #6e6e7b;
        margin-top: 10px;
        font-weight: 400;
    }

    // social share
    .zolo-social-share {
        display: flex;
        gap: 10px;
        align-items: center;
        a {
            display: inline-flex;
            align-items: center;
            justify-content: center;
            text-decoration: none;
            box-sizing: content-box;
            color: #4c4c51;
            border-radius: var(--zoloblocks-button-border-radius);
            &:hover {
                color: #000;
                background-color: var(--zoloblocks-brand-color-hover);
            }
        }
        i,
        span {
            font-size: 14px;
            transition: 0.3s ease-out;
            z-index: 1;
            position: relative;
        }
    }
    .zolo-social-share,
    .zolo-link-btn {
        a {
            position: relative;
            overflow: hidden;
            width: clamp(1.875rem, 4vw, 2.188rem);
            height: clamp(1.875rem, 4vw, 2.188rem);
        }
    }

    // detail profile link
    .zolo-link-btn {
        a {
            display: flex;
            align-items: center;
            justify-content: center;
            text-align: center;
            background-size: 200% auto;
            background-color: var(--zoloblocks-brand-color);
            transition: 500ms ease;
            text-decoration: none;
            border-radius: var(--zoloblocks-button-border-radius);
            i,
            span {
                color: #000;
                transition: 0.3s ease-out;
                z-index: 1;
                position: relative;
            }
        }
    }

    &.default {
        overflow: visible;
        .zolo-info-wrap {
            margin-left: clamp(1.563rem, 3.5vw, 2.188rem);
            box-shadow: 0px 10px 60px 0px rgba(0, 32, 110, 0.07);
            padding: clamp(1.563rem, 4vw, 2.5rem);
            margin-top: clamp(-1.25rem, 3vw, -1.875rem);
            position: relative;
            background-color: #fff;
            border-radius: var(--zolo-item-border-radius);
        }
    }

    &.default {
        .zolo-link-btn {
            a {
                position: absolute;
                bottom: calc(100% - 15px);
                right: 0;
                width: clamp(2.5rem, 5vw, 3.125rem);
                height: clamp(2.5rem, 5vw, 3.125rem);
                font-size: clamp(0.875rem, 3vw, 1.125rem);
                border-top-left-radius: var(--zoloblocks-button-border-radius);
                border-bottom-left-radius: var(--zoloblocks-button-border-radius);
            }
        }
    }

    &.default,
    &.style-1 {
        .zolo-social-and-link-wrap {
            border-top: 1px solid #ddd;
            padding-top: clamp(1.25rem, 3vw, 1.875rem);
            margin-top: clamp(1.875rem, 5vw, 3.125rem);
        }
        .zolo-social-share a {
            border: 1px solid #ddd;
        }
    }

    &.style-1 {
        .zolo-item {
            background-color: #f2f2f3;
            padding: clamp(1.563rem, 4vw, 2.5rem);
            border-radius: var(--zolo-item-border-radius);
            text-align: center;
        }
        .zolo-image-wrap {
            margin: 0 0 20px;
            img {
                width: clamp(4.375rem, 8vw, 6.25rem);
                height: clamp(4.375rem, 8vw, 6.25rem);
            }
        }
        .zolo-social-and-link-wrap {
            display: flex;
            align-items: center;
            justify-content: space-between;
        }

        .zolo-link-btn {
            a {
                border-radius: var(--zoloblocks-button-border-radius);
                font-size: clamp(0.75rem, 1vw, 0.875rem);
            }
        }
    }

    &.style-2 {
        .zolo-item {
            position: relative;
        }
        .zolo-image-wrap {
            display: flex;
            flex-direction: row-reverse;
            img {
                width: calc(100% - clamp(3.125rem, 5vw, 3.75rem));
            }
        }
        .zolo-social-share {
            flex-direction: column;
            position: absolute;
            top: 0;
            left: 0;
            a {
                border: 1px solid #ddd;
                color: #515276;
                transition: all 0.3s ease;
                &:hover {
                    border-color: var(--zoloblocks-brand-color-hover);
                    background-color: var(--zoloblocks-brand-color-hover);
                }
            }
        }
        .zolo-info-wrap {
            display: flex;
            justify-content: space-between;
            align-items: flex-end;
            padding-top: clamp(0.938rem, 2vw, 1.25rem);
            gap: clamp(0.938rem, 2vw, 1.25rem);
        }
        .zolo-link-btn {
            a {
                width: clamp(3.125rem, 6vw, 4.688rem);
                height: clamp(3.125rem, 6vw, 4.688rem);
            }
        }
    }
}