.wp-block-zolo-brand-grid {
	$background-color_1: #f1f1f1;
	$background-color_2: #fff;
	$color-1: #3c4356;
	$color-2: #3c4;
	$color-3: #3b414f;

	.zb-brand-grid-back .block-editor-block-list__layout {
		display: grid;
		grid-template-columns: repeat(3, 1fr);
		grid-gap: 20px;
	}

	.zb-brand-grid-front {
		display: grid;
		grid-template-columns: repeat(3, 1fr);
		grid-gap: 20px;
	}

	.zb-brand-item {
		position: relative;
		height: 250px;
		background-color: $background-color_1;
	}

	.zb-brand-image {
		display: flex;
		align-items: center;
		justify-content: center;
		height: 100%;
		img {
			display: inline-block;
			width: 250px;
			height: 100%;
			vertical-align: middle;
		}
	}

	.zb-brand-content {
		position: absolute;
		background-color: $background-color_2;
		transition: transform 0.3s ease, clip-path 0.3s ease, opacity 0.3s ease,
			visibility 0.3s ease, width 0.3s ease, height 0.3s ease;
	}

	.zb-brand-title {
		margin: 0 0 0px;
		text-transform: capitalize;
		transition: transform 0.3s ease, clip-path 0.3s ease, opacity 0.3s ease,
			visibility 0.3s ease;
	}

	.zb-brand-link {
		font-size: 18px;
		font-weight: 300;
		color: $color-1;
		text-decoration: none;
		transition: transform 0.3s ease, clip-path 0.3s ease, opacity 0.3s ease,
			visibility 0.3s ease, color 0.3s ease;
		&:hover {
			color: $color-2;
		}
	}

	.zb-brand-style-1,
	.zb-brand-style-2 {
		.zb-brand-title {
			transform: translateX(-40px);
		}
		.zb-brand-link {
			display: block;
			transform: translateX(40px);
		}
		.zb-brand-item {
			&:hover {
				.zb-brand-title,
				.zb-brand-link {
					transform: translateX(0);
				}
				.zb-brand-content {
					opacity: 1;
					visibility: visible;
					clip-path: circle(70.7% at 50% 50%);
				}
			}
		}
		.zb-brand-content {
			top: 0;
			height: 100%;
			width: 100%;
			display: flex;
			flex-direction: column;
			align-items: center;
			justify-content: center;
			opacity: 0;
			visibility: hidden;
			clip-path: circle(9.2% at 50% 50%);
		}
		.zb-brand-icon {
			display: none;
		}
	}

	.zb-brand-style-2 {
		.zb-brand-content {
			clip-path: polygon(50% 0%, 100% 50%, 50% 100%, 0% 50%);
		}
		.zb-brand-item {
			&:hover {
				.zb-brand-content {
					clip-path: polygon(100% 1%, 100% 100%, 0 100%, 0 0);
				}
			}
		}
		.zb-brand-content {
			align-items: start;
			justify-content: end;
		}
	}

	.zb-brand-style-4 {
		.zb-brand-content {
			right: 0;
		}
	}

	.zb-brand-style-5 {
		.zb-brand-content {
			top: 0;
			right: 0;
		}
	}

	.zb-brand-style-6 {
		.zb-brand-content {
			top: 0;
			left: 0;
		}
	}

	.zb-brand-style-7,
	.zb-brand-style-8 {
		.zb-brand-content {
			left: 50%;
			transform: translateX(-50%);
		}
	}

	.zb-brand-style-7 {
		.zb-brand-content {
			top: 0;
		}
	}
	.zb-brand-style-8 {
		.zb-brand-content {
			bottom: 0;
		}
	}

	.zb-brand-style-3,
	.zb-brand-style-4,
	.zb-brand-style-5,
	.zb-brand-style-6,
	.zb-brand-style-7,
	.zb-brand-style-8 {
		.zb-brand-content {
			bottom: 0;
			height: 40px;
			width: 40px;
			overflow: hidden;
		}

		.zb-brand-inner-content {
			position: absolute;
			width: 100%;
			height: 100%;
			display: inline-flex;
			flex-direction: column;
			justify-content: center;
			align-items: center;
			opacity: 0;
			transition: opacity 0.3s cubic-bezier(0.77, 0, 0.175, 1);
			overflow: hidden;
		}

		.zb-brand-icon {
			display: flex;
			align-items: center;
			justify-content: center;
			color: $color-3;
			height: 100%;
			opacity: 1;
			transition: opacity 0.5s cubic-bezier(0.77, 0, 0.175, 1);
			cursor: pointer;
			svg {
				width: 16px;
				height: 16px;
				display: block;
			}
		}

		.zb-brand-item {
			&:hover {
				.zb-brand-content {
					width: 100%;
					height: 100%;
					border-radius: 0;
					margin: 0;
					border-color: transparent;
				}
				.zb-brand-inner-content {
					left: 0;
					top: 0;
					opacity: 1;
					transition-delay: 0.5s;
				}
				.zb-brand-icon {
					opacity: 0;
				}
			}
		}
	}

	.appender-btn {
		margin-top: 30px;
	}

	@media (min-width: 768px) {
	}

	@media (min-width: 1024px) {
	}
}
