.wp-block-zolo-brand-grid {
	.zb-brand-grid-back .block-editor-block-list__layout {
		display: grid;
		grid-template-columns: repeat(3, 1fr);
		grid-gap: 20px;
	}

	.zb-brand-grid-front {
		display: grid;
		grid-template-columns: repeat(3, 1fr);
		grid-gap: 20px;
	}

	.appender-btn {
		margin-top: 30px;
	}
}
