.wp-block-zolo-post-navigation {
	background-color: #fff;
	padding: clamp(15px, 1.8vw, 20px);
	border-radius: 10px;
	display: flex;
	align-items: center;
	justify-content: space-between;
	gap: clamp(30px, 7vw, 100px);
	position: relative;

	&::before {
		position: absolute;
		top: 50%;
		transform: translateY(-50%);
		content: "";
		width: 1px;
		height: 50%;
		background-color: #ddd;
		left: 50%;
	}

	.zolo-item {
		text-decoration: none;
		display: flex;
		align-items: center;
		gap: 20px;
		flex-direction: row-reverse;

		&:hover {
			.zolo-image-wrap {
				img {
					transform: scale(1.1);
				}
			}

			.zolo-pos-nav-title {
				color: #006aff;
			}

			&.zolo-post-next,
			&.zolo-post-prev {
				.zolo-nav-text {
					svg {
						transform: rotate(0);
					}
				}
			}
		}

		&.zolo-post-next {
			text-align: right;

			.zolo-nav-text {
				svg {
					transform: rotate(-45deg);
				}
			}
		}

		&.zolo-post-prev {
			.zolo-nav-text {
				flex-direction: row-reverse;

				svg {
					transform: rotate(45deg);
				}
			}
		}
	}

	.zolo-image-wrap {
		overflow: hidden;
		border-radius: 6px;
		display: none;

		img {
			width: 170px;
			height: auto;
			vertical-align: middle;
			transition: transform 0.3s ease;
		}
	}

	.zolo-nav-text {
		font-size: clamp(10px, 0.8vw, 12px);
		color: #006aff;
		margin-bottom: clamp(10px, 1vw, 15px);
		display: inline-block;
		background-color: #ecf4ff;
		padding: 6px 10px;
		border-radius: 6px;
		font-weight: 700;
		display: inline-flex;
		align-items: center;
		gap: 6px;

		svg {
			width: 18px;
			height: 18px;
			display: block;
			transition: transform 0.3s ease;
		}
	}

	.zolo-pos-nav-title {
		margin: 0;
		font-size: clamp(14px, 2vw, 18px);
		color: #2f2f35;
		transition: color 0.3s ease;
	}
}

@media (min-width: 768px) {
	.wp-block-zolo-post-navigation {
		.zolo-image-wrap {
			display: block;
		}

		.zolo-item {
			&.zolo-post-next {
				text-align: left;
			}
		}
	}
}
