.wp-block-zolo-notice {
    --zolo-item-gap: clamp(0.625rem, 1.5vw, 1rem);
    --zolo-item-padding: clamp(1.875rem, 4vw, 2.5rem);
    --zolo-title-text-color: #2f2f44;
    --zolo-title-margin: 0 0 clamp(0.625rem, 1vw, 0.75rem);
    --zolo-desc-text-color: #51515d;
    --zolo-icon-margin: 0 0 clamp(0.938rem, 2.3vw, 1.3rem);
    --zolo-icon-img-width: clamp(3.125rem, 5vw, 3.75rem);
    --zolo-link-btn-margin: 10px 0 0;
    --zolo-link-btn-gap: 8px;
    --zolo-link-btn-text-color: #141820;
    --zolo-link-btn-icon-size: 16px;
    --zolo-link-btn-icon-color: #000;
    --zolo-ribbon-btn-margin: clamp(1.875rem, 4vw, 2.5rem);
    --zolo-ribbon-btn-padding: 4px 10px;
    --zolo-ribbon-btn-text-color: #fff;
    --zolo-ribbon-btn-border-radius: 2px;

    position: relative;
    box-sizing: border-box;
    display: block;
    .zolo-notice-closed {
        margin-top: 64px;
    }
    .zolo-block-icon-wrap {
        display: flex;
    }
    .zolo-notice-dismiss {
        &:after {
            content: '\00d7';
        }
        display: flex;
        width: 24px;
        height: 24px;
        position: absolute;
        justify-content: center;
    }
    &.style-1 .zolo-notice-dismiss {
        top: -82px;
        right: -38px;
    }
    &.style-2 .iconbox-align-left .zolo-notice-dismiss {
        top: 0;
        left: 101%;
    }
    &.style-3 .zolo-notice-dismiss {
        top: 0px;
        right: 0px;
    }
    .zolo-block-item {
        padding: var(--zolo-item-padding);
        border-radius: var(--zolo-item-border-radius);
        background-color: var(--zoloblocks-item-bg-color);
        border-width: var(--zolo-item-border-width);
        border-style: var(--zolo-item-border-style);
        border-color: var(--zoloblocks-item-border-color);
        box-sizing: border-box;
        display: block;
        transition: all 0.3s ease;
        position: relative;
        box-shadow: var(--zoloblocks-item-box-shadow);
    }

    a {
        text-decoration: none;
    }
    &.success .zolo-block-item {
        background-color: #4caf50;
    }

    &.info .zolo-block-item {
        background-color: #d3d3d3;
    }
    &.warnging .zolo-block-item {
        background-color: #ffcc00;
    }
    &.danger .zolo-block-item {
        background-color: #f44336;
    }

    .zolo-block-title {
        font-size: clamp(1.25rem, 2.5vw, 1.3rem);
        font-weight: 700;
        color: var(--zolo-title-text-color);
        margin: var(--zolo-title-margin);
        line-height: 1.2;
    }

    .zolo-block-desc {
        font-size: clamp(0.75rem, 1.5vw, 0.875rem);
        color: var(--zolo-desc-text-color);
    }

    .zolo-block-icon-wrap {
        img {
            width: var(--zolo-icon-img-width);
            height: auto;
        }
    }

    .zolo__display-icon {
        display: flex;
        align-items: center;
        justify-content: center;
        box-sizing: content-box;
        width: 1em;
        height: 1em;
        font-size: clamp(1.125rem, 5vw, 2.75rem);
        svg {
            display: inline-block;
            width: 1em;
            height: 1em;
            transition: 0.2s ease-in-out;
            box-sizing: content-box;
            fill: var(--zoloblocks-brand-color);
        }
    }

    .zolo-block-body-content {
        z-index: 1;
        position: relative;
    }

    /* icon box style 2 */
    &.style-2,
    &.iconbox-align-right {
        //notice close '
        .zolo-notice-dismiss {
            top: -40px;
            right: -108px;
        }

        &.iconbox-align-left .zolo-notice-dismiss {
            top: -39px;
            right: -38px;
        }
        .zolo-block-item {
            display: flex;
            grid-gap: var(--zolo-item-gap);
        }

        .zolo-block-icon-wrap {
            display: flex;
            margin-right: 10px;
        }

        .zolo-block-body-content {
            width: 100%;
        }
    }
    /* icon box style 3 */
    &.iconbox-align-right {
        .zolo-block-item {
            flex-direction: row-reverse;
        }
    }

    // style 3 css here
    &.style-3 {
        .zolo-block-item {
            --zolo-item-padding: 0;
            padding: var(--zolo-desc-text-color);
            overflow: hidden;
        }
        .zolo-block-icon-wrap {
            --zolo-icon-margin: 0;
            margin: var(--zolo-icon-margin);
            background-color: var(--zoloblocks-brand-color);
            width: 100%;
            box-sizing: border-box;
            img {
                --zolo-icon-img-width: 100%;
                width: var(--zolo-icon-img-width);
                height: auto;
                vertical-align: middle;
            }

            .zolo__display-icon {
                margin: auto;
                padding: 100px;
            }
        }
        .zolo-block-body-content {
            --zolo-content-padding: 30px;
            padding: var(--zolo-content-padding);
        }
    }

    // pro animation css here

    &.animation-style-1,
    &.animation-style-2,
    &.animation-style-3 {
        .zolo-block-item {
            position: relative;
            &::before {
                content: '';
                position: absolute;
                background-color: #d6f2fd;
                z-index: 1;
                transition: 0.3s cubic-bezier(0.24, 0.74, 0.58, 1);
            }
        }
        .zolo__display-icon,
        .zolo-block-title,
        .zolo-block-desc,
        .zolo-box-button,
        .zolo-ribbon-btn {
            transition: all 0.3s ease;
        }
    }

    // pro animation style-1 css here

    &.animation-style-1 {
        --zolo-animation-size: 128px;
        --zolo-animation-spacing: -75px;
        .zolo-block-item {
            overflow: hidden;
            &:hover {
                &::before {
                    transform: scale(20);
                }
            }
            &::before {
                height: var(--zolo-animation-size);
                width: var(--zolo-animation-size);
                border-radius: 50%;
                transition: all 0.5s ease;
            }
            &.animation-top-right::before {
                top: var(--zolo-animation-spacing);
                right: var(--zolo-animation-spacing);
            }
            &.animation-top-left::before {
                top: var(--zolo-animation-spacing);
                left: var(--zolo-animation-spacing);
            }
            &.animation-bottom-right::before {
                bottom: var(--zolo-animation-spacing);
                right: var(--zolo-animation-spacing);
            }
            &.animation-bottom-left::before {
                bottom: var(--zolo-animation-spacing);
                left: var(--zolo-animation-spacing);
            }
        }
    }

    // pro animation style-2 css here

    &.animation-style-2 {
        --zolo-animation-thickness: 8px;
        .zolo-block-item {
            &:hover {
                &::before {
                    width: 100%;
                }
            }
            &::before {
                height: 100%;
                width: var(--zolo-animation-thickness);
                border-radius: var(--zolo-item-border-radius);
            }
            &.animation-left::before {
                top: 0;
                left: 0;
            }
            &.animation-right::before {
                top: 0;
                right: 0;
            }

            &.animation-top::before {
                top: 0;
            }

            &.animation-bottom::before {
                bottom: 0;
            }

            &.animation-top::before,
            &.animation-bottom::before {
                left: 0;
                width: 100%;
                height: var(--zolo-animation-thickness);
            }

            &.animation-top:hover::before,
            &.animation-bottom:hover::before {
                height: 100%;
            }
        }
    }

    // pro animation style-3 css here
    &.animation-style-3 {
        .zolo-block-item {
            &:hover {
                &::before {
                    opacity: 1;
                    transform: scale(1);
                }
            }
            &::before {
                top: 0;
                left: 0;
                height: 100%;
                width: 100%;
                border-radius: var(--zolo-item-border-radius);
                transform: scale(0.8);
                opacity: 0;
            }
        }
    }
}
