.wp-block-zolo-review-child {
    // image
    --img-height: 70px;
    --img-width: 70px;

    --zolo-item-padding: 30px;
    --zolo-item-gap: 30px;
    --zolo-name-text-color: #202129;
    --zolo-desc-text-color: #6f6f71;
    --zolo-dasignation-text-color: #6f6f71;
    --zolo-star-rating-item-gap: 3px;
    --zolo-star-rating-icon-size: 16px;
    --zolo-star-rating-icon-color: #ff9a00;
    --zolo-review-img-and-meta-wrap-margin: -70px 0 0 0;
    --zolo-review-img-and-meta-wrap-gap: 12px;
    --zolo-img-margin: 0 0 20px 0;
    --zolo-review-icon-margin: 0 0 10px 0;
    --zolo-name-margin: 0 0 4px;
    --zolo-dasignation-margin: 0 0 10px;

    // overflow: hidden;
    box-sizing: border-box;
    // height: 100%;

    a {
        transition: 0.2s;
    }

    .zolo-item {
        background-color: var(--zoloblocks-item-bg-color);
        border-width: var(--zolo-item-border-width);
        border-style: var(--zolo-item-border-style);
        border-color: var(--zoloblocks-item-border-color);
        border-radius: var(--zolo-item-border-radius);
        padding: var(--zolo-item-padding);
        width: 100%;
        height: 100%;
        box-sizing: border-box;
    }

    &.default {
        .zolo-item {
            overflow: visible;
        }
    }

    .zolo-item,
    .zolo-image-wrap,
    .zolo-info-wrap {
        position: relative;
    }

    .zolo-image-wrap {
        width: var(--img-width);
        height: var(--img-height);
        min-width: var(--img-width);
        display: inline-block;
    }

    .zolo-img {
        height: 100%;
        width: 100%;
        object-fit: cover;
        display: block;
        box-sizing: border-box;
    }

    .zolo-name {
        display: block;
        font-size: 24px;
        font-weight: 700;
        text-decoration: none;
        color: var(--zolo-name-text-color);
        &.has-link:hover {
            color: var(--zoloblocks-brand-color-hover);
        }
    }

    .zolo-designation {
        font-size: 14px;
        font-weight: 300;
    }
    .zolo-desc {
        font-size: 16px;
    }
    .zolo-desc {
        color: var(--zolo-desc-text-color);
    }
    .zolo-designation {
        color: var(--zolo-dasignation-text-color);
    }
    // rating
    .zolo-star-rating {
        display: inline-flex;
        gap: var(--zolo-star-rating-item-gap);
        svg {
            width: var(--zolo-star-rating-icon-size);
            fill: var(--zolo-star-rating-icon-color);
        }
    }

    /*
	* Default Style
	*/
    &.default {
        overflow: visible;
        padding-top: 35px;
        .zolo-review-img-meta-wrap {
            margin: var(--zolo-review-img-and-meta-wrap-margin);
        }
        .zolo-image-wrap {
            margin: var(--zolo-img-margin);
        }
        .zolo-img {
            display: inline-block;
            border-radius: var(--zolo-item-border-radius);
        }
        .zolo-review-icon {
            margin: var(--zolo-review-icon-margin);
        }
        .zolo-name {
            margin: var(--zolo-name-margin);
        }
        .zolo-designation {
            margin: var(--zolo-dasignation-margin);
        }
    }
    /*
	* Style 1
	*/

    &.style-1,
    &.style-3,
    &.style-4 {
        .zolo-review-icon {
            --zolo-review-icon-margin: 0 0 12px;
            margin: var(--zolo-review-icon-margin);
        }
        .zolo-name {
            --zolo-name-margin: 0;
            margin: var(--zolo-name-margin);
            font-size: 20px;
        }
        .zolo-designation {
            font-size: 12px;
        }
        .zolo-review-img-meta-wrap {
            display: inline-flex;
            align-items: center;
            gap: var(--zolo-review-img-and-meta-wrap-gap);
        }
    }

    &.style-1,
    &.style-2,
    &.style-3,
    &.style-4 {
        .zolo-item {
            display: inline-flex;
            flex-direction: column-reverse;
            justify-content: space-between;
            gap: var(--zolo-item-gap);
        }
        .zolo-img {
            border-radius: 50%;
        }
    }

    &.style-2 {
        .zolo-item {
            text-align: center;
            flex-direction: column;
            gap: 0;
        }
        .zolo-review-icon {
            --zolo-review-icon-margin: 12px 0 10px 0;
            margin: var(--zolo-review-icon-margin);
        }
    }

    &.style-3 {
        &.zolo-fl-normal {
            .zolo-item {
                flex-direction: column;
            }
        }

        &.zolo-fl-reverse {
            .zolo-item {
                flex-direction: column-reverse;
            }
        }
        .zolo-review-icon {
            --zolo-review-icon-margin: 0;
            margin: var(--zolo-review-icon-margin);
        }
    }
}
