:root {
    --zolo-separator-space-between: 20px;
    --zolo-separator-size: 4px;
}

.wp-block-zolo-countdown {
    @import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600;700&display=swap');

    body {
        font-family: 'Open Sans', sans-serif;
        padding: 0;
        margin: 0;
        box-sizing: border-box;
    }

    .uk-container {
        display: flow-root;
        box-sizing: content-box;
        max-width: 1200px;
        margin-left: auto;
        margin-right: auto;
        padding-left: 15px;
        padding-right: 15px;
    }

    .zolo-countdown-wrap {
        display: flex;
        justify-content: center;
        align-items: center;
        font-family: Arial, sans-serif;
        gap: 10px;
    }

    .zolo-countdown-item {
        text-align: center;
        width: 100%;
        position: relative;
        border: 1px solid #f0f0f0;
        border-radius: 4px;
        display: flex;
        flex-direction: column;
        overflow: hidden;
    }

    .zolo-countdown-face {
        font-size: 2rem;
        font-weight: 700;
        color: #45444e;
    }

    .zolo-countdown-label {
        font-size: 1rem;
        color: #626164;
        margin-top: 10px;
    }

    .zolo-countdown-item::before,
    .zolo-countdown-item::after {
        position: absolute;
        content: '';
        right: 0;
        border-radius: 50%;
        background-color: #000000;
        width: var(--zolo-separator-size);
        height: var(--zolo-separator-size);
    }

    .zolo-countdown-item::before {
        top: var(--zolo-separator-space-between);
    }

    .zolo-countdown-item::after {
        bottom: var(--zolo-separator-space-between);
    }

    .zolo-countdown-style-1 .zolo-countdown-item:nth-last-child(1):before,
    .zolo-countdown-style-1 .zolo-countdown-item:nth-last-child(1)::after {
        display: none;
    }

    .zolo-countdown-style-1 .zolo-countdown-item,
    .zolo-countdown-style-3 .zolo-countdown-item,
    .zolo-countdown-style-4 .zolo-countdown-item {
        border: 0;
    }

    .zolo-countdown-style-2 .zolo-countdown-item::before,
    .zolo-countdown-style-2 .zolo-countdown-item::after,
    .zolo-countdown-style-3 .zolo-countdown-item::before,
    .zolo-countdown-style-3 .zolo-countdown-item::after,
    .zolo-countdown-style-4 .zolo-countdown-item::before,
    .zolo-countdown-style-4 .zolo-countdown-item::after {
        content: none;
    }

    .zolo-countdown-style-2 .zolo-countdown-face,
    .zolo-countdown-style-2 .zolo-countdown-label {
        padding: 15px;
    }

    .zolo-countdown-style-2 .zolo-countdown-label {
        background-color: #ededed;
    }
    .zolo-countdown-style-2 .zolo-countdown-label {
        margin: 0;
    }

    .zolo-countdown-style-3 .zolo-countdown-face {
        padding: 15px;
        background-color: #fff;
        border-radius: 6px;
        border: 1px solid #eaeaea;
    }

    .zolo-countdown-style-3 .zolo-countdown-label {
        background-color: #fafafa;
        padding: 10px;
        border-radius: 6px;
        border: 1px solid #eaeaea;
    }

    .zolo-countdown-style-4 .zolo-countdown-item {
        display: flex;
        gap: 5px;
        align-items: center;
        flex-direction: row;
    }

    .zolo-countdown-style-4 .zolo-countdown-face {
        font-size: 1rem;
    }
    .zolo-countdown-style-4 .zolo-countdown-label {
        margin: 0;
    }
}
