.zolo-loop-starting-screen {
    border: 1px solid #e4e4e4;
    padding: 50px;
    border-radius: 6px;
    text-align: center;
    .zolo-loop-starting-screen-title {
        margin: 0 0 20px;
        font-weight: 600;
    }
    .zolo-loop-starting-screen-content {
        display: flex;
        align-items: center;
        gap: 10px;
        justify-content: center;
        .components-button {
            color: #1a1c1f;
            border: 1px solid #ddd;
            padding: 16px;
            height: 36px;
            background: transparent;
            border-radius: 6px;
            font-weight: 600;
            transition: 0.3s ease;
            &:hover {
                color: #fff;
                border-color: var(--zoloblocks-brand-color);
                background: var(--zoloblocks-brand-color);
            }
        }
    }
}
