.zolo-post-featured-list-wrap {
    --zolo-feature-item-wrap-grid-gap: 20px;
    --zolo-item-gap: clamp(0.938rem, 3vw, 1.25rem);
    --zolo-featured-item-content-padding: clamp(1.563rem, 4vw, 1.875rem);
    --zolo-feature-item-image-height: clamp(18.75rem, 30vw, 25rem);
    --zolo-feature-title-margin: 0 0 10px;
    --zolo-feature-title-color: #ececec;
    --zolo-feature-category-margin: 0 0 18px;
    --zolo-feature-category-padding: 6px 12px;
    --zolo-feature-category-color: #d1d1e0;
    --zolo-feature-category-border-color: rgba(255, 255, 255, 0.149);
    --zolo-feature-meta-color: #d0d0d8;
    --zolo-featured-post-desc-color: #d0d0d8;
    --zolo-featured-post-desc-margin: 0 0 10px;
    --zolo-img-width: 300px;
    --zolo-title-margin: 0 0 4px;
    --zolo-category-wrap-margin: 0 0 12px;
    --zolo-category-wrap-gap: 7px;
    --zolo-category-wrap-padding: 0;
    --zolo-category-color: #000;
    --zolo-category-padding: 5px 10px;
    --zolo-category-border-width: 1px;
    --zolo-category-border-style: solid;
    --zolo-category-border-color: #ddd;
    --zolo-meta-gap: 8px;
    --zolo-meta-color: #8e8f95;
    --zolo-count-width: clamp(2.5rem, 5vw, 3.125rem);
    --zolo-count-height: clamp(2.5rem, 5vw, 3.125rem);
    --zolo-reading-time-gap: 5px;
    --zolo-desc-color: #6b6b71;
    --zolo-desc-margin: 10px 0 4px;
    --zolo-author-name-color: #fff;
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-gap: var(--zolo-feature-item-wrap-grid-gap);
    position: relative;
    counter-reset: number-count;

    .zolo-post-item {
        display: flex;
        align-items: center;
        gap: var(--zolo-item-gap);
        overflow: hidden;
        padding: 0 clamp(1.563rem, 4vw, 1.875rem);

        &:hover img {
            transform: scale(1.1);
        }

        &.featured-post {
            position: relative;
            padding: 0;

            .zolo-post-content {
                position: absolute;
                bottom: 0;
                left: 0;
                right: 0;
                padding: var(--zolo-featured-item-content-padding);
                width: auto;
                z-index: 1;
            }

            .zolo-post-image {
                width: 100%;
                height: var(--zolo-feature-item-image-height);

                &::before {
                    content: '';
                    position: absolute;
                    top: 0;
                    left: 0;
                    height: 100%;
                    width: 100%;
                    background: linear-gradient(45deg, black, transparent);
                    z-index: 1;
                }
            }

            .zolo-post-title {
                font-size: clamp(1.25rem, 3vw, 1.375rem);
                margin: var(--zolo-feature-title-margin);

                a {
                    color: var(--zolo-feature-title-color);
                }
            }

            .zolo-post-category {
                margin: var(--zolo-feature-category-margin);

                a {
                    padding: var(--zolo-feature-category-padding);
                    font-size: clamp(0.75rem, 1.5vw, 0.875rem);
                    color: var(--zolo-feature-category-color);
                    background-color: rgba(221, 221, 221, 0.169);
                    border-color: var(--zolo-feature-category-border-color);
                    backdrop-filter: blur(15px);
                }
            }

            .zolo-post-meta {
                color: var(--zolo-feature-meta-color);
            }
        }
    }

    .zolo-post-inner-content {
        width: 100%;
    }

    .zolo-post-meta-box img {
        display: none;
    }

    .zolo-post-image {
        position: relative;
        width: var(--zolo-img-width);
        overflow: hidden;
        border-radius: var(--zolo-item-border-radius);

        img {
            width: 100%;
            height: auto;
            display: block;
            // object-fit: cover;
            transition: transform 0.3s ease;
        }
    }

    .zolo-post-content {
        width: 100%;
    }

    .zolo-post-author-name {
        display: flex;
        align-items: center;
        gap: 6px;

        a {
            color: currentColor;
            text-decoration: none;
        }
    }

    .zolo-post-title {
        margin: var(--zolo-title-margin);
        font-size: clamp(0.938rem, 1.5vw, 1.2rem);
        line-height: 1.4;
    }

    .zolo-post-category {
        gap: var(--zolo-category-wrap-gap);
        margin: var(--zolo-category-wrap-margin);
        padding: var(--zolo-category-wrap-padding);
        list-style: none;

        a {
            color: var(--zolo-category-color);
            font-size: clamp(0.625rem, 1vw, 0.75rem);
            padding: clamp(0.313rem, 0.8vw, 0.438rem) clamp(0.75rem, 1.5vw, 0.875rem);
            display: inline;
            font-weight: 500;
            border-radius: var(--zoloblocks-button-border-radius);
            text-decoration: none;
            text-transform: capitalize;
            background-color: #ecf2fe;
            transition:
                color cubic-bezier(0.645, 0.045, 0.355, 1) 0.35s,
                background-color cubic-bezier(0.645, 0.045, 0.355, 1) 0.35s;

            &:hover {
                color: var(--zoloblocks-brand-button-color);
                background-color: var(--zoloblocks-brand-color-hover);
            }
        }
    }

    .zolo-post-category,
    .zolo-post-meta,
    .zolo-post-meta-box {
        display: inline-flex;
        align-items: center;
        flex-wrap: wrap;
    }

    .zolo-post-meta {
        font-size: clamp(0.75rem, 1.5vw, 0.875rem);
        color: var(--zolo-meta-color);
        gap: var(--zolo-meta-gap);
        font-weight: 500;
    }

    .zolo-post-count-number {
        counter-increment: number-count;
        position: relative;

        &:before {
            content: counter(number-count);
            color: var(--zoloblocks-brand-button-color);
            background-color: var(--zoloblocks-brand-color);
            display: inline-flex;
            align-items: center;
            justify-content: center;
            border-radius: 50%;
            font-weight: 500;
            width: var(--zolo-count-width);
            min-width: var(--zolo-count-width);
            height: var(--zolo-count-height);
        }
    }

    .zolo-post-reading-time {
        display: inline-flex;
        gap: var(--zolo-reading-time-gap);
    }

    .zolo-post-desc p {
        font-size: 14px;
        margin: var(--zolo-desc-margin);
        color: var(--zolo-desc-color);
    }

    .zolo-post-title a,
    .zolo-post-category a {
        color: #2a292c;
        text-decoration: none;
        transition: 0.3s ease;
    }

    .zolo-post-item.featured-post .zolo-post-desc p {
        font-size: 16px;
        margin: var(--zolo-featured-post-desc-margin);
        color: var(--zolo-featured-post-desc-color);
    }

    .zolo-post-title a:hover,
    .zolo-post-author-name a:hover,
    .zolo-post-item.featured-post .zolo-post-title a:hover,
    .zolo-post-item.featured-post .zolo-post-author-name a:hover {
        color: var(--zoloblocks-brand-color-hover);
    }

    &.zolo-post-style-1 .zolo-post-count-number,
    &.zolo-post-style-2 .zolo-post-count-number,
    &.zolo-post-style-3 .zolo-post-image,
    &.zolo-post-style-4 .zolo-post-image,
    &.zolo-post-style-5 .zolo-post-image {
        display: none;
    }

    // &.zolo-post-style-2 .zolo-post-item,
    &.zolo-post-style-4 .zolo-post-content {
        flex-direction: row-reverse;
        // text-align: right;
    }

    &.zolo-post-style-1 .zolo-post-item,
    &.zolo-post-style-2 .zolo-post-item {
        padding: 0;
    }

    &.zolo-post-style-3,
    &.zolo-post-style-4,
    &.zolo-post-style-5 {
        .zolo-post-item {

            // padding: 0 30px;
            &.featured-post {

                // padding: 0;
                .zolo-post-image {
                    display: block;
                }
            }
        }

        .zolo-post-content {
            display: inline-flex;
            gap: clamp(0.938rem, 3vw, 1.25rem);
        }
    }

    &.zolo-post-style-3,
    &.zolo-post-style-4 {
        .zolo-post-item.featured-post .zolo-post-image {
            display: block;
        }

        .zolo-post-content {
            align-items: center;
        }

        .zolo-post-item.featured-post {
            padding: 0;
        }
    }

    &.zolo-post-style-5 {
        .zolo-post-content {
            flex-direction: column;
        }

        .zolo-post-item {
            --zolo-item-padding: 0 clamp(1.563rem, 4vw, 1.875rem) clamp(1.563rem, 4vw, 1.875rem) clamp(1.563rem, 4vw, 1.875rem);
            padding: var(--zolo-item-padding);
            border-bottom: 1px solid #ddd;

            &.featured-post {
                padding: 0;
                border-bottom: 0;
            }

            &:nth-last-child(1) {
                padding-bottom: 0;
                border-bottom: 0;
            }
        }
    }
}

.zolo-post-title {
    font-weight: 700;
    &.zolo-post-has-readmore {
        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: 5px;

        a.zolo-post-readmore {
            font-size: 16px;
            font-weight: 400;
            display: inline-flex;
            justify-content: center;
            align-items: center;
            gap: 5px;
            text-decoration: none;
            background-color: #ecf2fe;
            color: var(--zolo-readmore-color);
            padding: 5px 10px;
            border-radius: var(--zoloblocks-button-border-radius);
            transition: all 0.3s ease;
            outline: none !important;

            .zolo__display-icon {
                display: flex;
                justify-content: center;
                align-items: center;
            }


            svg {
                width: 15px;
                height: 15px;
                fill: currentColor;
            }
        }
    }
}

// pagination css  start
.zolo-pagination-nav {
    display: inline-flex;
    align-items: center;
    border-radius: 5px;
    overflow: hidden;

    .page-numbers {
        transition: 0.2s;
        font-size: 14px;
        padding: 8px 15px;
        text-transform: uppercase;
        text-decoration: none;
        background: #f0f0f4;
        cursor: pointer;

        + .page-numbers {
            border-left: 1px solid #d9d9d9;
        }

        &.current {
            background-color: #c5c5c5;
        }
    }
}

.zolo-pagination-wrap {
    text-align: center;
    padding-top: 30px;

    .zolo-pagination-button {
        cursor: pointer;
        font-size: 13px;
        letter-spacing: 0.1em;
        text-transform: uppercase;
        background-color: #c5c5c5;
        text-decoration: none;
        padding: 9px 20px;
        display: inline-block;
        color: #333;
        transition:
            color 0.2s ease-in-out,
            background-color 0.2s ease-in-out;

        &:hover {
            background-color: #b0b0b0;
            color: #111;
        }
    }
}