@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;1,400&family=Urbanist:wght@300;400;500;600;700;800&display=swap');
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}

.zolo-container {
  display: flow-root;
  box-sizing: content-box;
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;

  margin-top: 50px;
  margin-bottom: 50px;
}

.tab__list {
  display: flex;
  gap: 20px;
  margin-bottom: 24px;
  flex-direction: column;
}

.zolo-tab_head-item {
  position: relative;
}

.tab__content {
  padding: 32px;
  background: #647ef5;
  border-radius: 10px;
  color: #ebebec;
}

.tab__content-item {
  display: none;
}

.tab__content-item.is--active {
  display: block;
}

.tab__content-title {
  margin: 0 0 10px;
  font-size: 30px;
}

.tab__content-item .tab .tab__content {
  padding: 0;
}

.zolo-tab_head-item {
  position: relative;
  text-align: left;
  cursor: pointer;
}

.zolo-tab_icon-number-wrap span {
  padding: 14px;
  background-color: #e5e5ec;
  display: inline-block;
  font-size: 16px;
  border-radius: 10px;
  font-weight: 700;
}

.zolo-tab_icon-number-wrap svg {
  width: 1em;
  height: 1em;
  display: block;
}

.zolo-tab_title {
  margin: 0 0 10px;
  font-size: 18px !important;
  color: #484853;
  font-size: 28px;
  font-family: 'Urbanist', sans-serif;
}

.zolo-tab_desc {
  margin: 0;
  color: #88888b;
  font-family: 'Open Sans', sans-serif;
  font-size: 14px;
  line-height: 1.6;
}

.zolo-tab_single-content {
  color: #767679;
  font-size: 16px;
  line-height: 1.6;
  font-family: 'Open Sans', sans-serif;
}

.zolo-tab_single-content strong {
  color: #000;
  font-size: 18px;
  margin-bottom: 10px;
  display: block;
}

.zolo-nexted-tab .zolo-tab_icon-number-wrap span {
  background-color: rgba(255, 255, 255, 0.09);
}

.zolo-nexted-tab .zolo-tab_title {
  color: #ffffff;
}

.zolo-nexted-tab .zolo-tab_desc {
  color: #e4e4e4;
}

.zolo-tab_icon-number-wrap .zolo-tab_number {
  display: none;
}

.zolo-tab_content-style-1 .zolo-tab_icon-number-wrap {
  margin: 0 0 15px;
}
/* style 1,2,3,4 css code */

.zolo-tab_style-1 .zolo-tab_head-item,
.zolo-tab_style-2 .zolo-nexted-tab .zolo-tab_head-item {
  /* width: 100%; */
  padding-bottom: 25px;
}

.zolo-tab_animation-style-1 .tab__item:before,
.zolo-tab_animation-style-2 .tab__item:before,
.zolo-tab_animation-style-3 .tab__item:before {
  content: "";
  position: absolute;
  bottom: -2px;
  left: 0;
  height: 2px;
  width: 100%;
  background: #647ef5;
  transition: 0.2s;
  visibility: hidden;
  opacity: 0;
  z-index: 1;
}

.zolo-tab_animation-style-1 .zolo-nexted-tab .tab__item:before,
.zolo-tab_animation-style-2 .zolo-nexted-tab .tab__item:before,
.zolo-tab_animation-style-3 .zolo-nexted-tab .tab__item:before {
  background: #fff;
}

.zolo-tab_animation-style-1 .tab__item.is--active:before,
.zolo-tab_animation-style-2 .tab__item.is--active:before,
.zolo-tab_animation-style-3 .tab__item.is--active:before {
  visibility: visible;
  opacity: 1;
}

.zolo-tab_animation-style-2 .tab__item:before,
.zolo-tab_animation-style-2 .tab__item::before,
.zolo-tab_animation-style-3 .tab__item::before {
  width: 0;
  transition: width 0.45s cubic-bezier(0.23, 1, 0.32, 1)
}

.zolo-tab_animation-style-2 .tab__item.is--active::before,
.zolo-tab_animation-style-3 .tab__item.is--active::before {
  width: 100%;
}

.zolo-tab_animation-style-3 .tab__item::before {
 left: 50%;
 transform: translateX(-50%);
}

.tab.zolo-tab_style-2,
.tab.zolo-tab_style-3,
.tab.zolo-tab_style-4,
.tab.zolo-tab_style-5  {
  display: flex;
  gap: 30px;
  flex-direction: column;
}

/* .tab.zolo-tab_style-3,
.tab.zolo-tab_style-5 {
  flex-direction: row-reverse;
} */

.zolo-tab_style-2 .tab__list,
.zolo-tab_style-3 .tab__list,
.zolo-tab_style-4 .tab__list,
.zolo-tab_style-5 .tab__list {
  margin-bottom: 0;
  flex-direction: column;
}

/* .zolo-tab_style-2 .tab__content,
.zolo-tab_style-3 .tab__content,
.zolo-tab_style-4 .tab__content,
.zolo-tab_style-5 .tab__content {
  width: 100%;
} */

/* .zolo-tab_style-2 .zolo-tab_header-wrap,
.zolo-tab_style-3 .zolo-tab_header-wrap,
.zolo-tab_style-4 .zolo-tab_header-wrap,
.zolo-tab_style-5 .zolo-tab_header-wrap {
  width: 100%;
} */

.zolo-tab_style-2 .zolo-nexted-tab .zolo-tab_header-wrap,
.zolo-tab_style-3 .zolo-nexted-tab .zolo-tab_header-wrap,
.zolo-tab_style-4 .zolo-nexted-tab .zolo-tab_header-wrap,
.zolo-tab_style-5 .zolo-nexted-tab .zolo-tab_header-wrap {
  width: 100%;
}
.zolo-tab_style-2 .zolo-nexted-tab .tab__list,
.zolo-tab_style-3 .zolo-nexted-tab .tab__list,
.zolo-tab_style-4 .zolo-nexted-tab .tab__list,
.zolo-tab_style-5 .zolo-nexted-tab .tab__list {
  flex-direction: column;
}

.zolo-tab_style-2 .tab__item,
.zolo-tab_style-3 .tab__item,
.zolo-tab_style-4 .tab__item,
.zolo-tab_style-5 .tab__item {
  border-radius: 10px;
  padding: 25px;
}
.zolo-tab_style-2 .tab__item.is--active,
.zolo-tab_style-3 .tab__item.is--active,
.zolo-tab_style-4 .tab__item.is--active,
.zolo-tab_style-5 .tab__item.is--active {
  background-color: #fff;
  box-shadow: 0 15px 45px rgba(0,0,0,0.075);
}

.zolo-tab_style-2 .zolo-nexted-tab .is--active .zolo-tab_icon-number-wrap span,
.zolo-tab_style-3 .zolo-nexted-tab .is--active .zolo-tab_icon-number-wrap span,
.zolo-tab_style-4 .zolo-nexted-tab .is--active .zolo-tab_icon-number-wrap span,
.zolo-tab_style-5 .zolo-nexted-tab .is--active .zolo-tab_icon-number-wrap span {
  color: #000;
  background-color: rgb(229 229 236);
}
.zolo-tab_style-2 .zolo-nexted-tab .is--active .zolo-tab_title,
.zolo-tab_style-3 .zolo-nexted-tab .is--active .zolo-tab_title,
.zolo-tab_style-4 .zolo-nexted-tab .is--active .zolo-tab_title,
.zolo-tab_style-5 .zolo-nexted-tab .is--active .zolo-tab_title {
  color: #484853;
}

.zolo-tab_style-2 .zolo-nexted-tab .is--active .zolo-tab_desc,
.zolo-tab_style-3 .zolo-nexted-tab .is--active .zolo-tab_desc,
.zolo-tab_style-4 .zolo-nexted-tab .is--active .zolo-tab_desc,
.zolo-tab_style-5 .zolo-nexted-tab .is--active .zolo-tab_desc {
  color: #88888b;
}

/* content style 1,2,3,4 css code  */
.zolo-tab_content-style-2 .zolo-tab_head-item,
.zolo-tab_content-style-3 .zolo-tab_head-item {
  display: flex;
  gap: 15px;
}

.zolo-tab_content-style-3 .zolo-tab_head-item {
  flex-direction: row-reverse;
  text-align: right;
}

.zolo-tab_style-4 .zolo-tab_desc,
.zolo-tab_style-5 .zolo-tab_desc,
.zolo-tab_style-6 .zolo-tab_desc,
.zolo-tab_style-7 .zolo-tab_desc,
.zolo-tab_style-7 .zolo-tab_icon-number-wrap,
.zolo-tab_style-8 .zolo-tab_desc,
.zolo-tab_style-8 .zolo-tab_title,
.zolo-tab_style-8 .zolo-tab_number{
  display: none;
}
.zolo-tab_style-4 .zolo-tab_head-item,
.zolo-tab_style-5 .zolo-tab_head-item,
.zolo-tab_style-6 .zolo-tab_head-item {
  align-items: center;
  gap: 10px;
  padding: 15px;
}

.zolo-tab_style-4 .zolo-tab_title,
.zolo-tab_style-5 .zolo-tab_title,
.zolo-tab_style-6 .zolo-tab_title,
.zolo-tab_style-7 .zolo-tab_title {
  margin: 0;
}

.zolo-tab_style-4 .zolo-tab_icon-number-wrap span,
.zolo-tab_style-5 .zolo-tab_icon-number-wrap span,
.zolo-tab_style-6 .zolo-tab_icon-number-wrap span {
  border-radius: 50%;
}
.zolo-tab_style-4 .is--active.zolo-tab_head-item .zolo-tab_icon-number-wrap span,
.zolo-tab_style-5 .is--active.zolo-tab_head-item .zolo-tab_icon-number-wrap span {
  background-color: #647ef5;
  color: #fff;
}

.zolo-tab_style-6 .zolo-tab_icon-number-wrap .zolo-tab_icon {
  display: none;
}
.zolo-tab_style-6 .zolo-tab_icon-number-wrap .zolo-tab_number {
  display: block;
}

.zolo-tab_style-6 .zolo-tab_head-item,
.zolo-tab_style-7 .zolo-tab_head-item {
  border-radius: 10px;
  padding: 12px 24px;
  background-color: #e5e5ec;
}

.zolo-tab_style-7 .zolo-tab_head-item {
  padding: clamp(0.625rem, 1.7vw, 1.125rem) clamp(0.875rem, 2vw, 1.5rem);
}

.zolo-tab_style-6 .is--active.zolo-tab_head-item,
.zolo-tab_style-7 .is--active.zolo-tab_head-item  {
  background-color: #647ef5;
}

.zolo-tab_style-6 .zolo-tab_title,
.zolo-tab_style-7 .zolo-tab_title {
  font-size: clamp(0.875rem, 1.5vw, 1rem);
}

.zolo-tab_style-6 .is--active.zolo-tab_head-item  .zolo-tab_title,
.zolo-tab_style-7 .is--active.zolo-tab_head-item  .zolo-tab_title {
  color: #fff;
}

.zolo-tab_style-6 .zolo-tab_icon-number-wrap span {
  padding: 10px;
  background-color: #fff;
  font-size: 14px;
  color: #484853;

}

.zolo-tab_style-6 .zolo-nexted-tab .zolo-tab_head-item  .zolo-tab_title,
.zolo-tab_style-7 .zolo-nexted-tab .zolo-tab_head-item  .zolo-tab_title {
  color: #484853;
}

.zolo-tab_style-6 .zolo-nexted-tab .is--active .zolo-tab_icon-number-wrap span {
  background-color: #647ef5;
  color: #fff;
}


.zolo-tab_style-6 .zolo-nexted-tab .is--active.zolo-tab_head-item,
.zolo-tab_style-7 .zolo-nexted-tab .is--active.zolo-tab_head-item {
  background-color: #fff;
}

.zolo-tab_style-7 .zolo-tab_header-wrap {
  justify-content: center;
  gap: 0;
}
.zolo-tab_style-7 .zolo-tab_header-wrap .zolo-tab_head-item {
  border-radius: 0;
}
.zolo-tab_style-7 .zolo-tab_header-wrap .zolo-tab_head-item:first-child {
  border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}
.zolo-tab_style-7 .zolo-tab_header-wrap .zolo-tab_head-item:nth-last-child(1) {
  border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
}

.zolo-tab_style-8 .zolo-tab_header-wrap {
  gap: 0;
  margin: 0;
}
.zolo-tab_style-8 .zolo-tab_icon-number-wrap svg {
  display: inline-block;
}
.zolo-tab_style-8 .zolo-tab_icon {
  background-color: transparent;
  padding: 18px 26px;
  border-radius: 0;
}
.zolo-tab_style-8 .is--active .zolo-tab_icon {
  color: #fff;
  background-color: #647ef5;
}
.zolo-tab_style-8 .zolo-nexted-tab .is--active .zolo-tab_icon {
  color: #000;
  background-color: #fff;
}
.zolo-tab_style-8 .tab__content {
  border-radius: 0;
}

.zolo-tab_style-7 .tab__list,
.zolo-tab_style-8 .tab__list {
    flex-direction: row;
}

@media (min-width: 768px) {
  .tab__list {
    flex-direction: row;
   }
   .tab.zolo-tab_style-2,
    .tab.zolo-tab_style-3,
    .tab.zolo-tab_style-4,
    .tab.zolo-tab_style-5 {
     flex-direction: row;
  }
  .tab.zolo-tab_style-3,
   .tab.zolo-tab_style-5 {
    flex-direction: row-reverse;
}
  .zolo-tab_style-2 .zolo-tab_header-wrap,
  .zolo-tab_style-3 .zolo-tab_header-wrap,
  .zolo-tab_style-4 .zolo-tab_header-wrap,
  .zolo-tab_style-5 .zolo-tab_header-wrap {
    width: 40%;
  }
  .zolo-tab_style-2 .zolo-nexted-tab .tab__list,
  .zolo-tab_style-3 .zolo-nexted-tab .tab__list,
  .zolo-tab_style-4 .zolo-nexted-tab .tab__list,
  .zolo-tab_style-5 .zolo-nexted-tab .tab__list {
      flex-direction: row;
  }
  .zolo-tab_style-1 .zolo-tab_head-item,
  .zolo-tab_style-2 .zolo-nexted-tab .zolo-tab_head-item {
    width: 100%;
}
.zolo-tab_style-2 .tab__content,
.zolo-tab_style-3 .tab__content,
.zolo-tab_style-4 .tab__content,
.zolo-tab_style-5 .tab__content {
  width: 100%;
}
}