.wp-block-zolo-review-carousel {
    &.Tablet,
    &.Mobile {
        .swiper-wrapper {
            display: flex;
            width: auto;
            overflow-x: scroll;
            z-index: 11;
            position: relative;
            transform: unset !important;
            padding-bottom: 20px;
        }
        .swiper-slide {
            margin-right: 30px !important;
        }
    }
    &.Tablet {
        .swiper-slide {
            width: 344px !important;
            min-width: 344px;
        }
    }
    &.Mobile {
        .swiper-slide {
            width: 300px !important;
            min-width: 300px;
        }
    }
}
