// .zolo-pricing-plan-wrap {
// 	display: grid;
// 	grid-gap: 30px;
// 	grid-template-columns: repeat(1, 1fr);
// }

.zolo-item {
	position: relative;
	background-color: #fff;
}

.zolo-pricing-style-1 .zolo-item {
	border-radius: 10px;
	border: 1px solid #ddd;
}

.zolo-pricing-style-1 .zolo-head-content {
	padding: 30px;
}


.zolo-pricing-style-1 .zolo-package-title {
	margin: 0 0 20px;
	font-size: 23px;
	font-weight: 700;
	color: #292734;
	text-transform: capitalize;
}

.zolo-pricing-style-1 .zolo-price-info {
	display: flex;
	align-items: center;
	gap: 6px;
	margin-bottom: 10px;
}

.zolo-pricing-style-1 .zolo-user-month,
.zolo-pricing-style-2 .zolo-user-month {
	display: flex;
	font-size: 14px;
	font-weight: 300;
	color: #34353c;
}

.zolo-pricing-style-1 .zolo-user-month {
	flex-direction: column;
}

.zolo-pricing-style-2 .zolo-user-month {
	flex-direction: row;
	gap: 10px;
}

.zolo-price {
	font-size: 40px;
	font-weight: 700;
	color: #17171a;
}

.zolo-package-desc,
.zolo-features-desc {
	font-size: 14px;
	font-weight: 300;
	color: #494754;
	margin-bottom: 25px;
}

.zolo-link-btn {
	display: flex;
	flex-direction: column;
	/* align-items: center; */
	gap: 10px;
	text-align: center;
}

.zolo-link-btn a {
	padding: 12px;
	font-size: 14px;
	border-radius: 5px;
	border: 1px solid #ddd;
	text-transform: capitalize;
	text-decoration: none;
	transition: all .3s ease;
}

.zolo-buy-btn,
.zolo-chat-btn:hover {
	background-color: #000;
	color: #fff;

	border: 1px solid #ddd;
}

.zolo-buy-btn:hover,
.zolo-chat-btn {
	background-color: transparent;
	color: #000;
}

.zolo-pricing-style-1 .zolo-features-info {
	border-top: 1px solid #ddd;
	padding: 30px;
}

.zolo-features-title {
	font-size: 16px;
	font-weight: 700;
	text-transform: uppercase;
}

.zolo-item {
	ul.features {
		margin: 0;
		padding: 0;
		list-style: none;
		display: flex;
		flex-direction: column;
		gap: 15px;
	}
}


.features li {
	display: flex;
	align-items: center;
	font-size: 14px;
	gap: 10px;
	color: #524f58;
}

.zolo-check-icon {
	background-color: #7aff00;
	padding: 4px;
	border-radius: 100%;
	line-height: 1;
}

.zolo-ribbon-btn {
	position: absolute;
	top: 0;
	right: 0;
	margin: 30px;
	color: #000;
	font-size: 11px;
	text-transform: capitalize;
	background-color: #72fd3f;
	padding: 4px 10px;
	border-radius: 30px;
}

.zolo-pricing-style-1 .zolo-featerd-item {
	background-color: #000;
}


.zolo-pricing-style-1 .zolo-featerd-item .zolo-buy-btn,
.zolo-pricing-style-1 .zolo-featerd-item .zolo-chat-btn:hover {
	background-color: #7aff00;
	color: #000;

	border: 1px solid #ddd;
}

.zolo-pricing-style-1 .zolo-featerd-item .zolo-buy-btn:hover,
.zolo-pricing-style-1 .zolo-featerd-item .zolo-chat-btn {
	background-color: white;
	color: #000;
}

.zolo-pricing-style-1 .zolo-featerd-item .zolo-package-title {
	color: #72fd3f;
}

.zolo-pricing-style-1 .zolo-featerd-item .zolo-price,
.zolo-pricing-style-1 .zolo-featerd-item .zolo-features-title {
	color: #e1e1e1;
}

.zolo-pricing-style-1 .zolo-featerd-item .zolo-user-month,
.zolo-pricing-style-1 .zolo-featerd-item .zolo-package-desc,
.zolo-pricing-style-1 .zolo-featerd-item .zolo-features-desc,
.zolo-pricing-style-1 .zolo-featerd-item .features li {
	color: #b4b5b9;
}

.zolo-pricing-style-1 .zolo-featerd-item .zolo-check-icon {
	color: #000;
}

.zolo-pricing-style-1 .zolo-featerd-item .zolo-features-info {
	border-top: 1px solid rgba(215, 218, 223, 0.322);
}

.zolo-pricing-style-2 .zolo-package-desc,
.zolo-pricing-style-2 .zolo-chat-btn,
.zolo-pricing-style-3 .zolo-package-desc,
.zolo-pricing-style-3 .zolo-chat-btn {
	display: none;
}

.zolo-pricing-style-2 .zolo-item,
.zolo-pricing-style-3 .zolo-item {
	display: flex;
	align-items: flex-start;
	background-color: #d5f2fe;
	padding: 30px;
	border-radius: 10px;
	/* gap: 12px; */
	height: 250px;
}

.zolo-pricing-style-3 .zolo-item {
	flex-direction: row-reverse;
}


.zolo-pricing-style-2 .zolo-package-title,
.zolo-pricing-style-3 .zolo-package-title {
	margin: 0 0 25px;
	font-size: 15px;
	border: 1px solid #5c5858;
	display: inline-block;
	padding: 8px 12px;
	text-transform: capitalize;
	border-radius: 5px;
}

.zolo-pricing-style-2 .zolo-link-btn,
.zolo-pricing-style-3 .zolo-link-btn {
	position: absolute;
	bottom: 0;
	left: 0;
	right: 0;
	margin: 30px;
}

.zolo-pricing-style-2 .zolo-features-info {
	width: 100%;
	border-left: 1px solid rgba(181, 181, 181, 0.349);
	padding-left: 30px;
}

.zolo-pricing-style-2 .zolo-head-content {
	width: 100%;
	padding-right: 30px;
}

.zolo-pricing-style-3 .zolo-features-info {
	width: 100%;
	border-right: 1px solid rgba(181, 181, 181, 0.349);
	padding-right: 30px;
}

.zolo-pricing-style-3 .zolo-head-content {
	width: 100%;
	padding-left: 30px;
}

.zolo-pricing-style-2 .zolo-price,
.zolo-pricing-style-3 .zolo-price {
	font-size: 50px;
}

.zolo-pricing-style-2 .zolo-user-month,
.zolo-pricing-style-2 .zolo-user-month,
.zolo-pricing-style-3 .zolo-user-month,
.zolo-pricing-style-3 .zolo-user-month {
	font-weight: 700;
}

.zolo-pricing-style-2 .features li,
.zolo-pricing-style-3 .features li {
	font-size: 13px;
	gap: 7px;
}

.zolo-pricing-style-2 .zolo-check-icon,
.zolo-pricing-style-3 .zolo-check-icon {
	background-color: #070808;
	padding: 2px;
	color: #fff;
}

.zolo-pricing-style-2 .zolo-item.zolo-featerd-item,
.zolo-pricing-style-3 .zolo-item.zolo-featerd-item {
	background-color: #ffd7fd;
}

.zolo-pricing-style-2 .zolo-link-btn a,
.zolo-pricing-style-3 .zolo-link-btn a {
	border: 1px solid #1f1e22;
}

.zolo-pricing-style-2 .features,
.zolo-pricing-style-3 .features {
	gap: 20px;
}

@media (min-width: 768px) {
	.zolo-pricing-plan-wrap {
		grid-template-columns: repeat(2, 1fr);
	}
}

@media (min-width: 1024px) {
	.zolo-pricing-plan-wrap {
		grid-template-columns: repeat(3, 1fr);
	}
}