.zolo-panel-control-header-tabs {
    .components-base-control__field {
        gap: 0 !important;
    }
    .zolo-tab-group {
        display: flex;
        position: relative;
        background: #fff;
        z-index: 9;
        border: 0 !important;
        outline: none !important;
        box-shadow: unset !important;
        padding: 0;

        &::before {
            display: none;
        }

        .zolo-header-tab-group-option {
            width: 100%;
            color: #1a1a1a;
            border: 1px solid #e6e6e6;
            // transition: border 0.2s ease-in-out !important;
            box-shadow: unset !important;
            outline: none !important;

            .zolo-tab-button-content {
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                height: 80px;
                gap: 5px;
            }

            &[data-active-item='true'] {
                background: #fff;
                color: #001feb;
                border: 0 !important;
                border-top: 2px solid #001feb !important;
                svg {
                    path {
                        fill: #001feb !important;
                    }
                }
            }
            &:not([data-active-item='true']) {
                background: #f2f2f2;
            }

            svg {
                width: 24px;
            }

            .zolo-tab-label {
                margin: 0;
                padding: 0;
                font-size: 13px;
                font-weight: 400;
            }
        }
    }

    &.zolo-basic {
        .zolo-style-tab {
            border-bottom-left-radius: 8px;
            border-right: 0 !important;
        }
    }

    &.zolo-style {
        .zolo-basic-tab {
            border-bottom-right-radius: 8px;
            border-left: 0 !important;
        }
        .zolo-extra-tab {
            border-bottom-left-radius: 8px;
            border-right: 0 !important;
        }
    }

    &.zolo-extra {
        .zolo-style-tab {
            border-bottom-right-radius: 8px;
            border-left: 0 !important;
        }
    }

    .components-button:focus:not(:disabled) {
        box-shadow: none !important;
        outline: none !important;
    }
    .components-button-group .components-button + .components-button {
        margin-left: 0 !important;
    }
}

.zolo-tab-controls {
    .components-base-control {
        margin-bottom: 16px !important;
    }
    .components-range-control {
        .components-base-control {
            margin-bottom: 0 !important;
        }
    }
    .zb-counter-control {
        .components-base-control {
            margin-bottom: 0 !important;
        }
    }

    .zolo-tab-panel {
        width: 100%;
        box-sizing: border-box;
    }
}
