.zolo-multi-rangle-control * {
    box-sizing: border-box;
    padding: 0px;
    margin: 0px;
}
.zolo-multi-rangle-control {
    display: flex;
    position: relative;
    flex-direction: column;
    padding-bottom: 48px;
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
    -khtml-user-select: none; /* Konqueror HTML */
    -moz-user-select: none; /* Old versions of Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */
    user-select: none; /* Non-prefixed version, currently supported by Chrome, Edge,*/
}

.top-label {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 8px;
}

.zolo-multi-rangle-control .bar {
    display: flex;
}
.zolo-multi-rangle-control .bar * {
    transition: all 100ms;
}
.zolo-multi-rangle-control .bar.active * {
    transition: none;
}
.zolo-multi-rangle-control .bar-left {
    width: 25%;
    background-color: #f0f0f0;
    border-radius: 10px 0px 0px 10px;
    padding: 1.2px 0px;
}
.zolo-multi-rangle-control .bar-right {
    width: 25%;
    background-color: #f0f0f0;
    border-radius: 0px 10px 10px 0px;
}
.zolo-multi-rangle-control .bar-inner {
    background-color: #021feb;
    display: flex;
    flex-grow: 1;
    flex-shrink: 1;
    justify-content: space-between;
    position: relative;
    justify-content: space-between;
}
.zolo-multi-rangle-control .bar-inner-left {
    width: 50%;
}
.zolo-multi-rangle-control .bar-inner-right {
    width: 50%;
}
.zolo-multi-rangle-control .thumb {
    background-color: red;
    position: relative;
    z-index: 1;
    cursor: pointer;
}
.zolo-multi-rangle-control .thumb::before {
    content: "";
    background-color: blue;
    position: absolute;
    width: 14px;
    height: 14px;
    border-radius: 50%;
    z-index: 1;
    margin: -6px;
    cursor: pointer;
}
.zolo-multi-rangle-control .input-type-range:focus + .thumb::after {
    content: '';
    position: absolute;
    top: -4px;
    left: -4px;
    width: 11px;
    height: 11px;
    z-index: 2;
    border-radius: 50%;
    border: dotted 1px black;
}

.zolo-multi-rangle-control .thumb * {
    position: absolute;
    bottom: -26px;
    width: 22px;
    height: 18px;
    left: -10px;
    font-size: 8px;
    text-align: center;
    line-height: 18px;
    background-color: rgb(21, 21, 21);
    border-radius: 4px;
    color: white;
}
.zolo-multi-rangle-control .thumb:active * {
    display: block;
}
.input-type-range {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    opacity: 0;
    pointer-events: none;
}

.zolo-multi-rangle-control .ruler {
    margin: 10px 0px -5px 0px;
    display: flex;
    /* display: none; */
}
.zolo-multi-rangle-control .ruler .ruler-rule {
    border-left: solid 1px;
    border-bottom: solid 1px;
    display: flex;
    flex-grow: 1;
    flex-shrink: 1;
    padding: 5px 0px;
}

.zolo-multi-rangle-control .ruler .ruler-rule:last-child {
    border-right: solid 1px;
}

.zolo-multi-rangle-control .label {
    display: flex;
    justify-content: space-between;
    padding: 0px;
    margin-top: 10px;
    margin-bottom: -20px;
    /* display: none; */
}
.zolo-multi-rangle-control .label-min {
    font-size: 80%;
}
.zolo-multi-rangle-control .label-max {
    font-size: 80%;
}
