.zolo-responsive-dropdown {
    position: relative;
    .zolo-responsive-dropdown-menu {
        position: absolute;
        top: 0;
        transform: translateY(-4px);
        left: var(--from-left);
        z-index: 2;

        .components-dropdown-menu__toggle {
            padding: 3px !important;
            min-width: auto !important;
            min-height: auto !important;
            height: auto !important;
            background-color: #f2f2f2 !important;
            border-radius: 50% !important;
            svg {
                height: 20px;
                width: 20px;
            }
        }
    }
}

.zolo-responsive-dropdown-popover{
    .components-popover__content {
        padding: 0 !important;

        .components-dropdown-menu__menu-item{
            min-width: auto !important;
            min-height: auto !important;
            padding: 3px !important;
            height: auto !important;

            &:focus {
                box-shadow: none !important;
                outline: none !important;
            }

            svg {
                height: 20px;
                width: 20px;
            }
        }
    }
}

.zolo-responsive-dropdown {
    .components-base-control {
        margin-bottom: 0 !important;
    }
    .components-input-control__input {
        border-top-right-radius: 0 !important;
        border-bottom-right-radius: 0 !important;
    }
    .components-input-control__suffix {
        .components-unit-control__select {
            width: 40px !important;
            border-top-right-radius: 6px !important;
            border-bottom-right-radius: 6px !important;
            border-left-color: #fff !important;
        }
    }
    .zb-box-control-wrapper {
        margin-bottom: 20px;
    }

    .zb-range-unit {
        margin-bottom: 10px;
        &:last-child {
            margin-bottom: 0;
        }
    }
}