.zolo-toggle-group-control {

    .components-toggle-group-control {
        border-radius: 6px;
        background-color: #f2f2f2;
        border: none !important;
        box-shadow: none !important;
        outline: none ;
    }
    // .components-toggle-group-control-option-base[data-active-item=true] {
    //     background-color: #ffffff !important;
    //     color: #001feb !important;
    //     border-color: #e8e8ea !important;
    // }
    .components-toggle-group-control::before {
        background: transparent !important;
    }

    .components-base-control {
        .components-base-control__field {
            display: block;

            &>div {
                margin-bottom: 10px;
            }
        }
    }

    .components-toggle-group-control {
        border: 1px solid #e9e9e9;

        &:hover {
            border-color: #e9e9e9;
        }

        &:focus-within {
            border-color: #001feb;
        }
    }

    .components-toggle-group-control-option-base {
        border-radius: 6px;
        border: 1px solid #f2f2f2;
        box-shadow: none;
        outline: none;
        &:focus {
            box-shadow: none;
            outline: none;
        }

        &[data-active-item="true"],
        &[aria-pressed="true"] {
            background-color: #ffffff !important;
            color: #001feb !important;
            border-color: #e8e8ea !important;
            box-shadow: none;
            svg {
                fill: #001feb;
            }
        }

        svg {
            width: 16px;
            height: 16px;
            display: block;
        }
    }
}