.zolo-image-gallery {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-gap: 30px;
}

.zolo-single-image {
    grid-template-columns: repeat(1, 1fr);
    display: grid;
}

.zolo-image-gallery .zolo-item {
    position: relative;
}

.zolo-image-gallery .zolo-image-wrap {
    position: relative;
    height: 100%;
    border-radius: 5px;
    overflow: hidden;
    box-sizing: border-box;
}

.zolo-image-gallery .zolo-image-wrap img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: all 0.3s ease-in-out;
}

.zolo-image-gallery .zolo-image-wrap::before {
    position: absolute;
    content: '';
    opacity: 0;
    z-index: 1;
    transition: all 0.3s ease-in-out;
    background-color: rgba(10, 10, 25, 0.369);
}

.zolo-image-gallery .zolo-item:hover .zolo-image-wrap::before {
    opacity: 1;
}

.zolo-image-gallery .zolo-icon-wrap {
    position: absolute;
    top: 50%;
    left: 50%;
    z-index: 1;
    transform: translate(-50%, -50%);
}

.zolo-image-gallery .zolo-item .zolo-icon {
    display: block;
    opacity: 0;
    transform: scale(0.6);
    transition: all 0.3s ease-in-out;
    background-color: #fff;
    padding: 8px;
    border-radius: 5px;
    color: #1c1b25;
    z-index: 1;
    position: relative;
    overflow: hidden;
}
.zolo-image-gallery .zolo-item .zolo-icon::before {
    content: '';
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #0ebbdb;
    transition: 0.3s ease-out;
}
.zolo-image-gallery .zolo-item .zolo-icon:hover::before {
    top: 0;
}

.zolo-image-gallery .zolo-item:hover .zolo-icon {
    opacity: 1;
    transform: scale(1);
}

.zolo-image-gallery .zolo-icon i {
    display: block;
    z-index: 1;
    position: relative;
    font-size: 18px;
}

.zolo-image-gallery .zolo-icon:hover {
    color: #fff;
}

.zolo-image-gallery .zolo-title {
    position: absolute;
    bottom: 0;
    left: 0;
    padding: 12px 20px;
    color: #0a0a0c;
    font-size: 14px;
    margin: 30px;
    background-color: #fff;
    z-index: 1;
    transition: all 0.3s ease-in-out;
    border-radius: 5px;
    line-height: 1;
    text-transform: uppercase;
}

.zolo-image-gallery .zolo-icon-wrap {
    text-decoration: none;
}

.zolo-image-gallery .zolo-icon-text {
    background-color: #fff;
    padding: 4px 10px;
    color: #000;
    border-radius: 3px;
    transition: all 0.3s ease;
}

.zolo-image-gallery .zolo-icon-text:hover {
    color: #fff;
    background-color: rgba(19, 11, 249, 0.945);
}

/* advanced image gallery style 1  */

.zolo-image-gallery.zolo-img-gallery-style-1 .zolo-icon-text,
.zolo-image-gallery.zolo-img-gallery-style-2 .zolo-icon-text {
    display: none;
}

.zolo-image-gallery.zolo-img-gallery-style-1 .zolo-title,
.zolo-image-gallery.zolo-img-gallery-style-2 .zolo-title {
    opacity: 0;
    transform: translateY(10px);
}

.zolo-image-gallery.zolo-img-gallery-style-1 .zolo-item:hover .zolo-title,
.zolo-image-gallery.zolo-img-gallery-style-2 .zolo-item:hover .zolo-title {
    opacity: 1;
    transform: translateY(0);
}

.zolo-image-gallery.zolo-img-gallery-style-1 .zolo-image-wrap::before {
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.zolo-image-gallery.zolo-img-gallery-style-1 .zolo-item:hover .zolo-image-wrap img {
    transform: scale(1.1);
}

.zolo-image-gallery.zolo-img-gallery-style-2 .zolo-image-wrap::before {
    bottom: 0;
    left: 0;
    width: 100%;
    height: 0;
}

.zolo-image-gallery.zolo-img-gallery-style-2 .zolo-item:hover .zolo-image-wrap::before {
    height: 100%;
    transition-delay: 0.2s;
}

.zolo-image-gallery.zolo-img-gallery-style-2 .zolo-item:hover .zolo-image-wrap img {
    transform: translateY(-10px);
}

.zolo-image-gallery.zolo-img-gallery-style-2 .zolo-image-wrap img {
    height: 110%;
}

.media-upload {
    align-items: center;
    display: flex;
    justify-content: center;
    padding: 35px !important;
    background-color: aliceblue;
    font-weight: 500;
}

.media-upload svg {
    margin-right: 15px;
}

@media (min-width: 768px) {
    .zolo-image-gallery {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (min-width: 1024px) {
    .zolo-image-gallery {
        grid-template-columns: repeat(3, 1fr);
    }
}
