.zolo-image-gallery {
	display: grid;
	grid-gap: clamp(1.25rem, 2vw, 1.875rem);
	.zolo-item {
		position: relative;
		&:hover {
			.zolo-image-wrap {
				&::before {
					opacity: 1;
				}
			}
			.zolo-icon {
				opacity: 1;
				transform: scale(1);
			} 
			.zolo-title {
				opacity: 0;
				transform: translateY(10px);
			}
		}
	}
	.zolo-image-wrap {
		position: relative;
		height: 100%;
		border-radius: 5px;
		overflow: hidden;
		&::before {
			position: absolute;
			content: "";
			opacity: 0;
			z-index: 1;
			transition: all 0.3s ease-in-out;
			background-image: linear-gradient(
				45deg,
				rgba(19, 11, 249, 0.548),
				transparent
			);
		}
		img {
			width: 100%;
			height: 100%;
			object-fit: cover;
			transition: all 0.3s ease-in-out;
		}
	}
	.zolo-icon-wrap {
		position: absolute;
		top: 50%;
		left: 50%;
		z-index: 1;
		transform: translate(-50%, -50%);
	}
	.zolo-icon {
		opacity: 0;
		color: #fff;
		transform: scale(0.6);
		transition: all 0.3s ease-in-out;
		svg {
			width: clamp(2.125rem, 4vw, 3rem);
			height: clamp(2.125rem, 4vw, 3rem);
		}

		&:hover {
			color: rgba(19, 11, 249, 0.945);
		}
	} 
	.zolo-title {
		position: absolute;
		bottom: 0;
		left: 0;
		padding: clamp(0.75rem, 1vw, 0.875rem);
		color: #0a0a0c;
		font-size: clamp(0.875rem, 1.5vw, 1rem);
		margin: clamp(1.25rem, 2vw, 1.875rem);
		font-weight: 500;
		z-index: 1;
		border-radius: 3px;
		background-color: #fff;
		opacity: 1;
		transition: all 0.3s ease-in-out;
	}
	&.zolo-img-gallery-style-1 {
		.zolo-image-wrap {
			&::before {
				top: 0;
				left: 0;
				width: 100%;
				height: 100%;
			}
		}
		.zolo-item {
			&:hover {
				.zolo-image-wrap {
					img {
						transform: scale(1.1);
					}
				}
			}
		}
	} 	
	&.zolo-img-gallery-style-2 {
		.zolo-image-wrap {
			&::before {
				bottom: 0;
				left: 0;
				width: 100%;
				height: 0;
			}
			img {
				height: 110%;
			}
		}
		.zolo-item {
			&:hover {
				.zolo-image-wrap {
					&::before {
						height: 100%;
						transition-delay: 0.2s;
					}
					img {
						transform: translateY(-10px);
					}
				}
			}
		}
	} 	
}

.media-upload {
	align-items: center;
	display: flex;
	justify-content: center;
	padding: 35px !important;
	background: aliceblue;
	font-weight: 500;
	svg {
		margin-right: 15px;
	}
}