.wp-block-zolo-advanced-paragraph {
    &::first-letter {
        color: #000;
    }
    p {
        margin: 0;
        color: #4e4e5a;
    }
    a {
        color: #2667ff;
        &:hover {
            color: #084be9;
        }
    }

    // text gradient style
    &.zolo-text-gradient-color {
        p {
            display: inline-block;
            background: -webkit-linear-gradient(45deg, #09009f, #00ff95 80%);
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
            color: transparent;
            background-position: center;
            background-size: contain;
        }
    }
}
