.wp-block-zolo-advanced-paragraph {
    margin: 0;
    a {
        color: #2667ff;
        &:hover {
            color: #084be9;
        }
    }

    // text gradient style
    &.zolo-text-gradient-color {
        display: block;
        background: -webkit-linear-gradient(45deg, #09009f, #00ff95 80%);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        color: transparent;
        background-position: center;
        background-size: contain;
    }
}