:root {
    --zolo-progress-border-radius: 5px;
    --zolo-progress-bar-height: 10px;
    --zolo-progress-bar-color: #0d76df;
    --zolo-progress-bar-height-3: 30px;
    --zolo-progress-bar-width_style-4: 30px;
}

.wp-block-zolo-progress-bar-child {
    h1,
    h2,
    h3,
    h4,
    h5,
    h6,
    p {
        margin: 0;
        padding: 0;
    }

    display: flex;
    gap: 8px;
    position: relative;

    .zolo-container {
        display: flow-root;
        box-sizing: content-box;
        max-width: 800px;
    }

    .zolo-progress-bar_content {
        display: flex;
        align-items: center;
        gap: 10px;
        justify-content: space-between;
    }

    .zolo-progress-bar__progress {
        height: var(--zolo-progress-bar-height);
        border-radius: var(--zolo-progress-border-radius);
        background-color: rgba(102, 170, 255, 0.15);
    }

    .zolo-progress-bar__progress-bar {
        height: 100%;
        width: 0;
        background-color: var(--zolo-progress-bar-color);
        border-radius: var(--zolo-progress-border-radius);
        transition:
            width 0.6s ease,
            height 0.6s ease;
    }

    .zolo-progress-bar__title {
        font-size: clamp(12px, 1.5vw, 14px);
        line-height: 1;
    }

    .zolo-progress-bar__title {
        color: var(--zolo-progress-bar-color);
        font-weight: 600;
    }

    .zolo-progress-bar_counter {
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--zolo-progress-bar-color);
    font-weight: 600;
    font-size: clamp(12px, 1.5vw, 14px);
    line-height: 1;
}

    /* progress bars style 1 css here */
    &.style-1 {
        flex-direction: column;
    }
    /* progress bars style 2 css here */
    &.style-2 {
        flex-direction: column-reverse;
    }
    /* progress bars style 3 css here */
    &.style-3,
    &.style-4 {
        display: block;
    }
    &.style-3 {
        .zolo-progress-bar_content {
            top: 50%;
            left: 20px;
            transform: translateY(-50%);
        }
    }


    &.style-3 .zolo-progress-bar_content,
    &.style-4 .zolo-progress-bar_content {
        position: absolute;
        line-height: 1;
        justify-content: inherit;
        color: #fff;
    }

    &.style-3 .zolo-progress-bar__title,
    &.style-4 .zolo-progress-bar__title{
        color: #fff;
    }

    &.style-3 .zolo-progress-bar__progress-bar,
    &.style-3 .zolo-progress-bar__progress,
    &.style-4 .zolo-progress-bar__progress-bar,
    &.style-4 .zolo-progress-bar__progress {
        border-radius: 15px;
    }

    &.style-3 .zolo-progress-bar__progress,
    &.style-4 .zolo-progress-bar__progress {
        height: var(--zolo-progress-bar-height-3);
    }

    &.style-4 .zolo-progress-bar_content {
        top: 50%;
        transform: translateY(-50%);
        margin: 0 20px;
        justify-content: space-between;
        left: 0;
        right: 0;
    }
}
