/*
* Style Works for both Editor and Frontend
*/
.wp-block-zolo-accordion {
    overflow: hidden;
    box-sizing: border-box;
    .accordion-head {
        display: flex;
        align-items: center;
        gap: 10px;
        justify-content: space-between;
        padding: clamp(0.625rem, 2vw, 0.938rem);
        cursor: pointer;
        transition:
            background-color 0.3s ease,
            border 0.3s ease;
        &:hover,
        &.zolo-active {
            background-color: rgba(230, 229, 234, 0.38);
            .accordion-title {
                color: #000;
            }
        }
        .accordion-title {
            flex: 1;
            font-size: clamp(1rem, 2vw, 1.25rem);
            margin: 0;
            font-weight: 600;
            color: #4f4f5a;
            transition: color 0.3s ease;
        }
    }

    .accordion-toggle {
        background-color: transparent;
        border: none;
        cursor: pointer;
        position: relative;
        width: 30px;
        height: 30px;
        min-width: auto !important;
        i {
            display: flex;
            align-items: center;
            justify-content: center;
            height: 100%;
        }
    }

    .accordion-body {
        visibility: hidden;
        opacity: 0;
        height: 0;
        transition: all 0.3s ease-in-out;
        padding: 0;
        margin: 0;
        background-color: #fff;
        overflow: hidden;
        p {
            margin: 0;
            padding: 0;
        }
    }

    .accordion-body-inner {
        padding: clamp(0.625rem, 2vw, 0.938rem);
        p {
            font-size: clamp(0.813rem, 1.5vw, 0.938rem);
            color: #707074;
        }
    }
    .open {
        .accordion-body {
            visibility: visible;
            opacity: 1;
            height: auto;
        }
    }

    // collapse and expand icons
    .accordion-toggle.zolo-active .expanded-mode {
        display: block;
    }

    .collapsed-mode,
    .expanded-mode {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
    }

    .expanded-mode,
    .accordion-toggle.zolo-active .collapsed-mode {
        display: none;
    }
}
