.zolo-accordion-item {
    margin-top: 8px;
    border: 1px solid var(--zoloblocks-item-border-color);
    box-sizing: border-box;
    border-radius: 10px;
    overflow: hidden;
    transition: all 0.2s ease;
    &.js-enabled {
        .zolo-accordion-panel {
            visibility: hidden;
        }
    }
    &.is-active {
        .zolo-accordion-panel {
            visibility: visible;
        }
        .zolo-accordion-collapsed-mode {
            display: none;
        }
        .zolo-accordion-expanded-mode {
            display: block;
        }
    }
}

.zolo-accordion-wrap {
    .ac-header {
        margin: 0;
        padding: 0;
    }
    .ac-trigger {
        width: 100%;
        cursor: pointer;
        border: 0;
        padding: 20px;
        background-color: var(--zoloblocks-item-bg-color);
        transition: color 0.25s ease;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    .zolo-accordion-head-title {
        margin: 0;
        color: #111;
        font-size: 18px;
        transition: all 0.2s ease;
    }

    .zolo-accordion-panel {
        overflow: hidden;
        transition-property: height, visibility;
        transition-timing-function: ease;
    }

    .zolo-accordion-inner {
        padding: 20px;
    }

    .zolo-accordion-expanded-mode {
        display: none;
    }

    // zolo toggle
    .zolo-accordion-toggle {
        display: flex;
        align-items: center;
        justify-content: center;
        svg {
            width: 16px;
            height: 16px;
            fill: #111;
            display: block;
        }
    }
}
