.zolo-transform-animation {
    --zolo-transform-perspective: 1000px;
    transform: perspective(var(--zolo-transform-perspective, 0)) rotate(var(--zolo-transform-rotate, 0))
        rotateX(var(--zolo-transform-rotateX, 0)) rotateY(var(--zolo-transform-rotateY, 0)) translate(var(--zolo-transform-translate, 0))
        translateX(var(--zolo-transform-translateX, 0)) translateY(var(--zolo-transform-translateY, 0))
        scaleX(calc(var(--zolo-transform-flipX, 1) * var(--zolo-transform-scaleX, var(--zolo-transform-scale, 1))))
        scaleY(calc(var(--zolo-transform-flipY, 1) * var(--zolo-transform-scaleY, var(--zolo-transform-scale, 1))))
        skewX(var(--zolo-transform-skewX, 0)) skewY(var(--zolo-transform-skewY, 0));
    transform-origin: var(--zolo-transform-originY) var(--zolo-transform-originX);
}