.settings-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 50px;
}

.zolo-single-setting {
    box-sizing: border-box;
    padding: 40px;
    border-radius: 10px;
    background-color: #fff;
    --tw-shadow: 0 1px 2px 0 rgb(0 0 0 / 0.05);
    --tw-shadow-colored: 0 1px 2px 0 var(--tw-shadow-color);
    --tw-ring-offset-shadow: 0 0 #0000;
    --tw-ring-shadow: 0 0 #0000;
    box-shadow: var(--tw-ring-offset-shadow, 0 0 rgba(0, 0, 0, 0)), var(--tw-ring-shadow, 0 0 rgba(0, 0, 0, 0)), var(--tw-shadow);
    position: relative;
}

h3.zolo-setting-title {
    margin: 0 0 20px;
    font-size: 24px;
}

.zolo-setting-icon img {
    width: 55px;
    height: 55px;
    display: block;
}

.zolo-setting-icon {
    margin-bottom: 22px;
}
.zolo-setting-description {
    margin: 0;
    font-size: 14px;
    color: #7c7b7e;
    line-height: 1.6;
}
.help-docs {
    position: absolute;
    top: 40px;
    right: 40px;
    display: flex;
    gap: 8px;
    .zolo-setting-edit-btn,
    a {
        background-color: #e4ecff;
        padding: 10px;
        cursor: pointer;
        border-radius: 50%;
        border: 0;
        &:focus {
            box-shadow: 0 0 0 2px var(--zolo-dashboard-brand-color);
        }
        svg {
            width: 16px;
            height: 16px;
            display: block;
        }
        path {
            fill: #1d234e;
        }
    }
}
.toplevel_page_zoloblocks {
    .components-modal__frame {
        border-radius: 10px;
        max-width: 600px;
        background-color: #fff;
        border-radius: 10px;
        --tw-shadow: 0 1px 2px 0 rgb(0 0 0 / 0.05);
        --tw-shadow-colored: 0 1px 2px 0 var(--tw-shadow-color);
        --tw-ring-offset-shadow: 0 0 #0000;
        --tw-ring-shadow: 0 0 #0000;
        box-shadow: var(--tw-ring-offset-shadow, 0 0 rgba(0, 0, 0, 0)), var(--tw-ring-shadow, 0 0 rgba(0, 0, 0, 0)), var(--tw-shadow);
        overflow: inherit;
    }
    .components-modal__content {
        margin-top: 0;
        padding: 50px 40px;
    }
    .components-modal__header {
        display: block;
        padding: 0;
        margin: 0;
        border: 0;
    }
    .settings-popup {
        .modal-title {
            font-size: 18px;
            font-weight: 600;
            margin: 0 0 10px;
        }
        .modal-description {
            margin: 0 0 15px;
            font-size: 14px;
            color: #6d6c7d;
        }
        .components-base-control {
            margin-bottom: 20px;
        }
        .components-base-control__label {
            font-size: 12px;
            font-weight: 600;
            color: #393944;
        }
        .components-text-control__input {
            height: 44px;
            border-radius: 6px;
            border: 1px solid #eaeaec;
            box-sizing: border-box;
            &:focus {
                box-shadow: 0 0 0 1px var(--zolo-dashboard-brand-color);
            }
        }
        .settings-save-btn {
            padding: 12px 20px;
            font-weight: 500;
            border: 0;
            background-color: var(--zolo-dashboard-brand-color);
            border-radius: 6px;
            color: #fff;
            font-weight: 600;
            font-size: 14px;
            cursor: pointer;
            transition: 0.3s ease;
            &:focus {
                box-shadow: 0 0 0 1px var(--zolo-dashboard-brand-color);
            }
            &:hover {
                background-color: #2667ff;
            }
        }
    }
}
button.components-button.has-icon {
    left: auto;
    right: 0 !important;
    position: absolute;
    margin: 14px;
}
.components-button svg {
    fill: #aaabb7;
    outline: none;
    width: 20px;
    height: 20px;
    &:hover {
        fill: var(--zolo-dashboard-brand-color);
    }
}
span.block-separator {
    font-weight: 700;
}

// settings css start

.zolo-settings-tabs-wrap {
    .zolo-settings-tab-button {
        border-radius: 10px;
        display: flex;
        align-items: center;
        margin-bottom: 30px;
        box-shadow: none;
        padding: 20px;
        flex-wrap: wrap;
        gap: 10px;
    }
    .zolo-settings-tab-content {
        width: 100%;
        border-radius: 10px;
    }
    .zolo-tab-button-item {
        display: flex;
        align-items: center;
        color: #3a3c40;
        font-weight: 500;
        font-size: 14px;
        position: relative;
        cursor: pointer;
        border-radius: 6px;
        gap: 8px;
        svg {
            width: 18px;
            height: 18px;
            display: none;
            path {
                fill: currentColor;
            }
        }
        &.zolo-tab-active {
            color: var(--zolo-dashboard-brand-color);
        }
    }

    .zolo-settings-option-item {
        display: flex;
        justify-content: space-between;
        gap: 30px;
        padding: 30px;
        margin-bottom: 20px;
        box-shadow: none;
        border-radius: 10px;
        &:nth-last-child(1) {
            margin-bottom: 0;
        }
        &.zolo-main-tenance-mode {
            .components-toggle-control__label {
                font-size: 15px;
                font-weight: 500;
                margin-left: 10px;
            }
            .components-toggle-control__help,
            .components-base-control__help {
                font-style: italic;
                font-size: 13px;
                color: #706f77;
                max-width: 700px;
                margin-left: 0;
            }

            .zolo-private-link-wrap {
                display: flex;
                align-items: center;
                gap: 10px;

                .components-base-control {
                    width: 100%;
                    margin: 0 !important;
                    .components-base-control__field {
                        margin: 0 !important;
                    }
                    .components-text-control__input {
                        height: 42px;
                        min-height: 42px;
                        border-radius: 6px;
                        border: 1px solid #e5e5e5;
                        color: #51515a;
                    }
                }
                .components-button {
                    margin: 0;
                    padding: 16px 15px;
                    height: 40px !important;
                    min-height: 40px !important;
                }
            }
        }
    }

    .zolo-settings-title {
        margin: 0 0 15px;
        font-size: 20px;
    }

    .zolo-settings-text {
        margin: 0;
        font-size: 14px;
        color: #74717c;
        max-width: 700px;
    }

    .zolo-width-number {
        display: inline-flex;
        font-size: 14px;
        font-weight: 600;
        height: 35px;
        border: 1px solid #efefef;
        border-radius: 4px;
        input {
            border: 0;
            width: 75px;
            outline: none;
            border-radius: 0;
            text-align: center;
            border-top-left-radius: 4px;
            border-bottom-left-radius: 4px;
            &:focus {
                border-color: #0051ff;
                box-shadow: 0 0 0 1px #0051ff;
                outline: 2px solid transparent;
            }
        }
        span {
            border-left: 1px solid #efefef;
            width: 46px;
            display: flex;
            align-items: center;
            justify-content: center;
        }
    }
    .zolo-settings-switcher {
        .components-form-toggle .components-form-toggle__track {
            box-shadow: none;
        }
        .components-form-toggle .components-form-toggle__track {
            height: 22px;
            width: 44px;
            border: 0;
        }
        .components-form-toggle .components-form-toggle__thumb {
            height: 16px;
            left: 4px;
            top: 3px;
            width: 16px;
        }
    }
    .zolo-pro-badge {
        font-size: 11px;
        color: #fff;
        background-color: #3858e9;
        padding: 8px 16px;
        border-radius: 3px;
        line-height: 1;
        text-transform: uppercase;
        font-weight: 500;
    }

    .zolo-create-new-page-btn {
        margin: 20px 0 0;
        border-radius: 6px;
        padding: 20px 15px;
        background: #3f8efc;
        font-weight: 600;
        transition: background 0.3s ease;
        &:hover {
            background: #1872f0;
        }
    }
    .block-pro {
        display: flex;
        align-items: center;
        gap: 10px;
        flex-direction: column;
        .block-pro-badge {
            background: var(--zolo-badge-pro-alpha-color);
            color: var(--zolo-badge-pro-color);
            padding: 7px;
            line-height: 1;
            font-size: 10px;
            text-transform: uppercase;
            font-weight: 700;
            display: flex;
            align-items: center;
            justify-content: center;
            gap: 5px;
            border-radius: 6px;
            svg {
                display: block;
                width: 13px;
                height: 13px;
            }
        }
    }
}

.zolo-settings {
    .zolo-settins-content {
        .components-base-control {
            margin-top: 20px;
            select {
                height: 40px;
                min-height: 40px;
                box-sizing: border-box;
            }
            .components-input-control__backdrop {
                border-radius: 6px;
                border: 1px solid #d6d6d6;
                box-sizing: border-box;
                &:focus {
                    box-shadow: 0 0 0 1px var(--zolo-dashboard-brand-color);
                }
            }
        }
    }
}

.zolo-single-setting {
    &.upcoming {
        .help-docs {
            display: none;
        }
    }
}
.components-modal__content {
    .zolo-webhook-add-btn,
    .zolo-webhook-remove-btn {
        height: auto;
        display: flex;
        align-items: center;
        margin-bottom: 20px;
        padding: 8px 10px;
        border-radius: 6px;
        font-size: 13px;
        gap: 3px;
        background: transparent !important;
        color: #3f8efc !important;
        border: 1px solid #3f8efc;
        font-weight: 600;
        text-transform: capitalize;
        outline: none !important;
        &:focus {
            box-shadow: 0 0 0 1px #3f8efc !important;
            border: 1px solid #3f8efc !important;
        }
        svg {
            width: 16px;
            height: 16px;
            display: block;
            fill: transparent;
        }
    }

    .zolo-webhook-remove-btn {
        color: #ff4d4f !important;
        border: 1px solid #ff4d4f;
        &:focus {
            box-shadow: 0 0 0 1px #ff4d4f !important;
            border: 1px solid #ff4d4f !important;
        }
    }

    .zolo-webhok-label-url-wrap {
        background: #f8f8f8;
        padding: 20px;
        margin-bottom: 30px;
        border-radius: 10px;
        border: 1px solid #f0f0f0;
        .components-base-control {
            &:last-child {
                margin-bottom: 0;
            }
        }
    }
}

@media (min-width: 1024px) {
    .zolo-settings-tabs-wrap {
        .zolo-tab-button-item {
            padding: 10px 15px;
            svg {
                display: block;
            }
            &.zolo-tab-active {
                background-color: #e4ecff;
            }
        }
    }
}

.zolo-settings {
    .zolo-settins-content {
        .components-base-control {
            margin-top: 20px;
            select {
                height: 40px;
                min-height: 40px;
                box-sizing: border-box;
            }
            .components-input-control__backdrop {
                border-radius: 6px;
                border: 1px solid #d6d6d6;
                box-sizing: border-box;
                &:focus {
                    box-shadow: 0 0 0 1px var(--zolo-dashboard-brand-color);
                }
            }
        }
    }
}
