$color_1: #2b2c34;
$color_2: #747377;
$color_3: #fff;
$color_4: #424351;
$color_5: #000;
$color_6: var(--zolo-dashboard-brand-color);
$color_7: var(--zolo-dashboard-brand-color);
$font-family_1: 'Open Sans', sans-serif;
$font-family_2: 'Urbanist', sans-serif;
$background-color_1: #fff;
$background-color_2: var(--zolo-dashboard-brand-color);
$background-color_3: var(--zolo-dashboard-brand-color);
$background-color_4: #f7f7f7;
$background-color_5: #f1f1f1;

/* .zolo-welcome-s-k-item img path{
    fill: #000;
} */

body,
p,
span,
a {
    font-family: $font-family_1;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: $font-family_2;
}

.zolo-welcome-page-wrap {
    .zolo-welcome-video-container {
        a {
            width: 100%;
            height: 100%;
        }
        img {
            object-fit: cover;
            width: 100%;
            height: auto;
            vertical-align: middle;
        }
    }
}

.zolo-welcome-s-k-wrap,
.zolo-welcome-footer-info-wrap,
.zolo-welcome-video-and-others-wrap {
    display: flex;
    gap: 30px;
    flex-direction: column;
}

.zolo-welcome-s-k-wrap,
.zolo-welcome-footer-info-wrap {
    margin-top: 30px;
}

.zolo-welcome-video-item,
.zolo-welcome-s-k-item,
.zolo-welcome-footer-info-item,
.zolo-dash-analysis-item {
    background-color: $background-color_1;
    border-radius: 10px;
    --tw-shadow: 0 1px 2px 0 rgb(0 0 0 / 0.05);
    --tw-shadow-colored: 0 1px 2px 0 var(--tw-shadow-color);
    --tw-ring-offset-shadow: 0 0 #0000;
    --tw-ring-shadow: 0 0 #0000;
    box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
    z-index: 0;
}

.zolo-welcome-video-item {
    padding: clamp(1.875rem, 2vw, 2.5rem);
    width: 100%;
    box-sizing: border-box;
}

.zolo-system-req-wrap {
    margin: 0;
    .zolo-system-note {
        background-color: #fff9ea;
        padding: 20px;
        margin-top: 20px;
        border-radius: 6px;
        p {
            margin: 0;
            font-size: 14px;
        }
    }
}

.zolo-system-ul-wrap {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin: 30px 0 0;
    padding: 0;
    li {
        font-size: 14px;
        border-bottom: 1px solid #eeeef9;
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding-bottom: 10px;
        margin: 0;
    }
    .zolo-system-list-left-content {
        display: flex;
        align-items: center;
        gap: 10px;
        .zolo-system-list-icon {
            background-color: rgba(0, 181, 120, 0.149);
            padding: 6px;
            border-radius: 50%;
            &.close {
                background-color: rgba(255, 77, 77, 0.149);
            }
            svg {
                display: block;
            }
        }
    }
}

.zolo-welcome-s-k-item {
    padding: clamp(1.875rem, 2vw, 2.5rem);
    position: relative;
    overflow: hidden;
    &.support {
        justify-content: space-between;
        flex-wrap: wrap;
    }
    &.support,
    .zolo-welcome-s-k-inner-item {
        display: flex;
        gap: 30px;
        align-items: center;
    }
    .zolo-welcome-s-k-inner-item {
        flex-wrap: wrap;
    }
    .zolo-welcome-s-k-btns {
        display: flex;
        align-items: center;
        gap: 15px;
        flex-wrap: wrap;
        flex-direction: row-reverse;

        .support {
            background-color: var(--zolo-dashboard-brand-color);
            color: #fff;
            border: 0;
            &:hover {
                background-color: var(--zolo-dash-brand-hover-color);
            }
        }
    }
}

.zolo-welcome-footer-info-item {
    padding: clamp(1.875rem, 2vw, 2.5rem);
    display: flex;
    flex-direction: column;
    position: relative;
    width: 100%;
    box-sizing: border-box;
    img {
        position: absolute;
        bottom: 0;
        right: 0px;
        pointer-events: none;
    }

    &.missing {
        .zolo-welcome-page-btn {
            background-color: var(--zolo-dashboard-brand-color);
            color: #fff;
            border: 0;
            &:hover {
                background-color: var(--zolo-dash-brand-hover-color);
            }
        }
    }
}

.zolo-welcome-footer-info-title,
.zolo-welcome-s-k-title,
.zolo-welcome-page-title {
    margin: 0 0 clamp(0.625rem, 1.3vw, 0.938rem);
    color: $color_1;
    font-weight: 700;
    z-index: 1;
    position: relative;
    font-size: clamp(1.25rem, 2vw, 1.5rem);
}
.zolo-welcome-page-text,
.zolo-welcome-footer-info-text,
.zolo-welcome-s-k-text {
    font-size: clamp(0.875rem, 1.2vw, 1rem);
    margin: 0 0 40px;
    line-height: 1.6;
    color: $color_2;
    z-index: 1;
    position: relative;
}
.zolo-welcome-page-text {
    max-width: 1022px;
    a {
        text-decoration: none;
        color: var(--zolo-dashboard-brand-color);
        font-weight: 500;
        &:hover {
            text-decoration: underline;
            color: var(--zolo-dash-brand-hover-color);
        }
    }
}
.zolo-welcome-footer-info-text,
.zolo-welcome-s-k-text {
    max-width: 550px;
}

.zolo-welcome-s-k-text {
    margin: 0;
}

.zolo-welcome-video-info-button {
    margin-top: 30px;
    display: flex;
    justify-content: center;
    gap: 10px;
    flex-direction: column;
}

.zolo-welcome-page-btn {
    padding: 12px 18px;
    text-decoration: none;
    border-radius: 30px;
    font-size: clamp(0.75rem, 1vw, 0.875rem);
    font-weight: 600;
    text-align: center;
    transition:
        color 0.3s ease,
        background-color 0.3s ease,
        border-color 0.3s ease;
    z-index: 1;
    position: relative;
    display: inline-flex !important;
    align-items: center;
    gap: 10px;
    justify-content: center;
    color: #424351;
    border: 1px solid #eeeef9;
    &:hover {
        color: var(--zolo-dashboard-brand-color);
    }
}

.zolo-welcome-page-btn svg {
    width: 1em;
    height: 1em;
    display: block;
}
.zolo-welcome-page-btn.zolo-secondary-btn {
    padding: 14px 24px;
    border-radius: 30px;
}
.zolo-welcome-footer-product-btn {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    max-width: 590px;
    .zolo-welcome-page-btn {
        color: #28282d;
        position: relative;
        outline: none;
        &:hover {
            color: #000;
        }
        &::before {
            content: '';
            position: absolute;
            top: 0;
            left: 0;
            bottom: 0;
            right: 0;
            background-color: #fff;
            z-index: -1;
            border-radius: 30px;
            margin: 2px;
        }
        &.zolo-ep-btn {
            background: linear-gradient(313deg, #08aeec 0%, #20e2ad 100%);
            &:hover {
                background: linear-gradient(120deg, #08aeec 0%, #20e2ad 100%);
            }
        }
        &.zolo-ps-btn {
            background: linear-gradient(45deg, #fe506c 0%, #fc6a2a 100%);
            &:hover {
                background: linear-gradient(45deg, #fc6a2a 0%, #fe506c 100%);
            }
        }
        &.zolo-upk-btn {
            background: linear-gradient(-45deg, #60df54 0%, #08c972 100%);
            &:hover {
                background: linear-gradient(-45deg, #08c972 0%, #60df54 100%);
            }
        }
        &.zolo-usk-btn {
            background: linear-gradient(140deg, #e62a3f 0%, #00216a 100%);
            &:hover {
                background: linear-gradient(120deg, #00216a 0%, #e62a3f 100%);
            }
        }
        &.zolo-pg-btn {
            background: linear-gradient(313deg, #086698 0%, #0d3b54 100%);
            &:hover {
                background: linear-gradient(120deg, #086698 0%, #0d3b54 100%);
            }
        }
        &.zolo-live-copy-btn {
            background: linear-gradient(145deg, #dd4049 0, #5a03ff 100%);
            &:hover {
                background: linear-gradient(360deg, #dd4049 0, #5a03ff 100%);
            }
        }
    }
}

@media (min-width: 768px) {
    .zolo-welcome-s-k-wrap {
        flex-direction: row;
    }
    .zolo-welcome-footer-info-wrap {
        flex-direction: row;
    }
    .zolo-welcome-video-info-button {
        flex-direction: row;
    }
    .zolo-welcome-footer-info-item.missing {
        width: 58%;
    }
}
@media (min-width: 1024px) {
    .zolo-welcome-video-and-others-wrap {
        flex-direction: row;
    }
    .zolo-welcome-s-k-wrap {
        flex-direction: column;
    }
    .zolo-system-req-wrap {
        width: 70%;
    }
}

// new dashboard css here
.zolo-dash-analysis-wrap {
    --zolo-analysis-bar-size: 16px;
    --zolo-analysis-bar-border-radius: 6px;

    --zolo-analysis-total-color: var(--zolo-dashboard-brand-color);
    --zolo-analysis-core-color: #ef476f;
    --zolo-analysis-tparty-color: #06d6a0;
    --zolo-analysis-extensions-color: #ffd166;

    margin-bottom: 30px;
    .zolo-dash-analysis-bar {
        width: 100%;
        height: var(--zolo-analysis-bar-size);
        background-color: #ebf2ff;
        border-radius: 6px;
        margin-bottom: 12px;

        .zolo-dash-analysis-bar-fill {
            height: var(--zolo-analysis-bar-size);
            background-color: var(--zolo-analysis-total-color);
            border-radius: 6px;
        }
    }

    .zolo-dash-core-blocks {
        .zolo-dash-analysis-bar {
            background-color: #ffebf0;
            .zolo-dash-analysis-bar-fill {
                background-color: var(--zolo-analysis-core-color);
            }
        }
    }

    .zolo-dash-tparty-blocks {
        .zolo-dash-analysis-bar {
            background-color: #dcfff6;
            .zolo-dash-analysis-bar-fill {
                background-color: var(--zolo-analysis-tparty-color);
            }
        }
    }

    .zolo-dash-analysis {
        display: flex;
        gap: 30px;
        flex-wrap: wrap;
    }

    .zolo-dash-analysis-item {
        width: 100%;
        padding: 20px;
        box-sizing: border-box;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        gap: 30px;
        width: 100%;
        padding: 20px;
        box-sizing: border-box;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        gap: 30px;
        flex-grow: 1;
        flex-shrink: 0;
        flex-basis: 300px;
    }

    .zolo-dash-analysis-item-title {
        margin: 0 0 12px;
        font-size: 20px;
        color: #1d2327;
    }

    .zolo-dash-analysis-bottom-content {
        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: 10px;
    }
    .zolo-bottom-content-value,
    .zolo-dash-analysis-item-value {
        font-size: 14px;
    }

    .zolo-bottom-content-value {
        display: flex;
        align-items: center;
        gap: 10px;
        .zolo-dot {
            width: 8px;
            height: 8px;
            display: block;
            border-radius: 50%;
        }
    }
    .zolo-dash-total-blocks {
        .zolo-bottom-content-value {
            &.used {
                .zolo-dot {
                    background-color: var(--zolo-analysis-total-color);
                }
            }
            &.unused {
                .zolo-dot {
                    background-color: #ebf2ff;
                }
            }
        }
    }

    .zolo-dash-core-blocks {
        .zolo-bottom-content-value {
            &.used {
                .zolo-dot {
                    background-color: var(--zolo-analysis-core-color);
                }
            }
            &.unused {
                .zolo-dot {
                    background-color: #ffebf0;
                }
            }
        }
    }

    .zolo-dash-tparty-blocks {
        .zolo-bottom-content-value {
            &.used {
                .zolo-dot {
                    background-color: var(--zolo-analysis-tparty-color);
                }
            }
            &.unused {
                .zolo-dot {
                    background-color: #dcfff6;
                }
            }
        }
    }

    // 3d party blocks

    .zolo-dash-active-blocks {
        flex-direction: row;
        gap: 20px;
        align-items: center;
        .zolo-dash-analysis-bottom-content {
            flex-direction: column;
            align-items: flex-start;
            gap: 5px;
            margin-top: 10px;
        }
        .zolo-bottom-content-value {
            &.core {
                .zolo-dot {
                    background-color: #ef476f;
                }
            }
            &.tdparty {
                .zolo-dot {
                    background-color: #06d6a0;
                }
            }
            &.extensions {
                .zolo-dot {
                    background-color: #ffd166;
                }
            }
        }
        //pie chart css
        .zolo-pieContainer {
            position: relative;
            --zolo-dash-pie-size: 100px;
            --zolo-dash-pie-border: 20px;
        }

        .zolo-pieBackground {
            // position: absolute;
            width: var(--zolo-dash-pie-size);
            height: var(--zolo-dash-pie-size);
            background-color: #f0f0f0;
            border-radius: 100%;
        }

        .zolo-pie {
            transition: all 1s;
            position: absolute;
            width: var(--zolo-dash-pie-size);
            height: var(--zolo-dash-pie-size);
            border-radius: 100%;
            clip: rect(0px, 50px, var(--zolo-dash-pie-size), 0px);
        }

        .zolo-hold {
            position: absolute;
            width: var(--zolo-dash-pie-size);
            height: var(--zolo-dash-pie-size);
            border-radius: 100%;
            clip: rect(0px, var(--zolo-dash-pie-size), var(--zolo-dash-pie-size), 50px);
            top: 0;
            left: 0;
        }

        #core {
            transform: rotate(0deg);
            .zolo-pie {
                background-color: var(--zolo-analysis-core-color);
                transform: rotate(100deg);
            }
        }

        #tparty {
            transform: rotate(100deg);
            .zolo-pie {
                background-color: var(--zolo-analysis-tparty-color);
                transform: rotate(260deg);
            }
        }
        #extensions {
            transform: rotate(90deg);
            .zolo-pie {
                background-color: var(--zolo-analysis-extensions-color);
                transform: rotate(120deg);
            }
        }
        .zolo-innerCircle {
            position: absolute;
            width: calc(var(--zolo-dash-pie-size) - var(--zolo-dash-pie-border));
            height: calc(var(--zolo-dash-pie-size) - var(--zolo-dash-pie-border));
            background-color: #fff;
            border-radius: 100%;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
        }
    }
}
