.wp-block-zolo-table-of-content {
	border: 1px solid #EFEFEF;
	margin-bottom: 30px;

	&.collapsed .zolo-toc-content {
		display: none;
	}

	.zolo-toc-toggle-btn {
		transition: transform 0.3s ease;
		background-color: transparent;
		border: none;
		box-shadow: none;

		&:focus {
			outline: none;
		}
	}

	&.collapsed .zolo-toc-toggle-btn svg {
		transform: rotate(180deg);
	}

	.zolo-toc-heading {
		color: #000;
		position: relative;
		display: flex;
		flex-direction: row;
		justify-content: space-between;
		padding: 14px 30px;
		align-items: center;
		border-top: none !important;
		border-left: none !important;
		border-right: none !important;
	}

	.zolo-toc-content {
		padding: 25px 30px;
		font-size: 17px;
		border-top: 1px solid #EFEFEF;

		.zolo-toc-list {
			a {
				text-decoration: none;

				&:focus {
					outline: none;
					box-shadow: none;
				}
			}

			li.active > {
				a {
					color: red;
				}
			}
		}

		ul {
			padding: 0;
			margin: 0 0 0 18px;

			li {
				margin: 0.25em 0;
			}
		}

		ol {

			counter-reset: listitem;
			list-style: none;
			margin: 0;
			padding: 0;

			li {
				position: relative;
				padding-left: 1.3em;
				margin: 0.25em 0;

				&::before {
					position: absolute;
					left: 0;
					counter-increment: listitem;
					content: counters(listitem, ".") ".";
					background: none !important;
				}

			}

			ol li {
				padding-left: 2.3em;
			}
		}

	}

	&.content-visible {
		visibility: visible;
	}

	&.content-hidden {
		background-color: transparent !important;
		border: none !important;
		margin: 0 !important;
		padding: 0 !important;
		visibility: hidden !important;
	}

	&.position-left.sticky-content {
		position: fixed;
		top: 25%;
		z-index: 999;
		left: 0;
	}

	&.position-right.sticky-content {
		position: fixed;
		top: 25%;
		z-index: 999;
		left: auto;
		right: 0;
	}

	&.sticky-content {
		max-width: 510px;
	}

	&.position-right .zolo-toc-open {
		right: 0;
		left: auto;
		transform-origin: right top;
		transform: rotate(90deg) translate(100%, 0);
	}

	.zolo-toc-open {
		left: 0;
		position: absolute;
		top: 0;
		text-transform: none;
		transform: rotate(90deg);
		transform-origin: bottom left;
	}

	&.content-visible .zolo-toc-open {
		display: none;
		visibility: hidden;
	}

	&.content-hidden .zolo-toc-open {
		display: inline-block;
		visibility: visible;
	}

}
