.wp-block-zolo-list {
    --zolo-list-column-gap: 30px;
    --zolo-icon-color: #fff;
    --zolo-icon-padding: 10px;
    --zolo-icon-border-radius: 50%;
    --zolo-title-text-color: #4e5061;
    --zolo-title-margin: 10px 0 0;
    --zolo-desc-text-color: #636483;
    --zolo-desc-margin: 10px 0 0;
    --zolo-hover-icon-color: #3f8efc;
    --zolo-icon-and-content-gap: 15px;
    --zolo-item-gap: 15px;
    --zolo-item-padding: 20px;
    --zolo-item-border-radius: 6px;

    // transform

    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-gap: var(--zolo-list-column-gap);

    .zolo-list-item {
        text-decoration: none;
        transition: all 0.3s ease;
        // transform: perspective(var(--zolo-transform-perspective, 0)) rotate(var(--zolo-transform-rotate, 0))
        //     rotateX(var(--zolo-transform-rotateX, 0)) rotateY(var(--zolo-transform-rotateY, 0))
        //     translate(var(--zolo-transform-translate, 0)) translateX(var(--zolo-transform-translateX, 0))
        //     translateY(var(--zolo-transform-translateY, 0))
        //     scaleX(calc(var(--zolo-transform-flipX, 1) * var(--zolo-transform-scaleX, var(--zolo-transform-scale, 1))))
        //     scaleY(calc(var(--zolo-transform-flipY, 1) * var(--zolo-transform-scaleY, var(--zolo-transform-scale, 1))))
        //     skewX(var(--zolo-transform-skewX, 0)) skewY(var(--zolo-transform-skewY, 0));
        // transform-origin: var(--zolo-transform-originY) var(--zolo-transform-originX);
        outline: none;
    }
    //test csss
    .zolo-list-icon-and-content-wrap,
    .zolo-list-content {
        width: 100%;
    }
    .zolo-list-icon {
        display: inline-block;
        padding: var(--zolo-icon-padding);
        background-color: var(--zoloblocks-brand-color);
        border-radius: var(--zolo-icon-border-radius);
        transition:
            border 0.3s ease,
            background-color 0.3s ease,
            box-shadow,
            0.3s ease,
            background 0.3s ease;
        vertical-align: middle;
        svg {
            fill: var(--zolo-icon-color);
            transition:
                fill 0.3s ease,
                color,
                0.3s ease;
        }
    }

    .zolo-list-icon svg,
    .zolo-list-hover-icon svg {
        display: block;
        width: 1em;
        height: 1em;
    }

    .zolo-list-item:hover .zolo-list-icon {
        background-color: var(--zoloblocks-brand-color-hover);
    }

    .zolo-list-title {
        font-size: 18px;
        font-weight: 500;
        color: var(--zolo-title-text-color);
        margin: var(--zolo-title-margin);
        display: block;
        transition: all 0.2s ease;
    }

    .zolo-list-desc {
        display: block;
        color: var(--zolo-desc-text-color);
        font-size: 14px;
        margin: var(--zolo-desc-margin);
        transition: all 0.2s ease;
    }

    .zolo-list-hover-icon {
        color: var(--zolo-hover-icon-color);
        opacity: 0;
        visibility: hidden;
        transition: all 0.3s ease;
    }

    .zolo-list-item:hover .zolo-list-hover-icon {
        transform: translateX(0);
        visibility: visible;
        opacity: 1;
    }

    .zolo-list-icon-and-content-wrap {
        display: flex;
        align-items: flex-start;
        gap: var(--zolo-icon-and-content-gap);
    }

    /* Demo css style 1  */

    &.zolo-list-wrap.zolo-list-style-1 {
        --zolo-list-column-gap: 10px;
        grid-gap: var(--zolo-list-column-gap);
    }

    &.zolo-list-style-1 .zolo-list-title {
        --zolo-title-margin: 0;
        margin: var(--zolo-title-margin);
    }

    &.zolo-list-style-1 .zolo-list-item:hover.zolo-list-title,
    .zolo-list-item:hover .zolo-list-title {
        color: #09090b;
    }

    /* Demo css style 2,3  */
    &.zolo-list-style-3 .zolo-list-item,
    &.zolo-list-style-4 .zolo-list-item {
        display: inline-flex;
        align-items: flex-start;
        gap: var(--zolo-item-gap);
    }

    &.zolo-list-style-3 .zolo-list-title,
    &.zolo-list-style-4 .zolo-list-title {
        --zolo-title-margin: 0;
        margin: var(--zolo-title-margin);
        line-height: 1;
    }

    /* Demo css style 4  */
    &.zolo-list-style-4 .zolo-list-hover-icon {
        transform: translateX(-10px);
    }

    /* Demo css item hover style 1,2 */

    &.zolo-list-style-4 .zolo-list-item {
        padding: var(--zolo-item-padding);
        border-radius: var(--zolo-item-border-radius);
        background-color: transparent;
        justify-content: space-between;
    }

    &.zolo-list-style-4 .zolo-list-item:hover {
        background-color: #fff;
        box-shadow: 0 5px 30px 0 rgba(123, 136, 168, 0.2);
    }

    &.zolo-list-style-4 .zolo-list-item:hover {
        transform: translateY(-5px);
    }
    &.horizontal {
        display: grid !important;
        grid-template-columns: unset !important;
        .zolo-list-item {
            display: flex;
            justify-content: space-between;
            flex-direction: column;
            gap: 15px;
            align-items: center;
        }
        .zolo-list-icon-title-wrap {
            display: flex;
            align-items: center;
            width: 100%;
        }
        .zolo-list-icon {
            margin-right: 15px;
        }
        .zolo-list-desc,
        .zolo-list-title {
            margin: 0;
        }
        .zolo-list-desc-hover-icon {
            display: flex;
            gap: 20px;
        }
        .zolo-list-icon-and-content-wrap {
            align-items: center;
            gap: 0;
        }
        .zolo-list-desc-hover-icon,
        .zolo-list-icon-and-content-wrap {
            width: 100%;
        }
    }
}

.zolo-list-item-wrapper{
    display: flex;
}

.zolo-list-badge{
   padding-left: 20px;
}

@media (min-width: 768px) {
    .wp-block-zolo-list {
        &.horizontal {
            .zolo-list-item {
                flex-direction: row;
            }
        }
    }
}
