:root {
    --width: 500px;
    --text-path-circle-transition: 10000ms;
}

.wp-block-zolo-text-path {
    svg {
        width: var(--width);
        max-width: 100%;
        height: auto;
        overflow: visible;
        transform: rotate(5deg);
        path {
            fill: transparent;
        }
    }
    a.zolo-textpath {
        text-decoration: none;
    }

    @keyframes rotate-animation {
        0% {
            transform: rotate(0deg);
        }
        50% {
            transform: rotate(180deg);
        }
        100% {
            transform: rotate(360deg);
        }
    }
}
