.wp-block-zolo-icon {
    display: flex;
    align-items: center;
    justify-content: center;
    // font-size: 32px;
    // line-height: 1;
    // vertical-align: middle;

    .zolo__display-icon svg {
        width: 64px;
        height: 64px;
    }
}