.wp-block-zolo-progress-pie {
    .progress-pie-wrapper {
        position: relative;
        display: inline-block;
    }

    .progress-content {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        text-align: center;
    }
    .progress-pie-progress {
        transition:
            stroke-dasharray 1s cubic-bezier(0.15, 1.06, 0.58, 1),
            stroke-dashoffset 1s cubic-bezier(0.15, 1.06, 0.58, 1);
    }

    .progress-pie-text {
        -moz-transform: translateY(0.25em);
        -ms-transform: translateY(0.25em);
        -webkit-transform: translateY(0.25em);
        transform: translateY(0.25em);
    }

    .progress-pie-number {
        font-size: 5em;
        font-weight: 700;
        line-height: 1;
        text-anchor: middle;
		margin-bottom: 10px;
    }

    .progress-pie-label {
        font-size: 1em;
        line-height: 1;
        text-transform: uppercase;
        text-anchor: middle;
    }
}
