$color_1: #212126;
$color_2: #71737c;
$color_3: #fff;
$background-color_1: #f8f8f8;
$background-color_2: lightgreen;
$background-color_3: transparent;
$border-color_1: transparent;
$border-color_2: lightgreen;

.wp-block-zolo-cta {
    padding: 30px;
    border-radius: 6px;
    background-color: $background-color_1;
    box-sizing: border-box;
    overflow: hidden;
    .zolo-button {
        overflow: hidden;
        padding: 0px;
        background-color: $background-color_2;
        text-decoration: none;
        display: inline-flex;
        align-items: center;
        border-radius: 6px;
        border-width: 2px;
        border-style: solid;
        border-color: $border-color_1;
        transition: all 0.2s cubic-bezier(0.7, 0, 0.3, 1);
        &:hover {
            background-color: $background-color_3;
            border-color: $border-color_2;
            .zolo-text {
                color: $color_1;
                text-shadow: none;
            }
        }
    }
    .zolo-icon {
        padding: 12px;
        background-color: $background-color_2;
        transition: all 0.2s cubic-bezier(0.7, 0, 0.3, 1);
        svg {
            width: 18px;
            height: 18px;
            color: $color_3;
            display: block;
        }
    }
    .zolo-text {
        padding: 10px 0 10px 15px;
        color: $color_3;
        font-weight: 700;
        transition: all 0.2s cubic-bezier(0.7, 0, 0.3, 1);
    }
    .zolo-call-out__icon-right {
        .zolo-text {
            padding: 10px 0 10px 15px;
        }
        .zolo-button {
            &:hover {
                .zolo-text {
                    padding-right: 15px;
                }
            }
        }
    }
    .zolo-call-out__icon-left {
        .zolo-button {
            flex-direction: row-reverse;
            &:hover {
                .zolo-text {
                    padding-left: 15px;
                }
            }
        }
        .zolo-text {
            padding: 10px 15px 10px 0;
        }
    }

    .zolo-call-out {
        &.style-1 {
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: space-between;
            gap: 20px;
            .zolo-call-out__button {
                width: 100%;
                text-align: right;
                max-width: fit-content;
            }
        }
        &.reserve-position {
            flex-direction: row-reverse;
        }
    }
}

.zolo-call-out__title {
    margin: 0 0 10px;
    font-size: 26px;
    color: $color_1;
}
.zolo-call-out__text {
    color: $color_2;
}

@media (min-width: 768px) {
    .zolo-call-out__style-2 {
        .zolo-call-out {
            flex-direction: row;
        }
        .zolo-call-out__button {
            text-align: right;
        }
    }
    .zolo-call-out__style-3 {
        .zolo-call-out {
            flex-direction: row-reverse;
        }
    }
}
