.wp-block-zolo-cta {
    padding: 30px;
    border-radius: var(--zolo-item-border-radius);
    background-color: var(--zoloblocks-item-bg-color);
    border: 1px solid var(--zoloblocks-item-border-color);
    box-sizing: border-box;
    // overflow: hidden;
    .zolo-call-out__title {
        margin: 0 0 10px;
        font-size: 26px;
        color: #212126;
    }
    .zolo-call-out__text {
        color: #71737c;
        margin: 0;
        font-size: 16px;
        font-weight: 400;
    }

    .zolo-call-out__content {
        margin: 0 0 15px;
        width: 100%;
    }

    .zolo-button {
        padding: 7px 18px;
        background-color: var(--zoloblocks-brand-color);
        text-decoration: none;
        display: inline-flex;
        gap: 7px;
        align-items: center;
        transition: all 0.3s ease;
        border-radius: var(--zoloblocks-button-border-radius);
        color: var(--zoloblocks-brand-button-color);
        font-weight: 500;
        border: 2px solid var(--zoloblocks-brand-color);
        &:hover {
            color: var(--zoloblocks-brand-text-color);
            background-color: transparent;
            svg {
                fill: var(--zoloblocks-brand-text-color);
            }
        }
        svg {
            width: 16px;
            height: 16px;
            fill: var(--zoloblocks-brand-button-color);
            display: block;
        }

        &.secondary {
            background-color: transparent;
            color: var(--zoloblocks-brand-color);
            svg {
                fill: var(--zoloblocks-brand-color);
            }

            &:hover {
                color: var(--zoloblocks-brand-button-color);
                background-color: var(--zoloblocks-brand-color);
                svg {
                    fill: var(--zoloblocks-brand-button-color);
                }
            }
        }
    }

    .zolo-call-out__icon-left {
        .zolo-button {
            flex-direction: row-reverse;
        }
    }

    .zolo-call-out {
        &.style-1 {
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            gap: 20px;
            .zolo-call-out__buttons {
                width: 100%;
                text-align: right;
                max-width: fit-content;
            }
            .zolo-call-out__content {
                margin: 0;
            }
        }
        &.reserve-position {
            &.style-1 {
                flex-direction: row-reverse;
            }
        }
    }

    .zolo-call-out__buttons {
        display: inline-block;

        .zolo-call-out-btns-group {
            display: flex;
            justify-self: center;
            gap: 10px;
        }
    }
}

@media (min-width: 768px) {
    .wp-block-zolo-cta {
        .zolo-call-out {
            &.style-1 {
                flex-direction: row;
                align-items: center;
            }
        }
    }
}
