$color_1: #212126;
$color_2: #71737c;
$background-color_1: rgba(204, 209, 255, 0.122);

.wp-block-zolo-cta {
    padding: 30px;
    border-radius: 6px;
    background-color: $background-color_1;
    box-sizing: border-box;
    overflow: hidden;
    .zolo-call-out__title {
        margin: 0 0 10px;
        font-size: 26px;
        color: $color_1;
    }
    .zolo-call-out__text {
        color: $color_2;
        margin: 0;
        font-size: 16px;
        font-weight: 300;
    }

    .zolo-call-out__content {
        margin: 0 0 15px;
    }

    .zolo-button {
        padding: 7px 18px;
        background-color: lightgreen;
        text-decoration: none;
        display: inline-flex;
        gap: 7px;
        align-items: center;
        transition: all 0.2s cubic-bezier(0.7, 0, 0.3, 1);
        border-radius: 6px;
        color: #212126;
        font-weight: 500;
        border: 2px solid lightgreen;
        &:hover {
            background-color: transparent;
        }
    }

    .zolo-call-out__icon-left {
        .zolo-button {
            flex-direction: row-reverse;
        }
    }

    .zolo-call-out {
        &.style-1 {
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            gap: 20px;
            .zolo-call-out__button {
                width: 100%;
                text-align: right;
                max-width: fit-content;
            }
            .zolo-call-out__content {
                margin: 0;
            }
        }
        &.reserve-position {
            flex-direction: row-reverse;
        }
    }
}

@media (min-width: 768px) {
    .wp-block-zolo-cta {
        .zolo-call-out {
            &.style-1 {
                flex-direction: row;
                align-items: center;
            }
        }
    }
}
