.wp-block-zolo-advanced-icon-box {
    position: relative;
    box-sizing: border-box;
    display: block;
    // overflow: hidden;

    .zolo-block-item {
        padding: clamp(1.875rem, 4vw, 2.5rem);
        border-radius: var(--zolo-item-border-radius);
        background-color: var(--zoloblocks-item-bg-color);
        border: 1px solid var(--zoloblocks-item-border-color);
        box-sizing: border-box;
        display: block;
        transition: all 0.3s ease;
        position: relative;
    }

    a {
        text-decoration: none;
    }

    .zolo-block-title {
        font-size: clamp(1.25rem, 2.5vw, 1.3rem);
        font-weight: 700;
        color: #2f2f44;
        margin: 0 0 clamp(0.625rem, 1vw, 0.75rem);
        line-height: 1.2;
    }

    .zolo-block-desc {
        font-size: clamp(0.75rem, 1.5vw, 0.875rem);
        color: #51515d;
    }

    .zolo-block-icon-wrap {
        margin: 0 0 clamp(0.938rem, 2.3vw, 1.3rem);
        img {
            width: clamp(3.125rem, 5vw, 3.75rem);
            height: auto;
        }
        svg {
            display: inline-block;
            width: clamp(1.125rem, 5vw, 2.75rem);
            height: clamp(1.125rem, 5vw, 2.75rem);
            transition: 0.2s ease-in-out;
            box-sizing: content-box;
            fill: var(--zoloblocks-brand-color);
        }
    }

    .zolo-block-body-content {
        z-index: 1;
        position: relative;
        .zolo-block-link-btn {
            margin-top: 10px;
        }
        .zolo-box-button {
            display: inline-flex;
            gap: 8px;
            align-items: center;
            font-size: 14px;
            transition: all 0.3s ease;
            color: #141820;
            font-weight: 700;
            &:hover {
                color: var(--zoloblocks-button-hover-color);
            }
            svg {
                width: 16px;
                height: 16px;
                fill: #000;
                display: block;
            }
        }
    }

    /* icon box style 2 */
    &.style-2,
    &.style-3 {
        .zolo-block-item {
            display: flex;
            grid-gap: clamp(0.625rem, 1.5vw, 1rem);
        }

        .zolo-block-icon-wrap {
            display: flex;
        }

        .zolo-block-body-content {
            width: 100%;
        }
    }
    /* icon box style 3 */
    &.style-3 {
        .zolo-block-item {
            flex-direction: row-reverse;
        }

        // .zolo-block-body-content {
        //     text-align: right;
        // }
    }

    .zolo-ribbon-btn {
        position: absolute;
        top: 0;
        margin: clamp(1.875rem, 4vw, 2.5rem);
        background-color: var(--zoloblocks-brand-color);
        color: #fff;
        font-size: 12px;
        padding: 4px 10px;
        border-radius: 2px;
        &.zolo-ribbon-btn.top__right {
            right: 0;
        }
        &.zolo-ribbon-btn.top__left {
           left: 0;
        }
    }
}
