.wp-block-zolo-advanced-icon-box {
	.zolo-block-title {
		font-size: 25px;
		font-weight: 700;
		text-transform: capitalize;
	}

	.zolo-block-desc {
		line-height: 1.6;
	}

	.zolo-box-button {
		border: 1px solid #32de23;
		border-radius: 30px;
		padding: 10px 15px;
	}

	.zolo-block-icon-wrap span {
		font-size: 35px;
		height: 35px;
		width: 35px;
	}

	/* icon box style 1 */
	& .zolo-block-advanced-icon-box-style-1 {
		.zolo-block-icon-wrap {
			display: flex;
		}
	}
	/* icon box style 2 */
	& .zolo-block-advanced-icon-box-style-2 {
		.zolo-block-item {
			display: inline-flex;
			grid-gap: 20px;
			padding: 30px;
		}
	}

	/* icon box style 3 */
	& .zolo-block-advanced-icon-box-style-3 {
		.zolo-block-item {
			display: flex;
			flex-direction: row-reverse;
			grid-gap: 20px;
		}
	}
	/* General Styles */

	.zolo-block-advanced-icon-box {
		text-decoration: none;
		color: inherit;
		.zolo-block-item {
			border: 1px solid rgba(247, 247, 247, 0.829);
			padding: 30px;
			transition: border 0.3s ease;
			position: relative;
			overflow: hidden;
			border-radius: 10px;
			background: rgba(147, 255, 170, 0.15);

			.zolo-block-icon-wrap {
				display: flex;
				span {
					display: table;
				}
			}

			.zolo-block-body-content {
				z-index: 1;
				position: relative;

				& .zolo-block-link-btn {
					margin-top: 22px;
					display: flex;
					& .zolo-box-button {
						display: inline-flex;
						align-items: center;
						justify-content: center;
						cursor: pointer;
						text-align: center;
						text-decoration: none;
						font-size: 14px;
						text-transform: capitalize;
						transition: all 0.3s ease;
						& .zolo-button-icon {
							padding: 3px 5px;
							display: block;
						}
						& p {
							margin: 0px;
						}
					}
				}
			}
			& .zolo-block-hover-icon {
				display: none;
			}
		}
	}

	.zolo-block-advanced-icon-box .zolo-block-item:hover {
		border-color: #32de23;
	}

	// .zolo-block-advanced-icon-box
	// 	.zolo-block-link-btn
	// 	.zolo-box-button {
	// 	color: #fff;
	// }
}

.zb-res-device-btns {
	margin-bottom: 20px;
}

// tablet view
@media (max-width: 1024px) {
	.zolo-advanced-icon {
		font-family: inherit;
	}
}

// mobile view
@media (max-width: 767px) {
	.zolo-advanced-icon {
		font-family: inherit;
	}
}
