.zolo-navmenu-item {
    .zolo-navmenu-link {
        text-decoration: none;
    }

    .zolo-navmenu-submenu-wrapper {
        position: absolute;
        width: 100%;
        height: auto;
        left: 0;
        top: 100%;
        visibility: hidden;
        opacity: 0;
        z-index: 10;
        pointer-events: none;
        box-sizing: border-box;
        transition: all 0.4s ease;

        & > .wp-block-zolo-navmenu-submenu .zolo-navmenu-submenu-wrapper {
            top: 0;
            left: 100%;
            width: 100%;
        }
    }

    &:hover .zolo-navmenu-submenu-wrapper, &.is-selected .zolo-navmenu-submenu-wrapper, &.has-child-selected .zolo-navmenu-submenu-wrapper {
        visibility: visible;
        opacity: 1;
        pointer-events: all;
    }

    &.has-megamenu{
        position: static;
    }
}