.wp-block-zolo-review-grid {
    .block-editor-block-list__layout {
        display: grid;
        box-sizing: border-box;
        gap: 30px;
        grid-template-columns: repeat(1, 1fr);
    }
}

// Tablet
@media screen and (min-width: 768px) {
    .wp-block-zolo-review-grid {
        .block-editor-block-list__layout {
            grid-template-columns: repeat(2, 1fr);
        }
    }
}

// Desktop
@media screen and (min-width: 1024px) {
    .wp-block-zolo-review-grid {
        .block-editor-block-list__layout {
            grid-template-columns: repeat(2, 1fr);
        }
    }
}
